/*2018-03-06*/
/*公用样式*/
.pd24{padding: 0.32rem;}
.pl24{padding-left: 0.32rem;}
.pr24{padding-right: 0.32rem;}
.pt24{padding-top: 0.32rem;}
.pb24{padding-bottom: 0.32rem;}
.mt24{ margin-top: 0.32rem;}
.fl{float: left;}
.fr{float: right;}
.bg{ background: #f7f7f7;}
em,i{ font-style: normal;}


/*个人中心*/
.header{ background: url(../images/userhome/headbg.png) left top no-repeat; background-size: 100% auto;}
.signbox{ float: left; width: 50%;}
.sign_set{ overflow: hidden; color: #fff;}
.set a{ color: #fff;}
.sign_icon{ width:0.64rem; height: 0.64rem; float: left;margin-right: 0.1rem; color: #fff;}
.signbox a{ font-size:0.32rem; line-height:0.53rem; color: #fff; float: left; padding-top: 0.1rem;}
.userInfoBox{ border-radius: 0.32rem; background: #fff; margin: 0 0.32rem; padding: 0.32rem; padding-right: 0; overflow: hidden;
-moz-box-shadow:0px 16px 24px rgba(255,87,34,.1); -webkit-box-shadow:0px 16px 24px rgba(255,87,34,.1); box-shadow:0px 16px 24px rgba(255,87,34,.1);
}
.Info{ padding-bottom: 0.32rem; overflow: hidden;}
.userImg{ float: left; width:1.7rem; margin-right: 0.32rem;}
.userImg img{ border-radius: 100%; border: 2px solid rgba(255,255,255, 0.2); width: 100%;}
.userInfo{ float: left; margin-top: 0.21rem;}
.userInfo h2{ font-size: 0.42rem; color: #212121; margin-bottom: 0.21rem; line-height: 0.53rem;}
.pointsBox{ overflow: hidden; margin-bottom: 0.21rem;}
.pointsBox div{float:left; font-size:0.32rem; line-height: 0.53rem; border-radius:0.26rem; height: 0.53rem; padding: 0.1rem 0.26rem; margin-right: 0.21rem;}
.pointsBox .member{ background: #fff8e1; border:1px #ffc107 solid; color: #ffb300; height: 0.5rem;}
.pointsBox .point{ color: #ff8f00; border:1px #ffecb2 solid; 
    background:#ffecb3; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #ffecb2, #ffd550);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ffecb2), to(#ffd550));  
    background:-o-linear-gradient(top, #ffd54f, #ffd550);
    background:linear-gradient(to top, #ffd54f, #ffd550);  padding-left: 0.1rem; }
.pointsBox .point img{ width: 0.42rem; height: 0.42rem; margin-right: 0.1rem; float: left;  margin-top: 0.05rem;}    
.pointsBox .point em{ display: inline-block; line-height:0.53rem}
.Distribution{ float: right; color: #fff; font-size: 0.32rem; line-height: 0.74rem; border-radius: 0.37rem 0 0 0.37rem; padding: 0 0.37rem;
 	background:#f57c00; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #f57c00, #ff9800);  
    background:-webkit-gradient(left, 0 0, 0 bottom, from(#f57c00), to(#ff9800));  
    background:-o-linear-gradient(right, #f57c00, #ff9800);
    background: linear-gradient(to right, #f57c00, #ff9800); /* 标准的语法 */
}
.Distribution a{ color: #fff;}
.Collection_Consultation{padding: 0.32rem 1.28rem 0.32rem 1.28rem; margin-right: 0.32rem; border-top: 1px #f0f0f0 solid;}
.Collection,.Consultation{width: 2.77rem;}
.Consultation{ text-align: right;}
.Collection span,.Consultation span{ width: 1.04rem; text-align: center; line-height: 0.64rem; font-size: 0.48rem; color: #212121; display:block;}
.Collection em,.Consultation em{ width: 1.04rem; font-size: 0.29rem; color: #bdbdbd; line-height: 0.53rem;}
.Consultation span{ width: 2.35rem; text-align: right;}

/*我的订单*/
.user_order{ padding:0 0.32rem; margin: 0.32rem 0; background: #fff;}
.user_order .hd{ padding: 0.32rem 0; border-bottom: 1px #f7f7f7 solid; line-height: 0.53rem; overflow: hidden;}
.user_order .hd span{ float: left; font-size: 0.4rem; color:#212121;}
.user_order .hd a{ color: #747474; font-size: 0.37rem; float:right;}
.user_order .hd a em{ margin-left: 0.1rem; font-size:0.42rem; font-size: 0.42rem; height: 0.42rem; padding-top:0.21rem}
.order_num{ padding: 0.32rem 0; overflow: hidden; width: 100%;}
.order_num li{ float: left; width: 20%; text-align: center; position: relative;}
.order_num li em{ position: absolute; background: #ff5252; border-radius: 0.32rem; right: 0.32rem; top: 0; color: #fff; padding: 0.05rem 0.16rem;}
.order_num li div{ display:block; color: #000;}
.order_num li span{ font-size: 0.32rem; color: #424242; line-height: 0.53rem;}

/*个人中心常用功能*/
.commonBox{ padding: 0 0.32rem; margin-bottom: 1.3rem; background: #fff; overflow: hidden;}
.commonBox .hd{ padding: 0.32rem 0; line-height: 0.53rem; font-size: 0.4rem; color: #212121;}
.commonList{ overflow: hidden;}
.commonList ul{border-top: 1px #f7f7f7 solid;}
.commonList ul li{ float: left; width: 33.3%; display: block; text-align: center; border-bottom: 1px #f7f7f7 solid; padding: 0.32rem 0;}
.commonList ul li a{ display: inline-block;}
.commonList ul li a img{width:auto; height:0.42rem; text-align: center; vertical-align: middle; overflow: hidden; margin: 0.1rem auto;}
.commonList ul li a img.height36{height:0.48rem;}
.commonList ul li a img.height40{height:0.53rem;}
.commonList ul li a span{ font-size: 0.32rem; color: #515151; line-height: 0.53rem; display: block;}
.commonList ul li a em{ display: block; color: #515151; font-size: 0.29rem; line-height: 0.53rem; height: 0.53rem; }
.commonList ul li a em.fontstyle{ color: #ff5252; font-size: 0.29rem; line-height: 0.53rem; display: block;
background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#9c27b0), to(#e91e63));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*分销中心*/
.fx_header{ background: url(../images/feixiao_header.png) left top no-repeat; background-size: 100% auto; padding-top: 0.32rem;}
.fx_Info{ overflow: hidden;}
.fxInfoBox{ border-radius: 0.32rem; background: #fff; margin: 0.32rem; margin-bottom: 0; padding: 0.32rem 0 0 0.32rem; overflow: hidden;
-moz-box-shadow:0px 5px 20px rgba(156,39,176,.4); -webkit-box-shadow:0px 5px 20px rgba(156,39,176,.4); box-shadow:0px 5px 20px rgba(156,39,176,.4);
}
.fx_userInfo{ float: left;}
.fx_hd{ overflow: hidden; margin-bottom: 0.1rem; line-height: 0.64rem;  }
.fx_name{font-size: 0.42rem; font-weight:bold; color: #212121; margin-right: 0.21rem; float: left;}
.btn{ background: #fff8e1; line-height: 0.53rem; color: #ffb300; font-size:0.26rem; padding: 0 0.21rem; float: left; border:1px #ffc107 solid; border-radius:0.21rem;}
.name_desc{ color: #747474; font-size: 0.32rem; line-height: 0.53rem; margin-bottom: 0.32rem; font-weight: 500;}
.name_desc b{ color: #212121; margin: 0 0.1rem;}
.drawalsBox{border-top: 1px #f0f0f0 solid; overflow: hidden; padding: 0.32rem; padding-left: 0;}
.drawals{ width:33.3%; float: left;}
.drawals div{ font-size: 0.42rem; font-weight:550; color: #212121; display: block; line-height: 0.64rem; text-align: center;}
.drawals div i{ font-size: 0.32rem; margin-right: 0.05rem;}
.drawals em{ font-size: 0.29rem; line-height: 0.53rem; color: #bdbdbd; text-align: center; display: block;}
.fx_common{padding: 0 0.32rem; background: #fff; overflow: hidden; margin-top: 0.42rem; }
.fx_common ul li{ width: 100%; border-bottom:1px #f7f7f7 solid; padding: 0.32rem 0; font-size: 0.4rem; color: #212121; line-height: 0.64rem;}
.fx_common ul li a{ color: #212121; line-height: 0.64rem; display: block;}
.fx_common ul li a em{ float: left; margin-right: 0.1rem; width: 0.64rem; height: 0.64rem; font-size:0.64rem;}
.fx_common ul li a i{ float: right; color: #c2c2c2; font-size: 0.42rem;}

/*快速跳转*/
.wx_aside {
    position: fixed;
    z-index: 99;
    right: 0.5rem;
    bottom: 3.5rem;
    width: 1.8rem;
}

    .wx_aside .btn_more {
        width: 1.5rem;
        height: 1.5rem;
        background: url(../images/fab_more.png) no-repeat;
        background-size: 100%;
        display: block;
    }

.wx_aside_item {
    display: none;
    border-radius: 0.4rem;
    position: absolute;
    top: -4.8rem;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 4rem;
}

    .wx_aside_item a {line-height: 1rem;
    height: 1rem;
    overflow: hidden;
    display: block;
    margin: 0 0.75rem;
    border-bottom: 1px solid #ebebeb;
    font-size: 0.32rem;
    color: #212121;
    }

        .wx_aside_item a i {
            font-size: 1.2rem;
            margin-right: 0.25rem;
            margin-top: 0.35rem;
            display: inline-block;
            float: left;
        }

    .wx_aside_item:after {
        content: '';
        display: inline-block;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-top: 0.5rem solid #fff;
        position: absolute;
        bottom: -0.4rem;
        right: 0.75rem;
    }

    .wx_aside_item:before {
        content: '';
        display: inline-block;
        border-left: 0.6rem solid transparent;
        border-right: 0.6rem solid transparent;
        border-top: 0.5rem solid #ddd;
        position: absolute;
        bottom: -0.47rem;
        right: 0.65rem;
    }

    .wx_aside_item a:last-child {
        border-bottom: 0 none;
    }
    
/*end*/
.member_tips {
    position: fixed;
    top: 0;
    color: red;
    left: 0;
    width: 100%;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
    background: rgba(255,193,7,0.9);
    padding: 0 0.5rem 0 0.5rem;
}

    .member_tips a {
        color: #fff;
        font-size: 0.32rem;
    }    

.icon_warning {
    width: 0.6rem;
    height: 0.6rem;
    background: url(../images/icon_warning.png);
    margin: 0.30rem 0.25rem 0 0;
    background-size: 100% 100%;
    display: inline-block;
    float: left;
}    
    
    
/*end*/
/*主菜单*/
.menuNav {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.2rem;
    z-index: 102;
    background: rgba(255,255,255,.95);
    border-top: 0.05rem solid #eeeeee;
    z-index: 1;
}

.fulltext p span {
    background: none;
    font-size: 0.6rem !important;
}

.menuNav ul li {
    height: 100%;
    float: left;
}

.navcontent img {
    height: 1rem !important;
    width: 1rem !important;
}

.navcontent a {
    font-size: 0.5rem;
}

.navcontent img {
    display: block;
    margin: 0 auto 2px;
}

.navcontent {
    padding: 0.2rem;
    text-align: center;
}
/*end*/

/*个人中心底部*/
.userNav{ height: auto!important;}
.userNav .navcontent img{    height: 0.5rem !important;    width: 0.5rem !important;}
.userNav .navcontent a{font-size: 0.32rem; color: #212121;}

/*弹框样式*/
/*modal*/
.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modal.fade .modal-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {position: fixed;
    top: 40%;
    z-index: 9;
    width: 74%;
    left: 13%;
    border: 1px #e0e0e0 solid;
    background: #fff;
    border-radius: 16px;
    padding: 3%;
}

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0;
    outline: 0; padding-top: 0.5rem; border: none;
    box-shadow: none;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

    .modal-backdrop.fade {
        filter: alpha(opacity=0);
        opacity: 0;
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: .5;
    }

.modal-header { 
    font-size: 0.8rem;
    text-align: center;
    border: 0;
}

    .modal-header .close {
        margin-top: -0.1rem;
        display: none;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143; font-size: 0.5rem;
}

.modal-body { 
    padding-top: 0.2rem;
    text-align: left;
    border-bottom: 0px;
    border-radius: 0;
    font-size: 0.42rem;
    border-bottom: 0;
    line-height: 0.7rem; margin-bottom: 0.5rem;
}



.modal-footer {
    height: 1.3rem;
    overflow: hidden;
    display: table;
    width: 100%;
    border-collapse: collapse; margin-bottom: 0.32rem; 
}

.modal-footer button.btn-primary{    border: 1px solid #dedede;
    height: 1.3rem;
    font-size:0.42rem;
    line-height: 1.3rem;
    border-radius: 0.32rem!important;}
    
    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 0.25rem;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 2.5rem;
    height: 2.5rem;
    overflow: scroll;
}

.modal-footer button {
    width: 50%;
    float: right;
    height: 2.2rem;
    line-height: 2.2rem;
    border: 0;
    padding: 0;
    background: none;
    color: #666;
    font-size: 0.7rem;
}

    .modal-footer button:first-child {
        position: absolute;
        left: 0;
    }

    .modal-footer button:last-child {
        border: 1px solid #dedede; 
    }
/*end*/

.icon_close {
    width: 0.26rem;
    height: 0.26rem;
    background: url(../images/icon_close.png);
    margin: 0.53rem 0.8rem 0 0;
    background-size: 100% 100%;
    display: inline-block;
    float: right;
}



/*字体图标库*/
@font-face {
  font-family: 'iconfont';  /* project id 581552 */
  src: url('https://at.alicdn.com/t/font_581552_ov9f5yuky9aiqkt9.eot');
  src: url('https://at.alicdn.com/t/font_581552_ov9f5yuky9aiqkt9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_581552_ov9f5yuky9aiqkt9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_581552_ov9f5yuky9aiqkt9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_581552_ov9f5yuky9aiqkt9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:0.64rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before { content: "\e66c"; }

.icon-icon_:before { content: "\e66d"; }

.icon-icon_1:before { content: "\e66e"; }

.icon-icon_2:before { content: "\e66f"; }

.icon-icon_3:before { content: "\e670"; }

.icon-order_:before { content: "\e671"; }

.icon-icon_4:before { content: "\e672"; }

.icon-order_1:before { content: "\e673"; }

.icon-icon_5:before { content: "\e674"; }

.icon-order_2:before { content: "\e675"; }

.icon-order_3:before { content: "\e676"; }

.icon-order_4:before { content: "\e677"; }

.icon-icon_7:before { content: "\e679"; }

.icon-Lable_:before { content: "\e678"; }

.icon-Lable_1:before { content: "\e67a"; }

.icon-Lable__p:before { content: "\e67b"; }

.icon-Lable__p1:before { content: "\e67c"; }

.icon-Lable__p2:before { content: "\e67d"; }

.icon-Lable_2:before { content: "\e67e"; }

.icon-Lable_3:before { content: "\e67f"; }

.icon-Lable__p3:before { content: "\e680"; }




