<%<hi:common_header runat="server" />%>
<%<hi:common_rightlink runat="server" />%>

<div class="main2" id="main1">
    <div class="wrap">
        <div class="main" style=" margin-top:0px;">
            <div class="main-c">
                <div class="main-c-hd">
                    <script src="/Templates/master/blue/js/MogFocus.js" type="text/javascript"></script>
                    <hi:common_slidead runat="server" adid="3" isdelayedloading="true"></hi:common_slidead>
                </div>
                <ul class="main-c-bd">
                    <li><hi:common_imagead adid="13" runat="server" isdelayedloading="true"></hi:common_imagead></li>
                    <li><hi:common_imagead adid="14" runat="server" isdelayedloading="true"></hi:common_imagead></li>
                    <li><hi:common_imagead adid="15" runat="server" isdelayedloading="true"></hi:common_imagead></li>
                    <li class="bor-r-none"><hi:common_imagead adid="12" runat="server" isdelayedloading="true"></hi:common_imagead></li>
                </ul>
            </div>
            <div class="main-r">
                <div class="main-r-hd">
                    <hi:common_customad adid="84" runat="server" isdelayedloading="true"></hi:common_customad>
                </div>
                <div class="main-r-bd">
                    <div class="main-r-bd-title">
                        <h2 class="float-l"><hi:common_subjecttitle commentid="41" runat="server" isdelayedloading="true"></hi:common_subjecttitle></h2>
                        <span class="float-r"><a href="/Affiches.aspx">更多>></a> </span>
                    </div>
                    <ul>
                        <%
                        <hi:common_affichelist runat="server" templatefile="/ascx/tags/Common_Comment/Skin-Common_AfficheList.ascx" maxnum="6" />%>
                    </ul>
                </div>
                <div class="main-r-ft"><hi:common_imagead adid="74" runat="server" isdelayedloading="true"></hi:common_imagead></div>
            </div>
        </div>
        <div class="limit" style="clear:both;">
            <div class="limit-l">
                <div class="limit-l-hd">
                    <h2><hi:common_subjecttitle commentid="19" runat="server" isdelayedloading="true"></hi:common_subjecttitle></h2>
                    <span><a href="#">每日精选上新</a></span>
                </div>
                <div class="limit-l-bd">
                    <hi:common_subjectproduct_simple subjectid="11" runat="server" isdelayedloading="true"></hi:common_subjectproduct_simple>
                </div>
            </div>
            <div class="limit-r">
                <div class="limit-r-hd">
                    <h2><hi:common_subjecttitle commentid="20" runat="server" isdelayedloading="true"></hi:common_subjecttitle></h2>
                </div>
                <div class="limit-r-bd">

                    <script src="/Utility/time.js" type="text/javascript"></script>
                    <div id="wrap1" class="box">
                        <ul>
                            <hi:common_goodslist_latestgroupbuy runat="server" maxnum="5"></hi:common_goodslist_latestgroupbuy>
                        </ul>
                    </div><!-- end box -->
                    <div id="prev1"><img src="/images/blue/t_prev.jpg"></div>
                    <div id="next1"><img  src="/images/blue/t-next.jpg"></div>
                </div>
            </div>
        </div>
        <div class="gg">
            <hi:common_imagead adid="53" runat="server" isdelayedloading="true"></hi:common_imagead>
        </div>
        <div class="model">
            <div class="model-l"><hi:common_imagead adid="61" runat="server" isdelayedloading="true"></hi:common_imagead></div>
            <div class="model-c">
                <div class="model-c-hd">
                    <ul id="myTab">
                        <li class="active" id="tabFirst" onmouseover="nTabs(this,0);"><hi:common_subjecttitle commentid="33" runat="server" isdelayedloading="true"></hi:common_subjecttitle></li>
                        <li class="normal" onmouseover="nTabs(this,1);"><hi:common_subjecttitle commentid="34" runat="server" isdelayedloading="true"></hi:common_subjecttitle></li>
                        <li class="normal" onmouseover="nTabs(this,2);"><hi:common_subjecttitle commentid="35" runat="server" isdelayedloading="true"></hi:common_subjecttitle></li>
                        <li class="normal" onmouseover="nTabs(this,3);"><hi:common_subjecttitle commentid="36" runat="server" isdelayedloading="true"></hi:common_subjecttitle></li>
                    </ul>
                </div>
                <div class="model-c-bd">
                    <div id="myTab_Content0"><hi:common_subjectproduct_simple subjectid="16" runat="server" isdelayedloading="true"></hi:common_subjectproduct_simple></div>
                    <div id="myTab_Content1" class="none"><hi:common_subjectproduct_simple subjectid="10" runat="server" isdelayedloading="true"></hi:common_subjectproduct_simple></div>
                    <div id="myTab_Content2" class="none"><hi:common_subjectproduct_simple subjectid="18" runat="server" isdelayedloading="true"></hi:common_subjectproduct_simple></div>
                    <div id="myTab_Content3" class="none"><hi:common_subjectproduct_simple subjectid="19" runat="server" isdelayedloading="true"></hi:common_subjectproduct_simple></div>
                </div>
                <div class="model-c-ft">
                    <ul>
                        <li><hi:common_imagead adid="70" runat="server" isdelayedloading="true"></hi:common_imagead></li>
                        <li><hi:common_imagead adid="71" runat="server" isdelayedloading="true"></hi:common_imagead></li>
                        <li><hi:common_imagead adid="72" runat="server" isdelayedloading="true"></hi:common_imagead></li>
                        <li class="bor-r-none"><hi:common_imagead adid="73" runat="server" isdelayedloading="true"></hi:common_imagead></li>
                    </ul>
                </div>
            </div>
            <div class="model-r">
                <div class="model-r-hd">
                    <h2>排行榜</h2>
                </div>
                <div class="model-r-bd">
                    <hi:common_subjectproduct_top runat="server" subjectid="20" isdelayedloading="true"></hi:common_subjectproduct_top>
                </div>
            </div>
        </div>
        <div class="gg">
            <hi:common_imagead adid="54" runat="server" isdelayedloading="true"></hi:common_imagead>
        </div>
        <div class="floor floor-first">
            <div class="floor-hd">
                <div class="floor-hd-l">
                    <h2><hi:common_subjecttitle commentid="21" runat="server" isdelayedloading="true"></hi:common_subjecttitle></h2>
                </div>
                <div class="floor-hd-r">
                    <hi:common_subjectkeyword commentid="25" runat="server" isdelayedloading="true"></hi:common_subjectkeyword>
                    <hi:common_subjectmorelink commentid="29" runat="server" isdelayedloading="true"></hi:common_subjectmorelink>
                </div>
            </div>
            <div class="floor-bd">
                <div class="floor-bd-l">
                    <div><hi:common_imagead adid="27" runat="server" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="floor-key">
                        <hi:common_subjectcategory commentid="37" runat="server" isdelayedloading="true"></hi:common_subjectcategory>
                    </div>
                    <div class="floor-sale">
                        <hi:common_customad adid="66" runat="server" isdelayedloading="true"></hi:common_customad>
                    </div>
                </div>
                <div class="floor-bd-r">
                    <hi:common_subjectproduct_simple subjectid="12" runat="server" isdelayedloading="true"></hi:common_subjectproduct_simple>
                </div>
            </div>
        </div><!-- end floor-first -->
        <div class="floor floor-two">
            <div class="floor-hd">
                <div class="floor-hd-l">
                    <h2><hi:common_subjecttitle commentid="22" runat="server" isdelayedloading="true"></hi:common_subjecttitle></h2>
                </div>
                <div class="floor-hd-r">
                    <hi:common_subjectkeyword commentid="26" runat="server" isdelayedloading="true"></hi:common_subjectkeyword>
                    <hi:common_subjectmorelink commentid="45" runat="server" isdelayedloading="true"></hi:common_subjectmorelink>
                </div>
            </div>
            <div class="floor-bd">
                <div class="floor-bd-l">
                    <div><hi:common_imagead adid="58" runat="server" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="floor-key">
                        <hi:common_subjectcategory commentid="38" runat="server" isdelayedloading="true"></hi:common_subjectcategory>
                    </div>
                    <div class="floor-sale">
                        <hi:common_customad adid="67" runat="server" isdelayedloading="true"></hi:common_customad>
                    </div>
                </div>
                <div class="floor-bd-r">
                    <hi:common_subjectproduct_simple subjectid="13" runat="server" isdelayedloading="true"></hi:common_subjectproduct_simple>
                </div>
            </div>
        </div><!-- end floor-two -->
        <div class="gg">
            <hi:common_imagead adid="55" runat="server" isdelayedloading="true"></hi:common_imagead>
        </div>
        <div class="floor floor-three">
            <div class="floor-hd">
                <div class="floor-hd-l">
                    <h2><hi:common_subjecttitle commentid="23" runat="server" isdelayedloading="true"></hi:common_subjecttitle></h2>
                </div>
                <div class="floor-hd-r">
                    <hi:common_subjectkeyword commentid="27" runat="server" isdelayedloading="true"></hi:common_subjectkeyword>
                    <hi:common_subjectmorelink commentid="31" runat="server" isdelayedloading="true"></hi:common_subjectmorelink>
                </div>
            </div>
            <div class="floor-bd">
                <div class="floor-bd-l">
                    <div><hi:common_imagead adid="59" runat="server" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="floor-key">
                        <hi:common_subjectcategory commentid="39" runat="server" isdelayedloading="true"></hi:common_subjectcategory>
                    </div>
                    <div class="floor-sale">
                        <hi:common_customad adid="68" runat="server" isdelayedloading="true"></hi:common_customad>
                    </div>
                </div>
                <div class="floor-bd-r">
                    <hi:common_subjectproduct_simple subjectid="14" runat="server" isdelayedloading="true"></hi:common_subjectproduct_simple>
                </div>
            </div>
        </div><!-- end floor-three -->
        <div class="floor floor-four">
            <div class="floor-hd">
                <div class="floor-hd-l">
                    <h2><hi:common_subjecttitle commentid="24" runat="server" isdelayedloading="true"></hi:common_subjecttitle></h2>
                </div>
                <div class="floor-hd-r">
                    <hi:common_subjectkeyword commentid="28" runat="server" isdelayedloading="true"></hi:common_subjectkeyword>
                    <hi:common_subjectmorelink commentid="32" runat="server" isdelayedloading="true"></hi:common_subjectmorelink>
                </div>
            </div>
            <div class="floor-bd">
                <div class="floor-bd-l">
                    <div> <hi:common_imagead adid="60" runat="server" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="floor-key">
                        <hi:common_subjectcategory commentid="40" runat="server" isdelayedloading="true"></hi:common_subjectcategory>
                    </div>
                    <div class="floor-sale">
                        <hi:common_customad adid="69" runat="server" isdelayedloading="true"></hi:common_customad>
                    </div>
                </div>
                <div class="floor-bd-r">
                    <hi:common_subjectproduct_simple subjectid="15" runat="server" isdelayedloading="true"></hi:common_subjectproduct_simple>
                </div>
            </div>
        </div><!-- end floor-four -->
        <div class="comment-wrap">
            <div class="comment-wrap-l">
                <div class="comment-wrap-l-hd">
                    <h2><hi:common_subjecttitle commentid="43" runat="server" isdelayedloading="true"></hi:common_subjecttitle></h2>
                </div>
                <div class="comment-wrap-l-bd">
                    <div class="float-l mr3 mt1"><hi:common_imagead adid="75" runat="server" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="float-l">

                        <hi:common_imagead adid="76" runat="server" isdelayedloading="true"></hi:common_imagead>
                        <hi:common_imagead adid="77" runat="server" isdelayedloading="true"></hi:common_imagead>
                    </div>
                </div>
            </div>
            <div class="comment-wrap-r">
                <div class="comment-wrap-r-hd">
                    <h2><hi:common_subjecttitle commentid="44" runat="server" isdelayedloading="true"></hi:common_subjecttitle></h2>
                </div>
                <div class="comment-wrap-r-bd">
                    <ul>
                        <%
                        <hi:common_latestreview maxnum="4" templatefile="/hometags/Skin-Common_LatestReview.ascx" runat="server" /> %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gg">
            <hi:common_imagead adid="26" runat="server" isdelayedloading="true"></hi:common_imagead>
        </div>
    </div><!-- end wrap -->
    <!-- 团购 & 小轮播 -->
    <script src="/Templates/master/blue/js/marquee.js"></script>
    <script type="text/javascript">
        $(function () {
            var slider1 = $('#wrap1').unslider();
            $("#next1").click(function () {
                slider1.data('unslider').next();
            });
            $("#prev1").click(function () {
                slider1.data('unslider').prev();
            });

            var slider2 = $('#wrap2').unslider();
            $("#next2").click(function () {
                slider2.data('unslider').next();
            });
            $("#prev2").click(function () {
                slider2.data('unslider').prev();
            });

        })
    </script>
    <!--xuanxiangka-->
    <script type="text/javascript">
        function nTabs(thisObj, Num) {
            if (thisObj.className == "active") return;
            var tabObj = thisObj.parentNode.id;
            var tabList = document.getElementById(tabObj).getElementsByTagName("li");
            for (i = 0; i < tabList.length; i++) {
                if (i == Num) {
                    thisObj.className = "active";
                    document.getElementById(tabObj + "_Content" + i).style.display = "block";
                } else {
                    tabList[i].className = "normal";
                    document.getElementById(tabObj + "_Content" + i).style.display = "none";
                }
            }
        }
    </script>
</div>
<!--OrderList-->
<script>
    function startmarquee(lh, speed, delay, id) {
        var t;
        var p = true;
        var o = document.getElementById(id);
        o.innerHTML += o.innerHTML;
        o.onmouseover = function () { p = true; }
        o.onmouseout = function () { p = false; }
        o.scrollTop = 0;
        function start() {
            t = setInterval(scrolling, speed);
            if (!p) o.scrollTop += 2;
        }
        function scrolling() {
            if (o.scrollTop % lh != 0) {
                o.scrollTop += 2;
                if (o.scrollTop >= o.scrollHeight / 2) o.scrollTop = 0;
            } else {
                clearInterval(t);
                setTimeout(start, delay);
            }
        }
        setTimeout(start, delay);
    }

    startmarquee(146, 30, 3000, 'div4');

</script>
<!--main-content结束-->
<%<hi:common_footer runat="server" skinname="/hometags/Skin-Common_DefaultFooter.ascx" />%>