<%<hi:common_header runat="server" />%>
<%<hi:common_rightlink runat="server" />%>
 
<style type="text/css">
	body {background: #f3f3f3;}
	.main-content {width: auto;}
	.main1 {width: 1180px; margin: 0 auto;}
   .top .top-main,.top .top-search,.nav-wrap {width: 1180px;}
</style>
<div class="main_index" id="main">
<div class="mainlunbo"><script src="/utility/Tags/MogFocus.js" type="text/javascript"></script>
        <hi:common_slidead runat="server" adid="11" isdelayedloading="true" isfullscreen="true"></hi:common_slidead>
        <script type="text/javascript">
        $(function () {
            var Width = $(window).width();
            $("#ads_11").mogFocus({ scrollWidth: Width });
        });
    </script></div>

<div class="main1">
<div class="box1"><hi:common_imagead runat="server" adid="29"></hi:common_imagead></div>
<div class="box2"><div class="conentyl"><span><hi:common_customad runat="server" adid="18"></hi:common_customad></span>
        <div class="box2_r"><div class="box2_top"><hi:common_customad runat="server" adid="19"></hi:common_customad></div>
        <em><hi:common_customad runat="server" adid="30"></hi:common_customad></em>
        </div></div></div>
        
 <div class="box3"><hi:common_customad runat="server" adid="31"></hi:common_customad></div>
 




<style>
.tab_img div{ height:485px;}
</style>

    <div class="main_p2">
        <div id="main_p2_l" class="main_p2_l">
            <div class="main_p2_tab">
                <script src="/utility/Tags/TagsHelper.js" type="text/javascript"></script>
                <hi:common_subjectproduct_tab runat="server" subjectid="2"></hi:common_subjectproduct_tab>
            </div>
        </div>
        <div id="main_p2_r" class="main_p2_r">
           <div class="notice_tab">
    <div class="notice_tab_hd">
    <em>网站公告</em><span></span>
    </div>
    <div class="bd">
    <ul>
    <%<Hi:Common_AfficheList runat="server" TemplateFile="/ascx/tags/Common_Comment/Skin-Common_AfficheList.ascx" MaxNum="4" />%>
    </ul>
    </div>
  

    </div>
    
     <div class="ad6"><hi:common_imagead runat="server" adid="6"></hi:common_imagead></div> 
        </div>
    </div>



        <div class="pro_floor3">
        <div class="floor_hd">
        <hi:common_subjecttitle runat="server" commentid="10"></hi:common_subjecttitle> 
        <hi:common_subjectmorelink runat="server" commentid="9"></hi:common_subjectmorelink>
        </div>
        <div class="floor_bd">
        <div class="floor_l">
        
        <div class="spconentc"> 
        <div class="ad5_l">
            <hi:common_subjectproduct_top runat="server" subjectid="10"></hi:common_subjectproduct_top> 
        <div class="ad7"><hi:common_imagead runat="server" adid="7"></hi:common_imagead></div>
        </div> <div class="ad5"><hi:common_imagead runat="server" adid="5"></hi:common_imagead></div></div>

        <div class="sp1">
         <hi:common_subjectproduct_simple runat="server" subjectid="11"></hi:common_subjectproduct_simple>
        </div>
        </div>
        </div></div>
        
    
        
        
         <div class="pro_floor4">
        <div class="floor_hd">
        <hi:common_subjecttitle runat="server" commentid="24"></hi:common_subjecttitle> 
        <hi:common_subjectmorelink runat="server" commentid="25"></hi:common_subjectmorelink>
        </div>
        <div class="floor_bd">
        <div class="floor_l">
        
       <div class="sp1_ad"><hi:common_imagead runat="server" adid="8"></hi:common_imagead></div>

        <div class="sp2">
         <hi:common_subjectproduct_simple runat="server" subjectid="16"></hi:common_subjectproduct_simple>
        </div>
        </div></div></div>
        
 
        <div class="pro_floor4" style=" margin-top:10px;">
        <div class="floor_hd">
         
        <hi:common_subjecttitle runat="server" commentid="26"></hi:common_subjecttitle><hi:common_subjectmorelink runat="server" commentid="27"></hi:common_subjectmorelink>
        </div>
        <div class="floor_bd">
        <div class="floor_l">
        
       <div class="sp1_ad"><hi:common_imagead runat="server" adid="14"></hi:common_imagead></div>

        <div class="sp2">
         <hi:common_subjectproduct_simple runat="server" subjectid="17"></hi:common_subjectproduct_simple>
        </div>
        </div></div></div>  
</div>


<script type="text/javascript">
 var _c = _h = 0; 
$(function(){
    $('#play > li').click(function(){
        var i = $('#play > li').index($(this));
        clearInterval(_h);
        _c = i;
        play();
        change(i);        
    })
    $("#pic div").hover(function(){clearInterval(_h)}, function(){play()});
    play();
})
function play()
{
    _h = setInterval("auto()", 6000);
}

function change(i)
{
    $('#play > li').addClass("bg normal");
   
    $("#li"+i).removeClass("bg normal");
    $("#li"+i).addClass("bg active");
    $("#pic div").hide().eq(i).fadeIn('slow');
}
function auto()
{    
    _c = _c >= $('#play > li').length -1? 0 : _c+1;
    change(_c);
}

</script> 
 

 
</div>


<!--main-content结束-->

<script type="text/javascript">
	$(document).ready(function() {
		/* 图片上下滚动效果 */
		$(".brand-top").slide({
			titCell: "",
			mainCell: ".mr_frUl div ul",
			effect: "top",
			autoPlay: false,
			scroll: 1,
			vis: 4,
			pnLoop: true,
		});

	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		/* 图片左右滚动效果 */
		$(".review_con1").slide({
			titCell: "",
			mainCell: ".review_frUl > ul > div",
			effect: "left",
			autoPlay: false,
			scroll: 1,
			vis: 2,
			pnLoop: true,
		});

	});
</script>


<%<hi:common_footer runat="server" />%>