
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%<Hi:Common_DesignScriptCss runat="server" />%>
    <%<Hi:HeadContainer ID="HeadContainer1" runat="server" />%>
<%<Hi:PageTitle runat="server" />%>
<%<Hi:MetaTags runat="server" />%>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/style/menu.css" rel="stylesheet" type="text/css" />
<link href="/style/style.css" rel="stylesheet" type="text/css" />
  
</head>
<body>
<form runat="server">

<div class="tool_inner">
    <div class="tool_innercon">
      <%<asp:Literal id="litaccount" runat="server"/>%><%<asp:Literal id="litDefault" runat="server" /> %><%<asp:Literal id="litview" runat="server" /> %>
    </div>
</div>

<%<asp:Literal id="litPageName" runat="server"/>%>

    <%<hi:common_header runat="server" skinname="ascx/tags/Skin-Common_Header_logo.ascx"  runat="server" rel="desig"  />%>
      <div class="main" id="main1" rel="desig">
        
      </div>

     <!-- <div id="footer"  rel="desig" class="footer"></div>-->
       <style>
   .main{ width:auto; margin-top:0px;}
   </style>

 <%<asp:Literal id="litTempete" runat="server"/>%>
</form>
</body>
</html>
