<%<hi:common_header runat="server" />%>
<%<hi:common_rightlink runat="server" />%>
<script type="text/javascript" src="/templates/master/techan/js/jquery.SuperSlide2.js"></script>
<script src="/templates/master/default/plugins/jquery.cxscroll-1.2.2/js/jquery.cxscroll.min.js"></script>
<script type="text/javascript" src="/templates/master/techan/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.flexslider').flexslider({
			directionNav: true,
			slideshowSpeed: 5000,
			pauseOnAction: false
		});
	});
</script>

<style type="text/css">
	body {
		background: #f2ebe1;
	}
</style>
<div id="main">
	<div class="top-banner">
		<script src="/utility/Tags/MogFocus.js" type="text/javascript"></script>
        <hi:common_slidead runat="server" adid="11" isdelayedloading="true" isfullscreen="true"></hi:common_slidead>
        <script type="text/javascript">
        $(function () {
            var Width = $(window).width();
            $("#ads_11").mogFocus({ scrollWidth: Width });
        });
    </script>
	</div>
	<script src="../../../Utility/time.js"></script>

	<div class="jianshang">
		<div class="jianshang_c"><span><hi:common_customad runat="server" adid="28" isdelayedloading="true"></hi:common_customad></span>
			<em><hi:common_customad runat="server" adid="29" isdelayedloading="true"></hi:common_customad></em></div>
	</div>

	<div class="hot-ran w1200 o-hidden pt20">

		<div class="box1_con">
			<hi:common_customad runat="server" adid="17" isdelayedloading="true"></hi:common_customad>
		</div>
	</div>

	<div class="ad20">
		<hi:common_customad runat="server" adid="21" isdelayedloading="true"></hi:common_customad>
	</div>

	<div class="box1">

		<div class="box1_l">
		<script src="/utility/Tags/TagsHelper.js" type="text/javascript"></script>
			<hi:common_subjectproduct_tab IsDelayedLoading="true" runat="server" subjectid="6"></hi:common_subjectproduct_tab>
		</div>
		<div class="box1_r">
			<div class="sales_title">销售排行榜</div>
		<hi:common_subjectproduct_top runat="server" subjectid="5" isdelayedloading="true"></hi:common_subjectproduct_top>
		</div>

	</div>
	
	<div class="box_pinpai"> 	<hi:common_subjectbrand isdelayedloading="true" runat="server" commentid="2"></hi:common_subjectbrand></div>
	
	   <div class="box_tuangou">
       <div class="count-buy  fl o-hidden" style=" border-right:1px solid #c2c2c2; height:313px;">
          <div class="font-b qiangou_name" >限时抢购</div>
          <div class="bd o-hidden">
            <ul><hi:common_goodslist_latestcountdownbuy runat="server" maxnum="5"></hi:common_goodslist_latestcountdownbuy></ul>
          </div>
       </div>   
       <div class="brand-con fr o-hidden">
           <div class="font-b tuangou_name" >团购<em style="color:#b90101;">Hot!</em></div>
          
            <div class="fm_tuangou">
                          <ul>
                           	<hi:common_goodslist_latestgroupbuy runat="server" maxnum="1"></hi:common_goodslist_latestgroupbuy>
                          </ul></div>
       </div>
    </div>
  
 
 <div class="combination ">
        <div class="hd">
        <div class="louceng_title">
          <div class="feilei_name"> <hi:common_customad runat="server" adid="22" isdelayedloading="true"></hi:common_customad></div>
          
          <div class="feilei_more"> <Hi:Common_SubjectMoreLink runat="server" CommentId="5" /></div>
          </div>
        </div>
        <div class="box_1f w1200 o-hidden">
         <hi:common_customad runat="server" adid="9" isdelayedloading="true"></hi:common_customad>
          	<hi:common_subjectproduct_simple isdelayedloading="true" runat="server" subjectid="7"></hi:common_subjectproduct_simple>
            
        </div>
    
    </div>
    
    <div class="combination pt20">
        <div class="hd">
         <div class="louceng_title">
         <div class="feilei_name">  <hi:common_customad runat="server" adid="23" isdelayedloading="true"></hi:common_customad></div>
         
          <div class="feilei_more">  <Hi:Common_SubjectMoreLink runat="server" CommentId="9" /></div></div>
        </div>
        <div class="box_1f w1200 o-hidden">
          <hi:common_customad runat="server" adid="10" isdelayedloading="true"></hi:common_customad>
           	<hi:common_subjectproduct_simple isdelayedloading="true" runat="server" subjectid="8"></hi:common_subjectproduct_simple>
           
        </div>
    
    </div>
    
    <div class="combination pt20">
        <div class="hd">
         <div class="louceng_title">
           <div class="feilei_name">   <hi:common_customad runat="server" adid="24" isdelayedloading="true"></hi:common_customad></div>
          
           <div class="feilei_more"> <Hi:Common_SubjectMoreLink runat="server" CommentId="13" /></div></div>
        </div>
        <div class="box_1f w1200 o-hidden ">
       <hi:common_customad runat="server" adid="13" isdelayedloading="true"></hi:common_customad>
         	<hi:common_subjectproduct_simple isdelayedloading="true" runat="server" subjectid="9"></hi:common_subjectproduct_simple>
           
        </div>
    
    </div>
    
    <div class="combination pt20">
        <div class="hd">
         <div class="louceng_title">
            <div class="feilei_name">  <hi:common_customad runat="server" adid="25" isdelayedloading="true"></hi:common_customad></div>
         
          <div class="feilei_more"> <Hi:Common_SubjectMoreLink runat="server" CommentId="17" /></div></div>
        </div>
        <div class="box_1f w1200 o-hidden">
          <hi:common_customad runat="server" adid="15" isdelayedloading="true"></hi:common_customad>
          	<hi:common_subjectproduct_simple isdelayedloading="true" runat="server" subjectid="10"></hi:common_subjectproduct_simple>
           
        </div>
    
    </div>
    
    
    <div class="ad20"><hi:common_customad runat="server" adid="26" isdelayedloading="true"></hi:common_customad></div>
    


 <div class="review-order w1200 o-hidden box2" style=" height:258px; overflow:hidden;">
    <div class="box2_new">
    	<hi:common_subjectarticle commentid="19" runat="server" isdelayedloading="true"></hi:common_subjectarticle>
    
    </div>
    
       <div class="box2_new">
  	<hi:common_subjectarticle commentid="20" runat="server" isdelayedloading="true"></hi:common_subjectarticle>
    
    </div>  
        
        <div class="order-list">
        <hi:common_customad runat="server" adid="27" isdelayedloading="true"></hi:common_customad>
           
           
        </div>
    </div>


	</div>


<!--main-content结束-->

<script type="text/javascript">
	$(document).ready(function() {
		/* 图片上下滚动效果 */
		$(".brand-top").slide({
			titCell: "",
			mainCell: ".mr_frUl div ul",
			effect: "top",
			autoPlay: false,
			scroll: 1,
			vis: 4,
			pnLoop: true,
		});

	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		/* 图片左右滚动效果 */
		$(".review_con1").slide({
			titCell: "",
			mainCell: ".review_frUl > ul > div",
			effect: "left",
			autoPlay: false,
			scroll: 1,
			vis: 2,
			pnLoop: true,
		});

	});
</script>


<%<hi:common_footer runat="server" />%>