<%<hi:common_header runat="server" />%>
<%<hi:common_rightlink runat="server" />%>
<script type="text/javascript" src="/templates/master/default/js/jquery.SuperSlide2.js"></script>
<style type="text/css">
	.main-content {width: auto;}
	.main1 {width: 1180px; margin: 0 auto;}
    .top .top-main,.top .top-search,.nav-wrap {width: 1180px;}
</style>

<div class="main-content" id="main">
	<script src="/utility/Tags/MogFocus.js" type="text/javascript"></script>
	<div class="top-banner">
        <hi:common_slidead runat="server" adid="1" isdelayedloading="true" isfullscreen="true"></hi:common_slidead>
	</div>
	


	<div class="main1">
		<div class="bn-right">
			<div class="bn-top">
				<span><h4>商城公告</h4></span>
				<ul>
					<%<hi:common_affichelist runat="server" templatefile="/ascx/tags/Common_Comment/Skin-Common_AfficheList.ascx" maxnum="4" />%>
				</ul>
			</div>
			<div class="bn-btm">
				<hi:common_imagead runat="server" adid="2" isdelayedloading="true"></hi:common_imagead>
			</div>
		</div>
		<div class="top-ad">
		<div class="title">品牌专区</div>
		<div class="con">
			<div class="brand_ad">	<hi:common_imagead runat="server" adid="3" isdelayedloading="true"></hi:common_imagead></div>
			<div class="brand_pic"><hi:common_subjectbrand isdelayedloading="true" runat="server" commentid="6"></hi:common_subjectbrand></div>
			</div>
		</div>

		<script src="../../../Utility/time.js"></script>
		
		
		
		<div class="nTab"> 
		<div class="TabTitle">
		<ul id="myTab">
		<li class="active" onmouseover="nTabs(this,0);"><span class="qg">限时抢购</span></li>
		<li class="normal" onmouseover="nTabs(this,1);"><span class="tg">每日团购</span></li>		      
		</ul>
		</div>
	    <div class="TabContent">
		<div id="myTab_Content0">
	
			
			
				<div class="discount-sp">
			<a href="javascript:void(0);" class="mr_frBtnL next"></a>	
				<div class="dis-limited">
				<ul id="mr_fu">
					<div>
					<hi:common_goodslist_latestcountdownbuy runat="server" maxnum="10"></hi:common_goodslist_latestcountdownbuy>
					
					</div>
					</ul>
				</div>
					<a href="javascript:void(0);" class="mr_frBtnR prev"></a>
		</div>
		
			
		</div>
		
		
		<div id="myTab_Content1" class="none">
			<div class="discount-sp">
			<a href="javascript:void(0);" class="mr_frBtnL next"></a>	
			<div class="dis-limited">
				<ul id="mr_fu" class="lim-pro">
					<div>
					<hi:common_goodslist_latestgroupbuy runat="server" maxnum="10"></hi:common_goodslist_latestgroupbuy>
					</div>
				</ul>
			</div>
			<a href="javascript:void(0);" class="mr_frBtnR prev"></a>
			</div>
	
		
		</div>
			</div>	
		</div>
		
		
		
		<div style="clear:both"></div>
	
		<div class="category01">
			<span class="title-T">
            <h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="8"></hi:common_subjecttitle></h4>
            <div class="brand-btm"> <hi:common_subjectcategory runat="server" commentid="2"></hi:common_subjectcategory></div>
            </span>
			<div class="cate-wrap">
				<div class="post-pic">
					<hi:common_imagead runat="server" adid="9" isdelayedloading="true"></hi:common_imagead>
				</div>

				<div class="hot-pro">
					<ul>
						<hi:common_subjectproduct_simple runat="server" subjectid="11"></hi:common_subjectproduct_simple>
					</ul>
				</div>
				<div class="sal-charts">
				<hi:common_imagead runat="server" adid="8" isdelayedloading="true"></hi:common_imagead>
					
			</div>
		</div>


		<div style="clear:both"></div>
		<div class="category01">
			<span class="title-T">
            <h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="10"></hi:common_subjecttitle></h4>
          <div class="brand-btm">
                        <hi:common_subjectcategory runat="server" commentid="11"></hi:common_subjectcategory>
                    </div>
            </span>
			<div class="cate-wrap">
				<div class="post-pic">
					<hi:common_imagead runat="server" adid="10" isdelayedloading="true"></hi:common_imagead>

				</div>
				
					<div class="fl sid_right">
				
					<div class="ad"><hi:common_imagead runat="server" adid="11" isdelayedloading="true"></hi:common_imagead></div>

				</div>
				<div class="hot-pro">
					<ul>
						<hi:common_subjectproduct_simple runat="server" subjectid="12"></hi:common_subjectproduct_simple>
					</ul>
				</div>
			

			</div>
		</div>
		

		<div style="clear:both"></div>


			<div style="clear:both"></div>
			<div class="category01">
				<span class="title-T"><h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="30"></hi:common_subjecttitle></h4>
               <div class="brand-btm">
                        <hi:common_subjectcategory runat="server" commentid="23"></hi:common_subjectcategory>
                    </div>
          </span>
				<div class="cate-wrap">
					<div class="post-pic">
					<hi:common_imagead runat="server" adid="13" isdelayedloading="true"></hi:common_imagead>
					</div>
					<div class="hot-pro">
						<ul>
							<hi:common_subjectproduct_simple runat="server" subjectid="14"></hi:common_subjectproduct_simple>
						</ul>
					</div>
					<div class="sal-charts">
						<h4>销量排行榜</h4>
						<hi:common_subjectproduct_top runat="server" subjectid="10"></hi:common_subjectproduct_top>
					</div>
				</div>
			</div>
		

			<div style="clear:both"></div>
			<div class="category01">
				<span class="title-T">
            <h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="24"></hi:common_subjecttitle></h4>
            <div class="brand-btm">
                        <hi:common_subjectcategory runat="server" commentid="26"></hi:common_subjectcategory>
                    </div>
            </span>
				<div class="cate-wrap">
					<div class="post-pic">
					<hi:common_imagead runat="server" adid="14" isdelayedloading="true"></hi:common_imagead>
					</div>
					<div class="fl sid_right">
						<div class="ad"><hi:common_imagead runat="server" adid="24" isdelayedloading="true"></hi:common_imagead></div>
					</div>



					<div class="hot-pro">
						<ul>
							<hi:common_subjectproduct_simple runat="server" subjectid="15"></hi:common_subjectproduct_simple>
						</ul>
					</div>

					
				</div>

			</div>
		</div>
		
		
		<div style="clear:both"></div>
		<div class="category01">
			<span class="title-T">
            <h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="27"></hi:common_subjecttitle></h4>
             <div class="brand-btm">
                        <hi:common_subjectcategory runat="server" commentid="29"></hi:common_subjectcategory>
                    </div>
            </span>
			<div class="cate-wrap">

				<div class="post-pic">
				<hi:common_imagead runat="server" adid="15" isdelayedloading="true"></hi:common_imagead>
				</div>
				<div class="hot-pro">
					<ul>
						<hi:common_subjectproduct_simple runat="server" subjectid="16"></hi:common_subjectproduct_simple>
					</ul>
				</div>

				<div class="sal-charts">
						<h4>销量排行榜</h4>
						<hi:common_subjectproduct_top runat="server" subjectid="3"></hi:common_subjectproduct_top>
					</div>

			</div>
		</div>
		<div style="clear:both"></div>
		

		<div class="pro_favorite">
			<div class="title"><span><h2>猜你喜欢</h2></span></div>
			<div class="con">
				<ul>
					<hi:common_subjectproduct_simple runat="server" subjectid="18"></hi:common_subjectproduct_simple>
				</ul>
			</div>
		</div>
		<div class="mall-news">
			<div class="news">
				<div class="td-bd">
					<hi:common_imagead runat="server" adid="18" isdelayedloading="true"></hi:common_imagead>
				</div>
				<div class="news-list">
					<h4>商城资讯</h4>
					<ul>
						<hi:common_subjectarticle commentid="1" runat="server" isdelayedloading="true"></hi:common_subjectarticle>
					</ul>
				</div>
			</div>
			<div class="review">
				<span class="rspan">
                    <h4>晒单</h4>
                </span>

				<div class="review_con1">
				<a href="javascript:void(0);" class="mr_frBtnL next"></a>	
							<div class="review_frUl">
							<ul id="mr_fu">
						<div>
                   		<%<hi:common_latestreview maxnum="10" templatefile="HomeTags/Skin-Common_LatestReview.ascx" runat="server" /> %>
                    	</div>	
					</ul>	
							</div>
								
						<a href="javascript:void(0);" class="mr_frBtnR prev"></a>
						</div>
					
					
			</div>
		</div>
	</div>

	<script type="text/javascript">
$(function(){
var Width=$(window).width();
	$("#ads_1").mogFocus({scrollWidth:Width});
});
</script>

</div>


<!--main-content结束-->

<script type="text/javascript">
function nTabs(thisObj,Num){
if(thisObj.className == "active")return;
var tabObj = thisObj.parentNode.id;
var tabList = document.getElementById(tabObj).getElementsByTagName("li");
for(i=0; i <tabList.length; i++)
{
  if (i == Num)
  {
   thisObj.className = "active"; 
      document.getElementById(tabObj+"_Content"+i).style.display = "block";
  }else{
   tabList[i].className = "normal"; 
   document.getElementById(tabObj+"_Content"+i).style.display = "none";
  }
} 
}
</script>

<script type="text/javascript">
	$(document).ready(function() {
		/* 图片左右滚动效果 */
		$(".review_con1").slide({
			titCell: "",
			mainCell: ".review_frUl > ul > div",
			effect: "left",
			autoPlay: false,
			scroll: 1,
			vis: 2,
			pnLoop: false,
			autoPage:true,
		});

	});
</script>


<script type="text/javascript">
	$(document).ready(function() {
		/* 图片左右滚动效果 */
		$(".discount-sp").slide({
			titCell: "",
			mainCell: ".dis-limited > ul > div",
			effect: "left",
			autoPlay: false,
			scroll: 1,
			vis: 5,
			pnLoop: true,
			//autoPage:true,
		});

	});
</script>



<%<hi:common_footer runat="server" />%>