<%<hi:common_header runat="server" />%>

<div class="main">

    <div class="notice_w">
        <div class="notice_dh">
            当前位置：<a href="/">首页</a> > 活动详细
        </div>

        <div class="notice_w_bs">
            <h2>
                <%<asp:Literal ID="litHelpTitle" runat="server" />%>
            </h2>
        </div>
        <div class="notice_c">
            <%<asp:Literal ID="litHelpDescription" runat="server" />%>
        </div>
    </div>
</div>
<%<hi:common_footer runat="server" />%>
