<%<hi:common_header runat="server" />%>
<%<hi:common_rightlink runat="server" />%>
<input type="hidden" runat="server" id="hidden_skus" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_skuItem" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_IsOver" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_GroupBuyId" clientidmode="Static" />
<input type="hidden" runat="server" clientidmode="Static" id="hidden_productId" />
<div id="main1" class="main">
	<style>
		.login_tan #btnAmoBuy {
			display: none;
		}
		
		.category_l {
			border: 1px solid #eeeeee;
		}
	</style>
	<script src="/utility/cloud-zoom.1.0.2.js" type="text/javascript"></script>
	<script>
		function setBuy(text) {
			$("#buyButton").text(text);
			setTimeout(function() {
				$("#buyButton").unbind();
			}, 1000);
		}
		$(function() {
			var value = $("#hidden_IsOver").val();
			switch (value) {
				case "true":
					$("#buyButton").css("background", "#b9b9b9");
					setBuy("已抢完");
					break;
				case "AboutToBegin":
					$("#buyButton").addClass('begin');
					$("#buyButton").css("font-size", "28px");
					setBuy("即将开始");
					break;
				case "pullOff":
					$("#buyButton").css("background", "#b9b9b9");
					setBuy("已下架");
					break;
				case "over":
					$("#buyButton").css("background", "#b9b9b9");
					setBuy("已结束");
					break;
			}
			if ($.trim($("div.qg_introduce").html()).length == 0)
				$("div.qg_introduce").hide();
		})
	</script>
	<link href="/utility/cloud-zoom.css" rel="stylesheet" type="text/css" media="screen" />
	<div class="login_tan" id="loginForBuy" style="display: none;">
		<div class="dialog_title">
			<div class="dialog_title_l"><span>您尚未登录，请登录</span></div>
			<div class="dialog_title_r" id="imgCloseLogin"></div>
		</div>
		<div class="dialog_cartitem">
			<input type="text" name="textfield" id="textfieldusername" placeholder="邮箱/手机号" class="login_tan_input1" />
			<input type="password" name="textfield2" id="textfieldpassword" placeholder="密码" class="login_tan_input2" />
			<div class="info">
				<a href="/register.aspx" class="register">我要注册</a>
				<a href="/ForgotPassword.aspx">忘记密码?</a>
				<input id="btnAmoBuy" class="btnAmoBuy" type="button" value="匿名购买" />
			</div>
			<div class="btnbar">
				<input type="button" name="button" id="btnLoginAndBuy" value="登 录 " class="login_tan_input3" />
			</div>
		</div>
	</div>
	<a name="top_name" id="top1"></a>
	<div class="buy_intro">
		<table cellpadding="0" cellspacing="0" border="0" class="buy_intro_table">
			<tr style="padding: 0; margin: 0;">
				<td colspan="2">

					<div class="buy_product_time">
						开始时间:<label id="lblStartTime"><%<Hi:FormatedTimeLabel runat="server" ID="lblStartTime" /> %></label> 结束时间:
						<label id="lblEndTime"><%<Hi:FormatedTimeLabel runat="server" ID="lblEndTime" /> %></label>
						<span><a href="/GroupBuyProducts.aspx">更多团购>></a></span>
					</div>
				</td>
			</tr>
			<tr style="padding: 0; margin: 0;">
				<td width="440" valign="top">
					<%<Hi:Common_ProductImages SkinName="/ascx/tags/Common_ViewProduct/Skin-Common_ProductImages_hd.ascx" Is410Image="true" Is60Image="true" ID="images" runat="server" />%>
				</td>
				<td width="660" valign="top">
					<div class="buy_product_name">
						<%<asp:Literal id="litProductName" runat="server" />%>
					</div>

					<div class="qg_introduce">
						<asp:Literal runat="server" ID="litShortDescription" /> </div>

					<div class="buy_product_price">
						<div class="price">
							<span id="buycurrent">￥<span><%<Hi:FormatedMoneyLabel ID="lblCurrentSalePrice" runat="server" />%></span></span>
							<span id="buyoriginal"><del>￥<span><%<Hi:FormatedMoneyLabel ID="lblSalePrice" runat="server" />%></span></del>
							</span>
						</div>
						<div class="time">
							<span id="txtlefttime" class="tuangou_details_info_syfont"></span><span class="tuangou_details_info_sytime">
                                <label id="litRemainTimeHtml">
                                    <%<asp:Literal ID='litRemainTime' runat='server' />%>
                                </label>
                                <input type="hidden" runat="server" clientidmode="Static" id="nowTime" />
                                <script src="/utility/time.js" type="text/javascript"></script>
                                <script type="text/javascript">
                                    function showtime(now) {
                                        var strstartTime = document.getElementById("lblStartTime").innerHTML;
                                        var strTime = document.getElementById("lblEndTime").innerHTML; //2011-01-06 11:40:00
                                        showTimeList(strTime, "litRemainTimeHtml", "1", strstartTime, now);
                                        now.setSeconds(now.getSeconds() + 1);
                                        setTimeout(function () { showtime(now); }, 1000);
                                    }
                                    $(document).ready(function () {
                                        var nowTime = new Date($('#nowTime').val());
                                        showtime(nowTime);

                                    });
                                </script>
                            </span>
						</div>

					</div>
					<div class="buy_product_parameter">
						<table width="496" cellspacing="0" cellpadding="0" border="0" class="buy_product_table">
							<tr>
								<td width="165">
									商品货号：<span><%<Hi:SkuLabel runat="server" id="lblSku" />%></span>
								</td>
								<td width="165">
									库存数量：<span><%<Hi:StockLabel ID="lblStock" runat="server" />%><%<asp:Literal ID="litUnit" runat="server" />%></span>
								</td>
								<td width="165">
									重&nbsp;&nbsp;&nbsp;&nbsp;量：<span><%<asp:Label ID="litWeight" runat="server" />%></span>
								</td>
							</tr>
							<tr>
								<td>
									品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌：<span><%<asp:Literal ID="litBrand" runat="server" />%></span>
								</td>
								<td>
									浏览次数：<span>
                                        <%<asp:Literal ID="litBrosedNum" runat="server" />%>
                                        次
                                    </span>
								</td>
								<td>
									违约金：<span><%<Hi:FormatedMoneyLabel ID="lblNeedPrice" runat="server" />%></span>
								</td>
							</tr>
						</table>
						<div class="buy_product_next">
							<div class="buy_product_size">
								<!--供填写属性-->
								<%<hi:skuselector runat="server" cssclass="Product_WareFun_bg" />%>
							</div>
							<div class="quantity">
								<ul>
									<li style="width: 66px; text-align: left;">数量：</li>
									<li class="product_para_num">
										<div class="tb-text">
											<span>
                                                <%<Hi:BuyAmountBox id="txtBuyAmount" CssClass="Product_input" runat="server"></Hi:BuyAmountBox>%>
                                            </span>
										</div>
										<div class="mui-amount-btn">
											<div class="shopcart-minus shopcart1" name="spAdd"> </div>
											<div class="shopcart-add shopcart1" name="spSub"></div>
										</div>
									</li>
									<!-- <li class="total">商品总价：<span>￥<span><%<Hi:TotalLabel ID="lblTotalPrice" runat="server" /> %></span></span></li>-->
								</ul>
							</div>
						</div>
						<div class="buy_product_num" style="display: none;">
							<p>
								已有<span><%<asp:Label ID="litCount" runat="server" />%></span>参团 数量有限 请尽快购买！
							</p>
							<em>
                                团购上限数量<span><%<asp:Label ID="litMaxCount" runat="server" />%></span>，满足 <span>
                                    <input type="hidden" id="txtMaxCount" runat="server" clientidmode="Static" />
                                    <input type="hidden" id="txtSoldCount" runat="server" clientidmode="Static" />
                                    <%<asp:Literal ID="litNeedCount" runat="server" />%>
                                </span>团购成立！
                            </em>
						</div>
						<div class="qg_btn">
							<%<Hi:BuyButton runat="server" id="btnOrder">参团</Hi:BuyButton>%>
						</div>

					</div>
				</td>
			</tr>
		</table>
	</div>

	<div style="height: 40px; overflow: hidden; clear: both;">
	</div>

	<div class="product_frame w1200 o-hidden">
		<div class="category_l">
			<div class="paihangtop ma10">热销推荐</div>
			<div class="sale_pro">
				<hi:common_subjectproduct_top runat="server" subjectid="17"></hi:common_subjectproduct_top>
			</div>
		</div>
		<div class="category_r">

			<div class="product_detail">
				<ul class="product_nav_wrap">
					<li class="curr"><a>商品详情</a></li>
					<li><a>商品评价<em id="spanReviewCount2"><asp:Literal id="ltlReviewCount" runat="server" /></em></a></li>
					<li><a>成交记录<em><asp:Literal id="ltlSaleCount" runat="server"></asp:Literal></em></a></li>
					<li><a>商品咨询<em><asp:Literal id="ltlConsultation" runat="server"></asp:Literal></em></a></li>
					<li><a>活动说明</a></li>
				</ul>

				<div class="product_mc">
					<div class="detail-content-item">
						<ul>
							<%
                            <Hi:ThemedTemplatedRepeater ID="rptExpandAttributes" runat="server" TemplateFile="/ascx/tags/Common_ViewProduct/Skin-ExpandAttributes.ascx" />%>
						</ul>
					</div>
					<div style="height:auto;overflow:hidden;">
                        <Hi:Common_ExpandAttributes id="ExpandAttributes" runat="server" />
						<%<asp:Literal ID="litDescription" runat="server" />%>
					</div>
				</div>

				<div class="product_mc" style="display:none">

					<div class="i-Review">
						<div class="rate"><strong>0<em>%</em></strong><span>好评度</span></div>
						<div class="percent">
							<dl>
								<dt>好评<span>(0%)</span></dt>
								<dd>
									<div style="width: 0px;"></div>
								</dd>
							</dl>
							<dl>
								<dt>中评<span>(0%)</span></dt>
								<dd>
									<div style="width: 0px;"></div>
								</dd>
							</dl>
							<dl>
								<dt>差评<span>(0%)</span></dt>
								<dd>
									<div style="width:0px;"></div>
								</dd>
							</dl>
						</div>
					</div>

					<div class="Review-con">
						<div class="wrap">
							<div class="tab">
								<ul class="tab-hd">
									<li class="active">全部评价<em>（0）</em></li>
									<li>好评<em>（0）</em></li>
									<li>中评<em>（0）</em></li>
									<li>差评<em>（0）</em></li>
									<li>有图<em>（0）</em></li>
								</ul>
								<div class="tab-bd">
									<div class="thisclass review0">
									</div>
									<div class="normal review1"></div>
									<div class="normal review2"></div>
									<div class="normal review3"></div>
									<div class="normal review4"></div>

								</div>
							</div>
						</div>
					</div>
				</div>

                <div class="product_mc" style="display:none" id="productSaleCountContainer">
                    <div class="tab_sales">
                        <div class="tr_head title">
                            <div class="name">买家</div><div class="num">数量</div>
                            <div class="size">款式和型号</div><div class="time">付款时间</div>
                        </div>
                        <div class="details_plzx" id="divlineItems">
                        </div>
                    </div>
                    <!--<div class="details_plzx">
                        <span class="colorF"><%<asp:HyperLink ID="hpkProductSales" runat="server" CssClass="Product_b" />%></span>
                    </div>-->
                </div>

				<div class="product_mc" style="display:none">
					<!--商品咨询-->
                    <div class="Consultations">
                        <%<hi:common_productconsultations runat="server" templatefile="/ascx/tags/Common_ViewProduct/Skin-Common_ProductConsultations.ascx" maxnum="5" />%>
                        <div class="details_plzx">
                            <span class="colorF"><%<asp:HyperLink ID="hpkProductConsultations" runat="server" CssClass="Product_b" />%></span>
                            <%<hi:common_viewproduct_consultation runat="server" cssclass="Product_a" />%>
                        </div>
                    </div>
				</div>

				<div class="product_mc" style="display:none">
					<%<asp:Literal ID="litContent" runat="server" />%>
				</div>

			</div>

		</div>
	</div>

	<script>
        var productSaleCountDataLoaded = false;
        var productConsultationsDataLoaded = false;
        var productReviewType1Loading = false;
        var productReviewType2Loading = false;
        var productReviewType3Loading = false;
        var productReviewType4Loading = false;
        var productReviewType5Loading = false;

        //加载成交记录
        function loadProductSaleCountData(pageSize, currentPage, productId) {
            $.post('../API/ReviewHandler.ashx?action=LoadLineItems&PageSize=' + pageSize + '&CurrentPage=' + currentPage + '&ProductId=' + productId, function (result) {
                var items = JSON.parse(result);
                var totalCount = items.totalCount;
                if (items.data.length > 0) {
                    $("#divlineItems").html("");
                    var userhtm = "";
                    for (var i = 0; i < items.data.length; i++) {
                        var n = items.data[i];
                        userhtm += getLineItemHtml(n);
                    }
                    $("#divlineItems").html(userhtm);
                    //分页
                    var pageNum = totalCount / pageSize;
                    if ((pageSize * parseInt(pageNum)) < totalCount) {
                        pageNum++;
                    }
                    if (pageNum > 1) {
                        var pageHtml = getLineItemPage(totalCount, parseInt(pageNum), currentPage);
                        $("#divlineItems").append(pageHtml);
                    }
                }
            });
        }

        var reviewPageSize = 5;
        var lineItemPageSize = 5;
		$(function() {
			function tabs(tabTit, on, tabCon) {
				$(tabTit).children().click(function() {
					$(this).addClass(on).siblings().removeClass(on);
					var index = $(tabTit).children().index(this);
					$(tabCon).children().eq(index).show().siblings().hide();
					loadReviewData(reviewPageSize, 1, $("#hidden_productId").val(), index);
				});
			};
			tabs(".tab-hd", "active", ".tab-bd");

/*			loadStatisticsData($("#hidden_productId").val());
			loadReviewData(reviewPageSize, 1, $("#hidden_productId").val(), 0);
			loadReviewData(reviewPageSize, 1, $("#hidden_productId").val(), 1);
			loadReviewData(reviewPageSize, 1, $("#hidden_productId").val(), 2);
			loadReviewData(reviewPageSize, 1, $("#hidden_productId").val(), 3);
			loadReviewData(reviewPageSize, 1, $("#hidden_productId").val(), 4);
*/
		});
		//加载评论
		function loadReviewData(pageSize, currentPage, productId, type) {
		    //如果是第一页已加载就直接返回，主要处理用户多次点击加载第一页
		        switch (type) {
		            case 0:
		                if (productReviewType1Loading) return;
		                productReviewType1Loading = true;
		                break;
		            case 1:
		                if (productReviewType2Loading) return;
		                productReviewType2Loading = true;
		                break;
		            case 2:
		                if (productReviewType3Loading) return;
		                productReviewType3Loading = true;
		                break;
		            case 3:
		                if (productReviewType4Loading) return;
		                productReviewType4Loading = true;
		                break;
		            case 4:
		                if (productReviewType5Loading) return;
		                productReviewType5Loading = true;
		                break;
		        }
		    $.post('../API/ReviewHandler.ashx?action=LoadReview&PageSize=' + pageSize + '&CurrentPage=' + currentPage + '&ProductId=' + productId + '&type=' + type, function (result) {
		        switch (type) {
		            case 0:
		                productReviewType1Loading = false;
		                break;
		            case 1:
		                productReviewType2Loading = false;
		                break;
		            case 2:
		                productReviewType3Loading = false;
		                break;
		            case 3:
		                productReviewType4Loading = false;
		                break;
		            case 4:
		                productReviewType5Loading = false;
		                break;
		        }
		        var items = JSON.parse(result);
				var totalCount = items.totalCount;
				if (type == 0) {
					$("#spanReviewCount1").text(totalCount);
					$("#spanReviewCount2").text(totalCount);
				}
				if (items.data.length > 0) {
					$(".review" + type).html("");
					var userhtm = "";
					for (var i = 0; i < items.data.length; i++) {
						var n = items.data[i];
						userhtm += getReviewHtml(n);
					}
					$(".review" + type).html(userhtm);
					$('input.rating').rating();
					//分页
					var pageNum = totalCount / pageSize;
					if ((pageSize * pageNum) < totalCount) {
						pageNum++;
					}
					if (pageNum > 1) {
						$(".review" + type).append(getPage(totalCount, parseInt(pageNum), currentPage, type));
					}
				}
				$('.after-service-img img').click(function () {
				    var bigsrc = $(this).attr('src');
				    $(this).addClass("active");
				    $(this).siblings().removeClass("active");
				    $(this).parents().siblings(".preview-img").children().attr("src", bigsrc);
				    $(this).parents().siblings(".preview-img").show(300);
				})
				$(".preview-img").click(function () {
				    $(this).hide(300);
				})
			});
		}
		//加载评论统计
		function loadStatisticsData(productId) {
			$.post('../API/ReviewHandler.ashx?action=StatisticsReview&ProductId=' + productId, function(result) {
				var items = JSON.parse(result);
				var reviewNum = parseInt(items.reviewNum);
				var reviewNum1 = parseInt(items.reviewNum1);
				var reviewNum2 = parseInt(items.reviewNum2);
				var reviewNum3 = parseInt(items.reviewNum3);
				var reviewNumImg = parseInt(items.reviewNumImg);
				var reviewRate1 = 0;
				var reviewRate2 = 0;
				var reviewRate3 = 0;
				if (reviewNum != 0) {
					reviewRate1 = ((reviewNum1 * 100) / (reviewNum)).toFixed(0);
					reviewRate2 = ((reviewNum2 * 100) / (reviewNum)).toFixed(0);
					reviewRate3 = ((reviewNum3 * 100) / (reviewNum)).toFixed(0);
				}
				$(".i-Review .rate strong").html(reviewRate1 + "<em>%</em>");
				$(".i-Review .percent dl").eq(0).html("<dt>好评<span>(" + reviewRate1 + "%)</span></dt><dd><div style=\"width: " + reviewRate1 + "px;\"></div></dd>");
				$(".i-Review .percent dl").eq(1).html("<dt>中评<span>(" + reviewRate2 + "%)</span></dt><dd><div style=\"width: " + reviewRate2 + "px;\"></div></dd>");
				$(".i-Review .percent dl").eq(2).html("<dt>差评<span>(" + reviewRate3 + "%)</span></dt><dd><div style=\"width: " + reviewRate3 + "px;\"></div></dd>");
				$(".tab-hd li").eq(0).find("em").html("(" + reviewNum + ")");
				$(".tab-hd li").eq(1).find("em").html("(" + reviewNum1 + ")");
				$(".tab-hd li").eq(2).find("em").html("(" + reviewNum2 + ")");
				$(".tab-hd li").eq(3).find("em").html("(" + reviewNum3 + ")");
				$(".tab-hd li").eq(4).find("em").html("(" + reviewNumImg + ")");
				$(".product_nav_wrap li").eq(1).find("em").html(reviewNum);
			});
		}

		function getReviewHtml(obj) {
			var arr = new Array();
			arr.push('<div class="reviewNew">');
			arr.push('<div class="reviewNew_tx">');
			arr.push('<img src="' + obj.Picture + '" />');
			arr.push('<span>' + obj.UserName + '</span>');
			arr.push('</div>');
			arr.push('<div class="reviewNew_t">');
			arr.push('<span><input id="input-2ba" type="number" class="rating" min="0" max="5" step="1" data-size="xs" data-stars="5" value="' + obj.Score + '" data-symbol="&#xe005;" readonly="readonly"></span>');
			arr.push('<span>' + obj.SKUContent + '</span>');
			arr.push('<i>发表于：' + obj.ReviewDate + '</i>');
			arr.push('</div>');
			arr.push('<p class="reviewInfo">' + obj.ReviewText + '</p>');
			arr.push('<span class="after-service-img">');
			if (obj.ImageUrl1 != null && obj.ImageUrl1 != "")
			    arr.push('<img src="' + obj.ImageUrl1 + '" style="max-height:60px;" class="" />');
			if (obj.ImageUrl2 != null && obj.ImageUrl2 != "")
			    arr.push('<img src="' + obj.ImageUrl2 + '" style="max-height:60px;" class="" />');
			if (obj.ImageUrl3 != null && obj.ImageUrl3 != "")
			    arr.push('<img src="' + obj.ImageUrl3 + '" style="max-height:60px;" class="" />');
			if (obj.ImageUrl4 != null && obj.ImageUrl4 != "")
			    arr.push('<img src="' + obj.ImageUrl4 + '" style="max-height:60px;" class="" />');
			if (obj.ImageUrl5 != null && obj.ImageUrl5 != "")
			    arr.push('<img src="' + obj.ImageUrl5 + '" style="max-height:60px;" class="" />');
			arr.push('</span>');
			arr.push('<div class="preview-img" style="overflow: hidden; display: none;">');
			arr.push('<img src="">');
			arr.push('</div>');
			if (obj.ReplyDate != null && obj.ReplyDate != "") {
			    arr.push('<p class="Preply"><span>商家回复：</span>' + obj.ReplyText + '</p>');
			}
			arr.push('</div>');
			return arr.join("");
		}
		function getLineItemHtml(obj) {
		    var arr = new Array();
		    arr.push('<div class="tr_head">');
		    arr.push('<div class="name"><img style="width:40px;border-radius:100%;" src="' + obj.Picture + '" />' + obj.UserName + '</div>');
		    arr.push('<div class="num">' + obj.Quantity + '</div>');
		    arr.push('<div class="size">' + obj.SKUContent + '&nbsp;</div>');
		    arr.push('<div class="time">' + obj.PayDate + '</div>');
		    arr.push('</div>');
		    return arr.join("");
		}

		function getPage(totalCount, pageNum, currentPage, type) {
			var arr = new Array();
			arr.push('<div class="page">');
			if (currentPage > 1)
				arr.push('<a href="javascript:loadReviewData(' + reviewPageSize + ',' + (currentPage - 1) + ',' + $("#hidden_productId").val() + ',' + type + ');" class="page-prev">上一页</a>');
			var finallyPage = 0;
			for (var i = 1; i <= pageNum; i++) {
				if (i > (currentPage - 3 + ((pageNum - currentPage - 3) > 0 ? 0 : (pageNum - currentPage - 3))) && i < (currentPage + 3 - ((currentPage - 3) > 0 ? 0 : (currentPage - 3)))) {
					finallyPage = i;
					if (i == currentPage)
						arr.push('<a class="page-cur">' + i + '</a>');
					else
						arr.push('<a href="javascript:loadReviewData(' + reviewPageSize + ',' + i + ',' + $("#hidden_productId").val() + ',' + type + ');" >' + i + '</a>');
				}
			}
			if (finallyPage < pageNum) {
				arr.push('<a class="page-break">...</a>');
			}
			if (currentPage < pageNum)
				arr.push('<a href="javascript:loadReviewData(' + reviewPageSize + ',' + (currentPage + 1) + ',' + $("#hidden_productId").val() + ',' + type + ');"  class="page-next">下一页</a>');
			arr.push('<span class="page-skip">');
			arr.push('第' + currentPage + '/' + pageNum + '页 共' + totalCount + '记录');
			arr.push('<input type="text" id="txtGoto' + type + '" size="3" value="" class="text">页');
			arr.push('<input type="button" onclick="javascript:btnfanye(' + type + ',' + pageNum + ');"  value="确定" class="button">');
			arr.push('</span>');
			arr.push('</div>');
			return arr.join("");
		}

		function getLineItemPage(totalCount, pageNum, currentPage) {
		    var arr = new Array();
		    arr.push('<div class="page">');
		    if (currentPage > 1)
		        arr.push('<a href="javascript:loadProductSaleCountData(' + lineItemPageSize + ',' + (currentPage - 1) + ',' + $("#hidden_productId").val() + ');" class="page-prev">上一页</a>');
		    var finallyPage = 0;
		    for (var i = 1; i <= pageNum; i++) {
		        if (i > (currentPage - 3 + ((pageNum - currentPage - 3) > 0 ? 0 : (pageNum - currentPage - 3))) && i < (currentPage + 3 - ((currentPage - 3) > 0 ? 0 : (currentPage - 3)))) {
		            finallyPage = i;
		            if (i == currentPage)
		                arr.push('<a class="page-cur">' + i + '</a>');
		            else
		                arr.push('<a href="javascript:loadProductSaleCountData(' + lineItemPageSize + ',' + i + ',' + $("#hidden_productId").val() + ');" >' + i + '</a>');
		        }
		    }
		    if (finallyPage < pageNum) {
		        arr.push('<a class="page-break">...</a>');
		    }
		    if (currentPage < pageNum)
		        arr.push('<a href="javascript:loadProductSaleCountData(' + lineItemPageSize + ',' + (currentPage + 1) + ',' + $("#hidden_productId").val() + ');"  class="page-next">下一页</a>');
		    arr.push('<span class="page-skip">');
		    arr.push('第' + currentPage + '/' + pageNum + '页 共' + totalCount + '记录');
		    arr.push('<input type="text" id="txtLineItemGoto" size="3" value="" class="text">页');
		    arr.push('<input type="button" onclick="javascript:btnLineItemfanye(' + pageNum + ');"  value="确定" class="button">');
		    arr.push('</span>');
		    arr.push('</div>');
		    return arr.join("");
		}

		function btnfanye(type, pageNum) {
			if ($("#txtGoto" + type).val() == "")
				alert("请输入翻页数");
			if (isNaN($("#txtGoto" + type).val()))
				alert("翻页数只能输入数字");
			if (parseInt($("#txtGoto" + type).val()) > pageNum)
				alert("翻页数不可以大于最大页数");
			loadReviewData(reviewPageSize, parseInt($("#txtGoto" + type).val()), $("#hidden_productId").val(), type)
		}

		function btnLineItemfanye(pageNum) {
		    if ($("#txtLineItemGoto").val() == "")
		        alert("请输入翻页数");
		    if (isNaN($("#txtLineItemGoto").val()))
		        alert("翻页数只能输入数字");
		    if (parseInt($("#txtLineItemGoto").val()) > pageNum)
		        alert("翻页数不可以大于最大页数");

		    loadProductSaleCountData(lineItemPageSize, parseInt($("#txtLineItemGoto").val()), $("#hidden_productId").val())
		}
	</script>

	<script type="text/javascript">
		var number = $("#buyAmount");
		$('div[name="spAdd"]').bind("click", function() {
			var number = parseInt($("#buyAmount").val());
			number++;
			$("#buyAmount").val(number);
		});
		$('div[name="spSub"]').bind("click", function() {
			var number = parseInt($("#buyAmount").val());
			if (number > 1) {
				number--;
				$("#buyAmount").val(number);
			}
		});
		$(".product_nav_wrap li").bind("click", function() {
			var li_index = $(".product_nav_wrap li").index(this);
			$(".product_mc").hide().eq(li_index).show();
			$(this).addClass("curr").siblings().removeClass("curr");
			switch (li_index) {
			    case 1://评论
			        loadStatisticsData($("#hidden_productId").val());
			        loadReviewData(reviewPageSize, 1, $("#hidden_productId").val(), 0);
			        break;
			    case 2://成交记录
			        loadProductSaleCountData(lineItemPageSize, 1, $("#hidden_productId").val());
			        break;
			}
		});
	</script>

	<!--评论大小图切换-->
	<script>
        $(function () {
            var global_img_src = '';
            $(document).on('click', '.after-service-img img', function () {
                var new_src = $(this).attr("bigsrc");
                var is_img = $(this).parents('.column2').find('.preview-img img').attr('src');
                if (new_src != global_img_src || is_img == '') {
                    global_img_src = new_src;
                    $(this).addClass('active').siblings().removeClass('active');
                    $(this).parents('.column2').children('.preview-img').show(400);
                    var new_src = $(this).attr("bigsrc")
                    $(this).parents('.column2').find('.preview-img img').attr('src', new_src);
                } else {
                    $(this).parents('.column2').children('.preview-img').hide(10);
                    $(this).parents('.column2').find('.preview-img img').attr('src', '');
                }
            })
        })
	</script>

	<script src="/utility/product.helper.js?v=3.3" type="text/javascript"></script>
	<div class="clearboth"></div>
	<!-- 相关商品-->
	<div class="product_related">
		<h2><b>相关商品</b></h2>
		<ul>
			<!--相关商品-->
			<%
            <hi:common_goodslist_correlative templatefile="/ascx/tags/Common_GoodsList/Skin-Common_GoodsList_Correlative.ascx" maxnum="6" runat="server" />%>
		</ul>
	</div>
</div>

<link rel="stylesheet" href="/Utility/star/star-rating.css" rev="stylesheet" type="text/css">
<script src="/Utility/star/star-rating.js"></script>
<script src="/Utility/star/es5-shim.js"></script>
<link href="/Utility/hishopUpload/hishopUpload.css" rel="stylesheet" />
<script src="/Utility/jquery.scrollLoading.min.js"></script>

<script language="javascript">
	$("#showQrCode").click(function(e) {
		$("#productQrCode").show();
	});
	$("#productQrCode h2 span").click(function(e) {
		$("#productQrCode").hide();
	})
	$('#zhankai').click(function() {
		if ($(this).parents('.full').hasClass('hover')) {
			$(this).parents('.full').removeClass('hover');
		} else {
			$(this).parents('.full').addClass('hover');
		}
	})
	$(window).scroll(function() {
		setScrollLoading();
	});

	function setScrollLoading() {
	    $("img").scrollLoading();
	    $("iframe").scrollLoading();
	}

	$(function () {
	    var product_nav_wrap = $('.product_nav_wrap').offset().top - 40;
	    $(window).scroll(function () {
	        if ($(document).scrollTop() >= product_nav_wrap) {
	            $('.product_nav_wrap').css({
	                position: 'fixed',
	                top: '0',
	                borderBottom: '1px solid #ccc',
	                boxShadow: '0 1px 3px #ccc',
	                width: '978px',
	                background: '#fff',
	                "z-index": '9',
	            })
	        }
	        if ($(document).scrollTop() + $('.product_nav_wrap').height() + 40 <= product_nav_wrap) {
	            $('.product_nav_wrap').removeAttr('style');
	        }
	    });
	})
</script>
<%<hi:common_footer runat="server" />%>