<%<hi:common_header runat="server" />%>
<%<hi:common_rightlink runat="server" />%>
<script type="text/javascript" src="/templates/master/default/js/jquery.SuperSlide2.js"></script>
<script src="/templates/master/default/plugins/jquery.cxscroll-1.2.2/js/jquery.cxscroll.min.js"></script>
<style type="text/css">
    body {
        background: #f3f3f3;
    }

    .main-content {
        width: auto;
    }

    .main1 {
        width: 1180px;
        margin: 0 auto;
    }

    .top .top-main, .top .top-search, .nav-wrap {
        width: 1180px;
    }
</style>

<div class="main-content" id="main">
    <script src="/utility/Tags/MogFocus.js" type="text/javascript"></script>
    <div class="top-banner">
        <hi:common_slidead runat="server" adid="1" isdelayedloading="true" isfullscreen="true"></hi:common_slidead>
    </div>



    <div class="main1">
        <div class="bn-right">
            <div class="bn-top">
                <span><h4>商城公告</h4></span>
                <ul>
                    <%
                    <hi:common_affichelist runat="server" templatefile="/ascx/tags/Common_Comment/Skin-Common_AfficheList.ascx" maxnum="4" />%>
                </ul>
            </div>
            <div class="bn-btm">
                <hi:common_imagead runat="server" adid="2" isdelayedloading="true"></hi:common_imagead>
            </div>
        </div>
        <div class="top-ad">
            <hi:common_imagead runat="server" adid="5" isdelayedloading="true"></hi:common_imagead><hi:common_imagead runat="server" adid="7" isdelayedloading="true"></hi:common_imagead><hi:common_imagead runat="server" adid="3" isdelayedloading="true"></hi:common_imagead><hi:common_imagead runat="server" adid="4" isdelayedloading="true"></hi:common_imagead>

        </div>

        <script src="../../../Utility/time.js"></script>
        <div class="discount-sp">
            <div class="dis-limited">
                <h4><b>限时抢购</b> <em><a href="/CountDownProducts.aspx">更多</a></em></h4>
                <ul class="lim-pro">
                    <hi:common_goodslist_latestcountdownbuy runat="server" maxnum="4"></hi:common_goodslist_latestcountdownbuy>
                </ul>
            </div>

            <div class="dis-group">
                <div class="group-pro">
                    <hi:common_goodslist_latestgroupbuy runat="server" maxnum="1"></hi:common_goodslist_latestgroupbuy>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="mid-nav">
            <script src="/utility/Tags/TagsHelper.js" type="text/javascript"></script>
            <hi:common_subjectproduct_tab isdelayedloading="true" runat="server" subjectid="2"></hi:common_subjectproduct_tab>
        </div>

        <div style="clear:both"></div>
        <div class="category01">
            <span class="title-T">
                <h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="8"></hi:common_subjecttitle></h4>
                <div class="brand-btm"> <hi:common_subjectcategory runat="server" commentid="2"></hi:common_subjectcategory></div>
            </span>
            <div class="cate-wrap">
                <div class="post-pic">
                    <hi:common_imagead runat="server" adid="9" isdelayedloading="true"></hi:common_imagead>
                </div>

                <div class="hot-pro">
                    <ul>
                        <hi:common_subjectproduct_simple runat="server" subjectid="11"></hi:common_subjectproduct_simple>
                    </ul>
                </div>
                <div class="sal-charts">
                    <h4>销量排行榜</h4>
                    <hi:common_subjectproduct_top runat="server" subjectid="3"></hi:common_subjectproduct_top>
                </div>
            </div>
        </div>

        <div class="horizontal-ad">
            <hi:common_imagead runat="server" adid="8" isdelayedloading="true"></hi:common_imagead>
        </div>

        <div style="clear:both"></div>
        <div class="category01">
            <span class="title-T">
                <h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="10"></hi:common_subjecttitle></h4>
                <div class="brand-btm">
                    <hi:common_subjectcategory runat="server" commentid="11"></hi:common_subjectcategory>
                </div>
            </span>
            <div class="cate-wrap">
                <div class="post-pic">
                    <hi:common_imagead runat="server" adid="10" isdelayedloading="true"></hi:common_imagead>

                </div>
                <div class="hot-pro">
                    <ul>
                        <hi:common_subjectproduct_simple runat="server" subjectid="12"></hi:common_subjectproduct_simple>
                    </ul>
                </div>
                <div class="fr sid_right">
                    <div class="brand1">
                        <div class="brand-top" style="display: none;">
                            <a href="javascript:void(0);" class="mr_frBtnR next"></a>
                            <div class="mr_frUl">
                                <div id="mr_fu" class="listData1">
                                    <hi:common_subjectbrand isdelayedloading="true" runat="server" commentid="30"></hi:common_subjectbrand>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="mr_frBtnL prev"></a>
                        </div>
                        <div class="scroll_vertical" id="v1">
                            <div class="box">
                                <ul class="list"></ul>
                            </div>
                        </div>
                        <!--
                        作者：834499378@qq.com
                        时间：2016-08-09
                        描述：无缝滚动效果
                         -->
                        <script>
                            $(function () {
                                var html = "";
                                $(".listData1 li").each(function () {
                                    html += "<li>" + $(this).html() + "</li>";
                                });
                                $("#v1 .list").append(html);
                                $("#v1").cxScroll({
                                    direction: 'bottom',
                                    "auto": false
                                });
                            });
                        </script>
                    </div>

                    <div class="ad"><hi:common_imagead runat="server" adid="11" isdelayedloading="true"></hi:common_imagead></div>

                </div>

            </div>
        </div>
        <div class="horizontal-ad"><hi:common_imagead runat="server" adid="16" isdelayedloading="true"></hi:common_imagead> </div>

        <div style="clear:both"></div>
        <div class="category01">
            <span class="title-T">
                <h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="13"></hi:common_subjecttitle></h4>
                <div class="brand-btm">
                    <hi:common_subjectcategory runat="server" commentid="16"></hi:common_subjectcategory>
                </div>
            </span>
            <div class="cate-wrap">

                <div class="fl sid_left">
                    <div class="ad_num1"><hi:common_imagead runat="server" adid="12" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="ad_num2"><hi:common_imagead runat="server" adid="19" isdelayedloading="true"></hi:common_imagead></div>
                </div>
                <div class="hot-pro">
                    <ul>
                        <hi:common_subjectproduct_simple runat="server" subjectid="13"></hi:common_subjectproduct_simple>
                    </ul>
                </div>

                <div class="fr sid_right">
                    <div class="ad_num1"><hi:common_imagead runat="server" adid="20" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="ad_num2"><hi:common_imagead runat="server" adid="21" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="ad"><hi:common_imagead runat="server" adid="22" isdelayedloading="true"></hi:common_imagead></div>
                </div>
            </div>
            <div class="horizontal-ad"><hi:common_imagead runat="server" adid="29" isdelayedloading="true"></hi:common_imagead> </div>

            <div style="clear:both"></div>
            <div class="category01">
                <span class="title-T">
                    <h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="21"></hi:common_subjecttitle></h4>
                    <div class="brand-btm">
                        <hi:common_subjectcategory runat="server" commentid="23"></hi:common_subjectcategory>
                    </div>
                </span>
                <div class="cate-wrap">
                    <div class="post-pic">
                        <hi:common_imagead runat="server" adid="13" isdelayedloading="true"></hi:common_imagead>
                    </div>
                    <div class="hot-pro">
                        <ul>
                            <hi:common_subjectproduct_simple runat="server" subjectid="14"></hi:common_subjectproduct_simple>
                        </ul>
                    </div>
                    <div class="sal-charts">
                        <h4>销量排行榜</h4>
                        <hi:common_subjectproduct_top runat="server" subjectid="10"></hi:common_subjectproduct_top>
                    </div>
                </div>
            </div>
            <div class="horizontal-ad"><hi:common_imagead runat="server" adid="30" isdelayedloading="true"></hi:common_imagead>  </div>

            <div style="clear:both"></div>
            <div class="category01">
                <span class="title-T">
                    <h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="24"></hi:common_subjecttitle></h4>
                    <div class="brand-btm">
                        <hi:common_subjectcategory runat="server" commentid="26"></hi:common_subjectcategory>
                    </div>
                </span>
                <div class="cate-wrap">
                    <div class="post-pic">
                        <hi:common_imagead runat="server" adid="14" isdelayedloading="true"></hi:common_imagead>
                    </div>

                    <div class="hot-pro">
                        <ul>
                            <hi:common_subjectproduct_simple runat="server" subjectid="15"></hi:common_subjectproduct_simple>
                        </ul>
                    </div>

                    <div class="fr sid_right">
                        <div class="brand1">
                            <div class="brand-top" style="display: none;">
                                <a href="javascript:void(0);" class="mr_frBtnR next"></a>
                                <div class="mr_frUl">
                                    <div id="mr_fu" class="listData2">
                                        <hi:common_subjectbrand isdelayedloading="true" runat="server" commentid="18"></hi:common_subjectbrand>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" class="mr_frBtnL prev"></a>


                            </div>
                            <div class="scroll_vertical" id="v2">
                                <div class="box">
                                    <ul class="list"></ul>
                                </div>
                            </div>
                            <!--
                            作者：834499378@qq.com
                            时间：2016-08-09
                            描述：无缝滚动效果
                             -->
                            <script>
                                $(function () {
                                    var html = "";
                                    $(".listData2 li").each(function () {
                                        html += "<li>" + $(this).html() + "</li>";
                                    });
                                    $("#v2 .list").append(html);
                                    $("#v2").cxScroll({
                                        direction: 'bottom',
                                        "auto": false
                                    });
                                });
                            </script>

                        </div>
                        <div class="ad"><hi:common_imagead runat="server" adid="24" isdelayedloading="true"></hi:common_imagead></div>

                    </div>

                </div>

            </div>
        </div>

        <div class="horizontal-ad"><hi:common_imagead runat="server" adid="31" isdelayedloading="true"></hi:common_imagead>  </div>
        <div style="clear:both"></div>
        <div class="category01">
            <span class="title-T">
                <h4><hi:common_subjecttitle isdelayedloading="true" runat="server" commentid="27"></hi:common_subjecttitle></h4>
                <div class="brand-btm">
                    <hi:common_subjectcategory runat="server" commentid="29"></hi:common_subjectcategory>
                </div>
            </span>
            <div class="cate-wrap">

                <div class="fl sid_left">

                    <div class="ad_num1"><hi:common_imagead runat="server" adid="15" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="ad_num2"><hi:common_imagead runat="server" adid="25" isdelayedloading="true"></hi:common_imagead></div>
                </div>
                <div class="hot-pro">
                    <ul>
                        <hi:common_subjectproduct_simple runat="server" subjectid="16"></hi:common_subjectproduct_simple>
                    </ul>
                </div>

                <div class="fr sid_right">
                    <div class="ad_num1"><hi:common_imagead runat="server" adid="26" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="ad_num2"><hi:common_imagead runat="server" adid="27" isdelayedloading="true"></hi:common_imagead></div>
                    <div class="ad"><hi:common_imagead runat="server" adid="28" isdelayedloading="true"></hi:common_imagead></div>
                </div>

            </div>
        </div>
        <div style="clear:both"></div>
        <div class="horizontal-ad">
            <hi:common_imagead runat="server" adid="17" isdelayedloading="true"></hi:common_imagead>
        </div>

        <div class="pro_favorite">
            <div class="title"><span><h2>猜你喜欢</h2></span></div>
            <div class="con">
                <ul>
                    <hi:common_subjectproduct_simple runat="server" subjectid="18"></hi:common_subjectproduct_simple>
                </ul>
            </div>
        </div>
        <div class="mall-news">
            <div class="news">
                <div class="td-bd">
                    <hi:common_imagead runat="server" adid="18" isdelayedloading="true"></hi:common_imagead>
                </div>
                <div class="news-list">
                    <h4>商城资讯</h4>
                    <ul>
                        <hi:common_subjectarticle commentid="1" runat="server" isdelayedloading="true"></hi:common_subjectarticle>
                    </ul>
                </div>
            </div>
            <div class="review">
                <span class="rspan">
                    <h4>晒单</h4>
                </span>

                <div class="review_con1" style="display: none;">
                    <a href="javascript:void(0);" class="mr_frBtnL next"></a>



                    <div class="review_frUl">
                        <ul id="mr_fu" class="listData">
                            <div>
                                <%<hi:common_latestreview maxnum="10" templatefile="/HomeTags/Skin-Common_LatestReview.ascx" runat="server" /> %>
                            </div>
                        </ul>
                    </div>

                    <a href="javascript:void(0);" class="mr_frBtnR prev"></a>

                </div>
                <div class="scroll_horizontal">
                    <div class="box">
                        <ul class="list"></ul>
                    </div>
                </div>
                <!--
                    作者：834499378@qq.com
                    时间：2016-08-09
                    描述：无缝滚动效果
                 -->
                <script>
                    $(function () {
                        var html = "";
                        $(".listData li").each(function () {
                            html += "<li>" + $(this).html() + "</li>";
                        });
                        $(".scroll_horizontal .list").append(html);
                        $(".scroll_horizontal").cxScroll({
                            "auto": true
                        });
                    })
                </script>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            var Width = $(window).width();
            $("#ads_1").mogFocus({ scrollWidth: Width });
        });
    </script>

</div>
<!--main-content结束-->

<script type="text/javascript">
    $(document).ready(function () {
        /* 图片上下滚动效果 */
        $(".brand-top").slide({
            titCell: "",
            mainCell: ".mr_frUl div ul",
            effect: "top",
            autoPlay: false,
            scroll: 1,
            vis: 4,
            pnLoop: true,
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        /* 图片左右滚动效果 */
        $(".review_con1").slide({
            titCell: "",
            mainCell: ".review_frUl > ul > div",
            effect: "left",
            autoPlay: false,
            scroll: 1,
            vis: 2,
            pnLoop: true,
        });

        var a = $(".menu-inner .cat-01").length;
        $(".menu-inner .cat-01").each(function () {
          
        })
    });
</script>
<%<hi:common_footer runat="server" />%>