@charset "utf-8";
/*==========================*/

.my_left_category{
		width:190px; 
		font-size:12px; 
		font-family:"宋体";
		z-index:2;
		display:none;
		background:#464445;
}


 

.my_left_category .my_left_cat_list{
width:190px;
line-height:13.5pt;
position:relative;
 
border-bottom:1px solid #5c5b5b;
}


.my_left_category .h2_cat{
	width:190px;
	font-weight:normal;
	color:#333333;
	z-index:4;
	
}
.my_left_category .h2_cat i{ position:absolute; top:50%; right:11px; display:block; width:0; height:0; overflow:hidden; border-width:4px 4px; border-style:solid; border-color:transparent transparent transparent #d5e8ff; *border-color:#4593fd #4593fd #4593fd #d5e8ff;}
.my_left_category .h2_cat p{
  width:160px;

  line-height:25px;
  overflow:hidden;
  padding:0 15px 5px 15px;
}
.my_left_category .h2_cat p a{  white-space:nowrap; word-break:break-all;
  margin-right:5px;
  color:#d3e2fe;
}
.my_left_category .active_cat p a{ color:#333;}
.my_left_category a{
	font:12px;
	text-decoration:none;
	color:#333333;
}
.my_left_category a:hover{
	color:#ff3333;
}

.my_left_category h3{
width:135px;
position:relative;
font-size:12px; 
display:block; 
clear:both; 
overflow:hidden;
line-height:30px;
z-index:2;
padding:4px 15px 0;
}

.my_left_category h3 em{ float:left; width:0px; overflow:hidden; padding-top:8px; display:none;}
.my_left_category h3 a{	line-height:30px; color:#fff; width:135px; font-size:12px; float:left; display:block;}

.my_left_category .h3_cat{
 display:none;
 width:566px;
 position:absolute; 
 left:190px;
 height:380px;
 top:0px; 
 cursor:auto;
 z-index:4;
}
.my_left_category .h3_cat a,.my_left_category .h3_cat{ color:#333333;}

.my_left_category .shadow{
position:inherit;
/*background:url(/templates/master/fjmt/images/shadow_04.gif) left top;*/
width:566px;
 
}

.my_left_category .shadow_border{
position:inherit; 
width:566px; 
border:1px solid #ddd; 
box-shadow:0 0 8px #ddd;
background-color:#ffffff; 
margin-bottom:3px;
 z-index:5;
}
.my_left_category .shadow_border h4{ clear:both; }
.my_left_category .shadow_border ul{margin:0; padding:0;}
.my_left_category .shadow_border ul li {
list-style:none;
padding-left:10px;
background-image:url(/templates/master/fjmt/images/my_cat_sub_menu_dot.gif);
background-repeat:no-repeat;
background-position:0px 8px;
float:left;
width:95px;
height:27px;
overflow:hidden;
letter-spacing:0px;
} 

.my_left_category .active_cat i{ *border-color:#5aa1fe #5aa1fe #5aa1fe #d5e8ff;}
.my_left_category .active_cat{ cursor:pointer; background:#fff;}
.my_left_category .active_cat h3 { font-weight:bold; background:#fff; z-index:4; width:135px; overflow:hidden; color:#000; }
.my_left_category .active_cat h3 span{ display:none;} 
.my_left_category .shadow_border .category h4 { font-weight:bold; font-size:12px; width:90px; overflow:hidden; float:left; margin-right:10px; vertical-align:top; }
.my_left_category .shadow_border .category h4 a{ color:#000;}
.my_left_category .shadow_border .category ul{ float:left; width:400px;}
.my_left_category .active_cat h4 span{ display:none;} 
.my_left_category .active_cat div{display:block;} 
.my_left_category .active_cat h3 a{ color:#000; font-weight:bold;}
.my_left_category .active_cat h3 a:hover{ color:#000;}

.my_left_category .shadow_border   .brand{float:right; width:190px; background:#fff9ef; padding:10px; overflow:hidden; margin:0px;  line-height:22px;}
.my_left_category .shadow_border  .brand h5{ margin:0px; font-weight:bold; padding:0px; font-size:12px;height:30px; line-height:30px; border-bottom:1px solid #ccc; width:200px;overflow:hidden; }
.my_left_category .shadow_border .brand h5 b{ font-weight:normal; margin-left:50px;}

.my_left_category .shadow_border .brand a{  margin-right:1px; white-space:nowrap; word-break:break-all; float:left; width:85px; height:30px;line-height:30px; overflow:hidden;}
.my_left_category .shadow_border .category{float:left; width:330px; background:#ffffff; overflow:hidden;margin:0px; padding:0px; padding:10px;  line-height:22px;}

.my_left_category .shadow_border .brand h5 b a{ float:none; color:#0061AA; display:inline;}

.allclassmenu {width:210px; height:27px;z-index:999;position:relative;}
.classlist {left:1px;position:absolute;top:27px;z-index:1;display:none; width:210px; background:#FFFFFF;}
.classcase{padding:16px 0;padding-top:5px;width:168px;background:url(/templates/master/fjmt/images/allclass_bg.gif) #f8eeda no-repeat -1px bottom;border:1px solid #d1c39a;border-top:none;border-bottom:none;}
.fenlei_jianduan{padding:5px 0px; width:345px; border-bottom:1px solid #e4e4e4; overflow:hidden;}
.fthree{width:190px;float:left;}
.fthree span{margin:0px 5px;float:left;height:25px;line-height:25px;width:70px; overflow:hidden;}

