.dialog-loading {
    background: url(../images/common_loading.gif) no-repeat center;
    width: 100%;
    height: 100%;
}

.dialog-mask {
    border: 0;
    background: #000;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/dialog_bg.png);
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale",src="/Admin/images/dialog_bg.png");
    _background: none;
}

.windowsdialog {
    height: 50px;
    color: #444;
    line-height: 50px;
    text-align: center;
    border: none !important;
    position: absolute;
    z-index: 999;
    left: 20%;
}

    .windowsdialog a:link, windowsdialog a:visited {
        color: #005EAC;
        text-decoration: none;
    }

    .windowsdialog a:hover {
        color: #f60;
        text-decoration: underline;
    }

    .windowsdialog .dialog-header {
        height: 26px;
        position: relative;
        cursor: move;
        border-bottom: 1px solid #ccc;
    }

    .windowsdialog .dialog-title {
        text-align: left;
        margin-left: 10px;
        font-size: 12px;
        color: #333;
        line-height: 24px;
        font-weight: normal;
    }

    .windowsdialog .dialog-tl {
        position: absolute;
        left: -2px;
        top: -2px;
        height: 26px;
        background: none;
        width: 100%;
    }

    .windowsdialog .dialog-tr {
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
    }

    .windowsdialog .dialog-content {
        background: #fff;
    }

    .windowsdialog .ico_1 {
        width: 100%;
        height: 100%;
        color: #3c763d;
        border: 1px solid #d6e9c6;
        background: #dff0d8;
        background-repeat: no-repeat;
    padding:0 20px !important;

    }

    .windowsdialog .ico_2 {
        width: 100%;
        height: 100%;
        border: 1px solid #ffb49d;
        background: #fff5f3;
        color: #fe5722;
        background-repeat: no-repeat;
    }

    .windowsdialog .ico_3 {
        width: 50px;
        height: 50px;
        background-image: url(../images/ico.gif);
        background-position: 0 -104px;
        background-repeat: no-repeat;
        margin: 15px 5px 10px 10px;
    }

    .windowsdialog .ico_4 {
        width: 50px;
        height: 50px;
        background-image: url(../images/ico.gif);
        background-position: 0 -156px;
        background-repeat: no-repeat;
        margin: 15px 5px 10px 10px;
    }

    .windowsdialog .ico_5 {
        width: 50px;
        height: 50px;
        background-image: url(../images/ico.gif);
        background-position: 0 -208px;
        background-repeat: no-repeat;
        margin: 15px 5px 10px 10px;
    }

    .windowsdialog .ico_6 {
        width: 50px;
        height: 50px;
        background-image: url(../images/ico.gif);
        background-position: 0 -260px;
        background-repeat: no-repeat;
        margin: 15px 5px 10px 10px;
    }

    .windowsdialog .ico_7 {
        width: 50px;
        height: 50px;
        background-image: url(../images/ico.gif);
        background-position: 0 -312px;
        background-repeat: no-repeat;
        margin: 15px 5px 10px 10px;
    }

    .windowsdialog .dialog-close {
        float: right;
        color: #333;
        cursor: pointer;
        height: 16px;
        width: 16px;
        blr: expression(this.onFocus=this.blur());
    }

        .windowsdialog .dialog-close:hover {
            color: #333;
            text-decoration: none;
        }

    .windowsdialog .dialog-word {
        font-size: 12px;
        line-height: 22px;
        padding: 10px;
        color: #333;
        text-align: left;
    }
