
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%<hi:common_designscriptcss runat="server" />%>
    <%<Hi:HeadContainer ID="HeadContainer1" runat="server" />%>
    <%<hi:pagetitle runat="server" />%>
    <%<hi:metatags runat="server" />%>
    <link href="/style/style.css" rel="stylesheet" type="text/css" />
    <link href="/style/menu.css" rel="stylesheet" type="text/css" />
    <link href="/Utility/iconfont/iconfont.css" rel="Stylesheet" />
    <Hi:TemplateStyle ID="Stylee1" runat="server" Href="/style/home.css"></Hi:TemplateStyle>
    
    
    <style>
    body {background: #f3f3f3;}
    .cssEdit {  margin: 0px auto;width: 975px; height: 90px;}
 
    </style>
    <script>
        $.ajaxSetup({
            cache: false
        });

        $(function () {
            setScrollLoading();
        })

        function setScrollLoading() {
            $("img").scrollLoading();
            $("iframe").each(function () {
                if (!$(this).attr("src")) {
                    $(this).attr("src", $(this).attr("data-url"));
                }
            });
        }

        $(window).scroll(function () {
            setScrollLoading();
        });
    </script>
    <script src="Templates/master/default/plugins/jquery.cxscroll-1.2.2/js/jquery.cxscroll.min.js"></script>
 	<script>
 		$(function(){
 			$(".brand-top").css("display","block");
			$(".scroll_horizontal,.scroll_vertical").css("display","none");
 		});
 	</script>

</head>
<body>
    <form runat="server">

        <div class="tool_inner">
            <div class="tool_innercon">
                <%<asp:Literal id="litaccount" runat="server" />%><%<asp:Literal id="litDefault" runat="server" /> %><%<asp:Literal id="litview" runat="server" /> %>
            </div>
        </div>

        <%<asp:Literal id="litPageName" runat="server" />%>
        <div id="header" rel="desig" class="top"></div>
        <div class="main-content" id="main" rel="desig">
            <div id="templetecontent" rel="desig"></div>
        </div>

        <div id="footer" rel="desig" class="footer"></div>

        <%<asp:Literal id="litTempete" runat="server" />%>
    </form>
</body>
</html>
