<%<hi:common_header runat="server" />%>
<%<hi:common_rightlink runat="server" />%>
<div class="main-content" id="main">
	<div id="container">
	<script src="/Templates/master/fangyougou/js/MogFocus.js" type="text/javascript"></script>
    <div class="o-hidden pl210">
        <Hi:Common_SlideAd runat="server" AdId="2"  isdelayedloading="true"/>
    </div>
    
    <div id="nav">      
      <Hi:Common_CustomAd runat="server" AdId="21" isdelayedloading="true" />
      <li id="scrollUp" href="javascript:;"><span></span><a>top</a></li>
    </div>

    <div class="box section" id="f0">
    	<div class="hd"><Hi:Common_SubjectTitle runat="server" CommentId="1" isdelayedloading="true"/></div>
        <div class="bd" style="padding-left:29px;">
        	<div class="brand_adv"><Hi:Common_CustomAd runat="server" AdId="3" isdelayedloading="true"/></div>
            <div class="brand_list">
                <div id="focus">
                    <dl>
                        <dd><Hi:Common_SubjectBrand runat="server" CommentId="2" isdelayedloading="true"/></dd>
                        <dd><Hi:Common_SubjectBrand runat="server" CommentId="55" isdelayedloading="true"/></dd>
                        <dd><Hi:Common_SubjectBrand runat="server" CommentId="56" isdelayedloading="true"/></dd>
                    </dl>
                </div>
            </div>
 
            <div style="clear:both;"></div>
        </div>
    </div>

    
    
    <div class="box section" id="f1">
    	<div class="hd"><Hi:Common_SubjectTitle runat="server" CommentId="3" isdelayedloading="true"/></div>
        <div class="bd">
        	<div class="bd_left">
            	<div class="hotlink"><Hi:Common_CustomAd runat="server" AdId="4" isdelayedloading="true"/></div>
                <div class="brand_wall"><Hi:Common_SubjectBrand runat="server" CommentId="4" isdelayedloading="true"/></div>
                <div class="hotword"><Hi:Common_SubjectKeyword runat="server" CommentId="14" isdelayedloading="true"/></div>
            </div>
            <div class="bd_right">
            	<div class="pic fl"><Hi:Common_ImageAd runat="server" AdId="5" isdelayedloading="true"/></div>
                <div class="adv fr">
                <div class="adv_content"><Hi:Common_CustomAd runat="server" AdId="6" isdelayedloading="true"/></div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    
    <div class="box section" id="f2">
    	<div class="hd"><Hi:Common_SubjectTitle runat="server" CommentId="5" isdelayedloading="true"/></div>
        <div class="bd">
        	<div class="bd_left">
            	<div class="hotlink"><Hi:Common_CustomAd runat="server" AdId="7" isdelayedloading="true"/></div>
                <div class="brand_wall"><Hi:Common_SubjectBrand runat="server" CommentId="6" isdelayedloading="true"/></div>
                <div class="hotword"><Hi:Common_SubjectKeyword runat="server" CommentId="15" isdelayedloading="true"/></div>
            </div>
            <div class="bd_right">
            	<div class="pic fl"><Hi:Common_ImageAd runat="server" AdId="8" isdelayedloading="true"/></div>
                <div class="adv fr">
                <div class="adv_content"><Hi:Common_CustomAd runat="server" AdId="9" isdelayedloading="true"/></div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    
    <div class="box section" id="f3">
    	<div class="hd"><Hi:Common_SubjectTitle runat="server" CommentId="7" isdelayedloading="true"/></div>
        <div class="bd">
        	<div class="bd_left">
            	<div class="hotlink"><Hi:Common_CustomAd runat="server" AdId="10" isdelayedloading="true"/></div>
                <div class="brand_wall"><Hi:Common_SubjectBrand runat="server" CommentId="8" isdelayedloading="true"/></div>
                <div class="hotword"><Hi:Common_SubjectKeyword runat="server" CommentId="16" isdelayedloading="true"/></div>
            </div>
            <div class="bd_right">
            	<div class="pic fl"><Hi:Common_ImageAd runat="server" AdId="11" isdelayedloading="true"/></div>
                <div class="adv fr">
                <div class="adv_content"><Hi:Common_CustomAd runat="server" AdId="12" isdelayedloading="true"/></div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    
    <div class="box section" id="f4">
    	<div class="hd"><Hi:Common_SubjectTitle runat="server" CommentId="9" isdelayedloading="true"/></div>
        <div class="bd">
        	<div class="bd_left">
            	<div class="hotlink"><Hi:Common_CustomAd runat="server" AdId="13" isdelayedloading="true"/></div>
                <div class="brand_wall"><Hi:Common_SubjectBrand runat="server" CommentId="10" isdelayedloading="true"/></div>
                <div class="hotword"><Hi:Common_SubjectKeyword runat="server" CommentId="17" isdelayedloading="true"/></div>
            </div>
            <div class="bd_right">
            	<div class="pic fl"><Hi:Common_ImageAd runat="server" AdId="14" isdelayedloading="true"/></div>
                <div class="adv fr">
                <div class="adv_content"><Hi:Common_CustomAd runat="server" AdId="15" isdelayedloading="true"/></div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    
    <div class="box section" id="f5">
    	<div class="hd"><Hi:Common_SubjectTitle runat="server" CommentId="11" isdelayedloading="true"/></div>
        <div class="bd">
        	<div class="bd_left">
            	<div class="hotlink"><Hi:Common_CustomAd runat="server" AdId="16" isdelayedloading="true"/></div>
                <div class="brand_wall"><Hi:Common_SubjectBrand runat="server" CommentId="12" isdelayedloading="true"/></div>
                <div class="hotword"><Hi:Common_SubjectKeyword runat="server" CommentId="18" isdelayedloading="true"/></div>
            </div>
            <div class="bd_right">
            	<div class="pic fl"><Hi:Common_ImageAd runat="server" AdId="17" isdelayedloading="true"/></div>
                <div class="adv fr">
                <div class="adv_content"><Hi:Common_CustomAd runat="server" AdId="18" isdelayedloading="true"/></div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    
    <div class="box">
    	<div class="hd"><Hi:Common_SubjectTitle runat="server" CommentId="19" isdelayedloading="true"/></div>
        <div class="bd" style="padding:0; border-top:0;">
            <div class="nTab"> 
                <div class="TabTitle">
                    <ul id="myTab">
                        <li class="active" onmouseover="nTabs(this,0);"><Hi:Common_SubjectTitle runat="server" CommentId="20" isdelayedloading="true"/></li>
                        <li class="normal" onmouseover="nTabs(this,1);"><Hi:Common_SubjectTitle runat="server" CommentId="21" isdelayedloading="true"/></li>
                        <li class="normal" onmouseover="nTabs(this,2);"><Hi:Common_SubjectTitle runat="server" CommentId="22" isdelayedloading="true"/></li>
                        <li class="normal" onmouseover="nTabs(this,3);"><Hi:Common_SubjectTitle runat="server" CommentId="23" isdelayedloading="true"/></li>
                        <li class="normal" onmouseover="nTabs(this,4);"><Hi:Common_SubjectTitle runat="server" CommentId="24" isdelayedloading="true"/></li>
                        <li class="normal" onmouseover="nTabs(this,5);"><Hi:Common_SubjectTitle runat="server" CommentId="25" isdelayedloading="true"/></li>
                        <li class="normal" onmouseover="nTabs(this,6);"><Hi:Common_SubjectTitle runat="server" CommentId="26" isdelayedloading="true"/></li>
                        <li class="normal" onmouseover="nTabs(this,7);"><Hi:Common_SubjectTitle runat="server" CommentId="27" isdelayedloading="true"/></li>
                        <li class="normal" onmouseover="nTabs(this,8);"><Hi:Common_SubjectTitle runat="server" CommentId="28" isdelayedloading="true"/></li>		      
                    </ul>
                </div>
                <div class="TabContent">
                    <div id="myTab_Content0"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="1" isdelayedloading="true"/></div>
                    <div id="myTab_Content1" class="none"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="2" isdelayedloading="true"/></div>
                    <div id="myTab_Content2" class="none"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="3" isdelayedloading="true"/></div>
                    <div id="myTab_Content3" class="none"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="4" isdelayedloading="true"/></div>
                    <div id="myTab_Content4" class="none"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="5" isdelayedloading="true"/></div>
                    <div id="myTab_Content5" class="none"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="6" isdelayedloading="true"/></div>
                    <div id="myTab_Content6" class="none"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="7" isdelayedloading="true"/></div>
                    <div id="myTab_Content7" class="none"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="8" isdelayedloading="true"/></div>
                    <div id="myTab_Content8" class="none"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="9" isdelayedloading="true"/></div>
                </div>	
            </div>
        </div>
    </div>
    <script type="text/javascript">
	function nTabs(thisObj,Num){
	if(thisObj.className == "active")return;
	var tabObj = thisObj.parentNode.id;
	var tabList = document.getElementById(tabObj).getElementsByTagName("li");
	for(i=0; i <tabList.length; i++)
	{
	  if (i == Num)
	  {
	   thisObj.className = "active"; 
		  document.getElementById(tabObj+"_Content"+i).style.display = "block";
	  }else{
	   tabList[i].className = "normal"; 
	   document.getElementById(tabObj+"_Content"+i).style.display = "none";
	  }
	} 
	}
	</script>
    
    <div class="box2">
    	<div class="box2_title"><Hi:Common_SubjectTitle runat="server" CommentId="58" isdelayedloading="true"/></div>
        <div class="box2_con">
        	<div class="box2_con_top">
            	<div class="brand_move"><Hi:Common_SubjectBrand runat="server" CommentId="29" isdelayedloading="true" /> </div>
            </div>
            <div class="box2_con_bot">
            	<ul>
                	<li>
                    	<dl>
                        	<dt><Hi:Common_SubjectTitle runat="server" CommentId="31" isdelayedloading="true"/></dd>
                            <dd>
                            	<div class="keyword"><Hi:Common_SubjectKeyword runat="server" CommentId="32" isdelayedloading="true"/></div>
                                <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="33" isdelayedloading="true"/></div>
                            </dt>
                        </dl>
                    </li>
                    <li>
                    	<dl>
                        	<dt><Hi:Common_SubjectTitle runat="server" CommentId="34" isdelayedloading="true"/></dd>
                            <dd>
                            	<div class="keyword"><Hi:Common_SubjectKeyword runat="server" CommentId="35" isdelayedloading="true"/></div>
                                <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="36" isdelayedloading="true"/></div>
                            </dt>
                        </dl>
                    </li>
                    <li>
                    	<dl>
                        	<dt><Hi:Common_SubjectTitle runat="server" CommentId="37" isdelayedloading="true"/></dd>
                            <dd>
                            	<div class="keyword"><Hi:Common_SubjectKeyword runat="server" CommentId="38" isdelayedloading="true"/></div>
                                <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="39" isdelayedloading="true"/></div>
                            </dt>
                        </dl>
                    </li>
                    <li>
                    	<dl>
                        	<dt><Hi:Common_SubjectTitle runat="server" CommentId="40" isdelayedloading="true"/></dd>
                            <dd>
                            	<div class="keyword"><Hi:Common_SubjectKeyword runat="server" CommentId="41" isdelayedloading="true"/></div>
                                <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="42" isdelayedloading="true"/></div>
                            </dt>
                        </dl>
                    </li>
                    <li>
                    	<dl>
                        	<dt><Hi:Common_SubjectTitle runat="server" CommentId="43" isdelayedloading="true"/></dd>
                            <dd>
                            	<div class="keyword"><Hi:Common_SubjectKeyword runat="server" CommentId="44" isdelayedloading="true"/></div>
                                <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="45" isdelayedloading="true"/></div>
                            </dt>
                        </dl>
                    </li>
                    <li>
                    	<dl>
                        	<dt><Hi:Common_SubjectTitle runat="server" CommentId="46" isdelayedloading="true"/></dd>
                            <dd>
                            	<div class="keyword"><Hi:Common_SubjectKeyword runat="server" CommentId="47" isdelayedloading="true"/></div>
                                <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="48" isdelayedloading="true"/></div>
                            </dt>
                        </dl>
                    </li>
                    <li>
                    	<dl>
                        	<dt><Hi:Common_SubjectTitle runat="server" CommentId="49" isdelayedloading="true"/></dd>
                            <dd>
                            	<div class="keyword"><Hi:Common_SubjectKeyword runat="server" CommentId="50" isdelayedloading="true"/></div>
                                <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="51" isdelayedloading="true"/></div>
                            </dt>
                        </dl>
                    </li>
                    <li>
                    	<dl>
                        	<dt><Hi:Common_SubjectTitle runat="server" CommentId="52" isdelayedloading="true"/></dd>
                            <dd>
                            	<div class="keyword"><Hi:Common_SubjectKeyword runat="server" CommentId="53" isdelayedloading="true"/></div>
                                <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="54" isdelayedloading="true"/></div>
                            </dt>
                        </dl>
                    </li>
                </ul>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
 
    <script type="text/javascript" src="/templates/master/fangyougou/js/returntop.js"></script>
  
    
</div>
	<div style="clear:both"></div>
	<div class="horizontal-ad">
		<hi:common_imagead runat="server" adid="21" isdelayedloading="true"></hi:common_imagead>
	</div>
</div>
 

<!--main-content结束-->
<%<Hi:Common_Footer runat="server"/>%>