<%<hi:common_header runat="server" skinname="/ascx/tags/Common_UserCenter/Skin-Common_User_Header.ascx" />%>
<script src="../../../Utility/windows.js?v=3.0"></script>
<link href="../../../Admin/css/windows.css" rel="stylesheet" />
<form runat="server">
    <div class="hyzxmain">
        <div class="hyzxconty">当前位置><span><a href="/">首页</a></span>><span><a href="/User/UserDefault">会员中心</a></span>><span><a href="#">分销有礼</a></span></div>
        <div class="hyzxconter">
            <div class="hyzxconterl">
                <%<hi:common_user_menu runat="server" />%>
                <div class="hyzxconterl1">
                </div>
            </div>

            <div class="hyzxconterr">
                <div class="dingdanxx">
                    <div id="normalPanel" runat="server" clientidmode="static">
                        <div class="dingdan_box1">分享赚奖励</div>
                        <div class="tg_step">
                            <img src="/images/tg_step.jpg" runat="server" id="imgDeduct" />
                        </div>
                        <div class="tg_lianjie">
                            <div class="tg_lianjie_1">
                                <span>分销链接：</span>
                                <span id="spanLitUserLink">
                                    <%<asp:Literal ID="litUserLink" runat="server"></asp:Literal>%>
                                </span>
                                <input id="btnCopy" type="button" value="复制" onclick="success()" data-clipboard-target="spanLitUserLink" />
                            </div>
                            <span>分销二维码：<img id="imgQRCode" runat="server" width="175" height="175" /></span>
                        </div>
                        <div class="tg_youli_con">
                            <div class="youli1">活动规则</div>
                            <p>
                                通过您分享的链接完成注册的会员，后续消费您都能获得消费金额的&nbsp;<asp:Literal Text="0" Id="litSubMemberDeduct" runat="server" />&nbsp;作为奖励<br />
                            </p>
                            <p id="SecondDeduct" runat="server">
                                您所邀请的会员，后续再邀请了其他会员，您能获得这部分会员消费金额的&nbsp;<asp:Literal Text="0" Id="litSecondLevelDeduct" runat="server" />&nbsp;作为奖励<br />
                            </p>
                            <p id="ThirdDeduct" runat="server">
                                您的下级会员所发展的会员，后续邀请了其他会员，您能获得这部分会员消费金额的&nbsp;<asp:Literal Text="0" Id="litThreeLevelDeduct" runat="server" />&nbsp;作为奖励<br />
                            </p>
                            <p>
                                奖励自动结算，一键提现，自动转入您的微信零钱包或支付宝钱包<br />
                            </p>
                        </div>
                    </div>
                    <div id="repeledPanel" runat="server" visible="false" clientidmode="static">
                        <div style="float:left;width:100%;padding:100px 100px;box-sizing:border-box;">
                            <div style="width:100%;float:left;text-align:center;margin-bottom:50px;"><img src="/images/clear_mob.png" width="84"  /></div>
                            <h3 style="font-size:16px;margin-bottom:10px;margin-left:200px; padding-top:5px;float:left;"> 您于 <asp:Literal id="repeledTime" runat="server"></asp:Literal>  被商城取消分销员资格。</h3>
                            <div style="font-size:14px; width:400px;float:left;margin-left:200px;" id="divRepeledReason" runat="server" visible="false">
                                商家解释：
                                <font style="color:#999;">
                                    <asp:Literal id="repeledReason" runat="server"></asp:Literal>
                                </font>
                            </div>
                       
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/Utility/ZeroClipboard.min.js"></script>
    <script type="text/javascript">
        var copy = new ZeroClipboard($("#btnCopy"), {
            moviePath: "/Utility/ZeroClipboard.swf"
        });
        function success() {
            ShowMsg("复制成功：" + $("#spanLitUserLink").text(), true);
        }
    </script>

    <div class="hyzxfooter"></div>
</form>
    <%<hi:common_footer runat="server" skinname="/ascx/tags/Common_UserCenter/Skin-Common_User_Footer.ascx" />%>
