<%<Hi:Common_Header runat="server" SkinName="/ascx/tags/Common_UserCenter/Skin-Common_User_Header.ascx" />%>
<script src="/utility/validate/pagevalidator.js" type="text/javascript"></script>
<script src="/utility/globals.js" type="text/javascript"></script>
<form runat="server" id="form1">
<div class="hyzxmain">
<div class="hyzxconty">当前位置><span><a href="/">首页</a></span>><span><a href="/User/UserDefault.aspx">会员中心</a></span>><span><a href="#">订单付款</a></span></div>
<div class="hyzxconter">
<div class="hyzxconterl">
            <%<Hi:Common_User_Menu runat="server" />%>
            <div class="hyzxconterl1">
            </div>
        </div>
        <div class="hyzxconterr">
<div class="dingdanxx">
<div class="dingdan_box1">订单付款</div>
<%<Hi:SmallStatusMessage id="Status" runat="server" Visible="False" />%>
          <div style="border:1px #fede7d solid; background:#fff9d9; text-align:center; height:120px;margin-top:15px;padding-top:10px;">
          <span style="width:67px;float:left;height:100%;margin-left:40px;padding-top:15px;"><img src="/images/cart/successico.png" /></span>
           
            <div  class="core_orderpay_c" style=" float: left;">
             <span style="font-size:large; color:#000!important;"><%<asp:Label runat="server" ID="lblPayStatus" Text="订单付款成功！"/> %></span>
			<span>请您记好您的订单编号:</span>
			<span  class="color_A30"><b><%<asp:Literal ID="litMessage" runat="server"></asp:Literal>%></b></span>
 			<span > <%<asp:HyperLink runat="server" ID="hlkDetails" ForColor="blue" Text="查看已付款的订单"/> %></span>
		</div>
           
            </div>
		</div>
</div>
</div>
</div>
</form>
<%<Hi:Common_Footer runat="server" SkinName="/ascx/tags/Common_UserCenter/Skin-Common_User_Footer.ascx" />%>