<%<Hi:Common_Header runat="server" SkinName="/ascx/tags/Common_UserCenter/Skin-Common_User_Header.ascx" />%>
<script src="/utility/validate/pagevalidator.js" type="text/javascript"></script>
<form runat="server" id="form1">
<div class="hyzxmain">
    <div class="hyzxconty">
        当前位置：<span><a href="/">首页</a></span>><span><a href="/user/UserDefault.aspx">会员中心</a></span>><span><a
            href="#">修改密码</a></span></div>
    <div class="hyzxconter">
        <div class="hyzxconterl">
            <%<Hi:Common_User_Menu runat="server" />%>
        </div>
        <div class="hyzxconterr">
            <div class="dingdanxx">
                <div class="dingdan_box1">
                    修改密码保护</div>
                <%<Hi:SmallStatusMessage id="StatusPasswordProtection" runat="server" Visible="False" />%>
                <div class="xgmima">
                    <div class="nTab1">
                        <div class="TabTitle">
                            <ul id="myTab">
                                <li id="one1" class="normal" runat="server"><a href="/user/UpdatePassword.aspx"><%<asp:literal ID="textPasswordView" runat="server"></asp:literal>%></a></li>
                                <li id="one2" class="normal" runat="server"><a href="/user/UpdateTranPassword.aspx">修改交易密码</a></li>
                                <li id="one3" class="active">修改密码保护</li>
                            </ul>
                        </div>
                        <div class="TabContent" style="padding: 30px;">
                            <div id="myTab_Content0">
                                <%<asp:Panel id="tblrOldQuestion" runat="server">%>
                                <div class="xgmm">
                                    <em>当前问题：</em><span><%<asp:Literal ID="litOldQuestion" runat="server" />%></span>
                                </div>
                                <%</asp:Panel>%>
                                <%<asp:Panel id="tblrOldAnswer" runat="server">%>
                                <div class="xgmm">
                                    <em>问题答案：</em><span style="color: red;">*</span>
                                        <%<asp:TextBox ID="txtOdeAnswer" runat="server" class="userInput"/>%>
                                        <%<asp:RequiredFieldValidator runat="server" Display="None"
                        ControlToValidate="txtOdeAnswer" ErrorMessage="原问题答案为必填项"
                        ValidationGroup="valsProfileAnswerAndQuestion" />%>
                                        <%</asp:Panel>%>
                                        <div class="xgmm">
                                            <em>新密码问题：</em><span style="color: red;">*</span><span>
                                                <%<asp:TextBox ID="txtQuestion" runat="server" class="userInput"/>%>
                                                <%<asp:RequiredFieldValidator runat="server" Display="None"
                        ControlToValidate="txtQuestion" ErrorMessage="新密码问题为必填项"
                        ValidationGroup="valsProfileAnswerAndQuestion" />%>
                                            </span>
                                        </div>
                                        <div class="xgmm">
                                            <em>新问题答案：</em><span style="color: red;">*</span><span>
                                                <%<asp:TextBox ID="txtAnswer" runat="server" class="userInput"/>%>
                                                <%<asp:RequiredFieldValidator runat="server" Display="None"
                        ControlToValidate="txtAnswer" ErrorMessage="新问题答案为必填项"
                        ValidationGroup="valsProfileAnswerAndQuestion" />%>
                                            </span>
                                        </div>
                                        <div class="btn-password">
                                            <%<asp:Button ID="btnOK3" runat="server" ValidationGroup="valsProfileAnswerAndQuestion" Text="确定" class="btn_style_bar" />%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script language="javascript" type="text/javascript">
                        var btn = document.getElementById("updatePasswordProtection_btnReset");
                        function btnClear() {
                            if (document.getElementById("updatePasswordProtection_txtOdeAnswer") != null) {
                                document.getElementById("updatePasswordProtection_txtOdeAnswer").value = "";
                            }
                            document.getElementById("updatePasswordProtection_txtQuestion").value = "";
                            document.getElementById("updatePasswordProtection_txtAnswer").value = "";
                        }
                    </script>
                    <div class="tishi">
                        <span>密码保护功能可以保障您的会员名更安全，当密码发生问题时，能帮您更安全快捷的取回。</span> <span>请一定要在"个人信息"填写并牢记您的安全邮箱以便接收您的密码。包括安全邮箱在内的密码保护信息，系统不会对外公开。</span>
                        <span>请您认真填写密码保护的问题，要牢记填写的每项内容，以便系统将根据该资料为您提供“修改密码”、“取回密码”服务。</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="hyzxfooter"> </div>
</div>
</form>
<%<Hi:Common_Footer runat="server" SkinName="/ascx/tags/Common_UserCenter/Skin-Common_User_Footer.ascx" />%>