<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no,email=no" />
		<title>分销中心</title>
		<link href="style/style.css" rel="stylesheet" />
		<script type="text/javascript" src="script/flexible.debug.js"></script>
		<script type="text/javascript" src="script/flexible_css.debug.js"></script>	
	</head>
	<body class="bg">
		<div class="fx_header">
			<div class="fxInfoBox">
				<div class="fx_Info">
					<div class="fx_userInfo">
						<div class="fx_hd">
							<div class="fx_name">一起去乘凉</div>
							<div class="btn">普通</div>
						</div>	
						<div class="name_desc">再获得 <b>18.00</b>元佣金升级为 <b>黄金</b></div>
					</div>
					<div class="Distribution">店铺推广</div>
				</div>
				<div class="drawalsBox pd24">
					<div class="drawals fl">
						<div><i>¥</i><span>20</span></div>
						<em>可提现</em>
					</div>
					<div class="drawals fl">
						<div><i>¥</i><span>20</span></span></div>
						<em>历史赚取</em>
					</div>
					<div class="drawals fr">
						<div><i>¥</i><span>20</span></div>
						<em>未结算</em>
					</div>
				</div>
				
			</div>
		</div>
	
		<!--常用功能-->
		<div class="fx_common">
			<ul>
				<li>
					<a href="#">
						<em class="iconfont "></em>
						<span>我的佣金</span>
						<i class="iconfont "></i>
					</a>
				</li>
				<li>
					<a href="#">
						<em class="iconfont "></em>
						<span>我的下级</span>
						<i class="iconfont "></i>
					</a>
				</li>
				<li>
					<a href="#">
						<em class="iconfont "></em>
						<span>店铺信息</span>
						<i class="iconfont "></i>
					</a>
				</li>
			</ul>
		</div>
		  
	
	</body>
</html>













