<hi:common_wapheader runat="server" />
<meta name="viewport" content="width=640,target-densitydpi=320, user-scalable=no">
<style>
    body {
        background: #d84315;
    }

    .main {
        width: 100%;
        height: 1008px;
        background: url(/images/reg_bg.png);
    }

    .price {
        font-size: 50px;
        color: #dd2c00;
        margin: 200px 0 0 0;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

        .price img {
            margin-top: -10px;
        }

    .coupon {
        width: 420px;
        height: 190px;
        background: url(/images/reg_coupon.png) no-repeat;
        position: relative;
    }

    .couponed {
        background: url(/images/reg_couponed.png) no-repeat;
    }

    #slides {
        width: 420px;
        height: 410px;
        display: inline-block;
        /*border:1px solid red;*/
        margin: 30px 0 0 110px;
    }

    .coupon_list {
        float: left;
    }

        .coupon_list .coupon:first-child {
            margin-bottom: 30px;
        }

    .coupon h1 {
        font-size: 24px;
        font-weight: normal;
        text-align: center;
        color: #fff;
        padding: 15px 0;
    }

    .coupon span {
        font-size: 60px;
        font-weight: normal;
        text-align: center;
        color: #fff;
        display: inherit;
        line-height: 1.3;
    }

        .coupon span i {
            font-size: 40px;
        }

    .coupon img {
        position: absolute;
        top: 0;
        left: 0;
    }

    .slides_container {
        height: 410px;
    }

    .k3_box {
        width: 420px;
        height: 475px;
        margin-left: 90px;
        border-top: 1px #f1f1f1 solid;
        margin-top: 25px;
        padding-top: 16px;
        position: relative;
        text-align: center;
    }

        .k3_box li {
            float: left;
        }

        .k3_box ul {
            border-bottom: 1px #ccc solid;
        }

        .k3_box ol {
            border-radius: 20px;
            display: inline-block;
            margin-top: 20px;
        }

            .k3_box ol li {
                display: inline-block;
                width: 14px !important;
                height: 14px;
                border-radius: 50%;
                background: #b0b0b0;
                margin: 4px;
                text-align: center;
                border: 2px #b0b0b0 solid;
            }

                .k3_box ol li.h {
                    background: #dd2c00;
                    border: 2px #dd2c00 solid;
                }

    #WapRegisteredCoupons_btnToGo {
        width: 245px;
        height: 88px;
        float: left;
        margin: 60px 0 0 200px;
    }
</style>
<form id="form" runat="server">
    <div class="main">
        <%<asp:HiddenField runat="server" ID="hidIsOpenGiftCoupons" ClientIDMode="Static" />%>
        <span class="price">
            <%<asp:Literal runat="server" ID="lblTotalPrice"></asp:Literal>%>

            <img src="/images/reg_bg1.png" />
        </span>
        <div class="k3_box" id="k3_box" style="overflow: hidden;">
            <div class="slides_container k3_ul" id="k3_ul">
                <%<hi:WapTemplatedRepeater id="rptRegisterCoupons" templatefile="/Tags/skin-Common_RegisteredCoupons.ascx" runat="server" />%>
            </div>
            <ol class="k3_ol">
                <li class="h"></li>
                <li></li>
                <li></li>
            </ol>
        </div>
        <%<asp:HyperLink runat="server" ID="btnToGo"></asp:HyperLink>%>
    </div>


</form>
<script src="/script/iscroll.js"></script>
<script>
    function tabSlide(obj, ul, icon) {
        var scrollPicView = document.getElementById(obj),
            scrollPicViewDiv = document.getElementById(ul),
            lis = scrollPicViewDiv.querySelectorAll("li"),
            w = scrollPicView.offsetWidth,
            len = lis.length;
        for (var i = 0; i < len; i++) {
            lis[i].style.width = w + "px";
            if (i == len - 1) {
                scrollPicViewDiv.style.width = w * len + "px";
            }
        }
        var scroll_pic_view = new iScroll(obj, {
            snap: true,
            momentum: false,
            hScrollbar: false,
            useTransition: false,
            onScrollEnd: function () {
                $('.' + icon).removeClass("h").eq(this.currPageX).addClass("h");


            }, onBeforeScrollStart: function (e) {
                if (this.absDistX > (this.absDistY + 5)) {
                    // 用户滚动x轴,所以防止浏览器的原生滚动
                    e.preventDefault();
                }
            },
            //解决第一次无法滑动的问题
            onTouchEnd: function () {
                var self = this;
                if (self.touchEndTimeId) {
                    clearTimeout(self.touchEndTimeId);
                }

                self.touchEndTimeId = setTimeout(function () {
                    self.absDistX = 0;
                    self.absDistX = 0;
                }, 600);
            }

        });

    }
    $(function () {
        var divCouponNum = $(".coupon_list").length;
        var k3_olHtml = "<li class=\"h\"></li>";
        for (var i = 1; i < divCouponNum; i++) {
            k3_olHtml += "<li></li>";
        }
        $(".k3_ol").html(k3_olHtml);
        var a = $(".coupon_list").width();
        var b = $(".coupon_list").length;
        $(".slides_container").width(a * b);
        tabSlide('k3_box', 'k3_ul', 'k3_ol li');


    });

</script>
