<%<hi:common_appheader runat="server" />%>
<div class="form">
    <form class="form-horizontal" runat="server">
        <br /><br />
        <div class="input-group input-group-lg username" id="divOpenId" runat="server">
            
            <span class="input-group-addon glyphicon" id="sizing-addon1"></span>
            <input type="text" id="txtOpenId" ClientIDMode="Static" class="form-control setinput" placeholder="" readonly="readonly" aria-describedby="sizing-addon1" runat="server">
        </div>
        <div class="error" id="errorMsg" runat="server">

        </div>
    </form>
</div>
