<hi:common_wapheader runat="server" />
<style>
    .huoping_xq .product {
        margin-bottom: 0px;
        padding: 0px;
    }

    .huoping_xq {
        margin-bottom: 0.5rem;
        background: #FFF;
    }

        .huoping_xq .line1 {
            padding: 0.75rem 0px;
        }

        .huoping_xq .line {
            padding: 0.5rem 0.75rem;
        }
</style>

<Hi:WapTemplatedRepeater ID="rptMemberGroups" TemplateFile="/Tags/skin-Common_MemberGroups.ascx" runat="server" />
<hi:common_wapfooter runat="server" />



