<hi:common_wapheader runat="server" />
<div id="divLogin" class="container">
    <div class="form l_form">
        <form class="form-horizontal" runat="server">
            <div class="bgc reg_1">

                <div class="input-group input-group-lg password" style="line-height:2.5rem;">
                    <span class="input-group-addon">账号</span>
                    <asp:literal runat="server" id="lblUserName"></asp:literal>
                </div>
                <div class="input-group input-group-lg password">
                    <span class="input-group-addon">验证码</span>
                    <input clientidmode="Static" id="txtNumber" type="text" placeholder="请输入验证码" style="width:5rem" runat="server" maxlength="6">

                    <input id="phoneVerifyCode" type="button" value="获取验证码" class=" btn btn-default" style="border:1px solid #ebebeb !important;background: #fff !important;color: #333;float:right;" />

                </div>
                <div class="input-group input-group-lg password">
                    <span class="input-group-addon">密码</span>
                    <input clientidmode="Static" type="password" id="txtPassword" class="setinput" placeholder="请输入新密码" aria-describedby="sizing-addon1" runat="server">
                </div>
                <div class="input-group input-group-lg password">
                    <span class="input-group-addon">确认密码</span>
                    <input clientidmode="Static" id="txtPassword2" type="password" placeholder="请重复一遍新密码" runat="server">
                </div>
                <div style="color:red;" id="message">
                    <h3><span><asp:literal runat="server" id="message"></asp:literal></span></h3>
                </div>
            </div>
            <div class="login">
                <asp:button clientidmode="Static" id="btnConfirm" CssClass="btn_login" runat="server" Text="完 成" />
            </div>
        </form>
    </div>

</div>
<script type="text/javascript">
    //发送手机验证码
    $(document).ready(function () {
        getCodeTimer();
        var user = GetUrlValue("UserName");
        $("#lblUserName").text("验证码已发送到 " + user);
        $("#phoneVerifyCode").click(function () {
            if ($("#phoneVerifyCode").attr("value") != "获取验证码") {
                return;
            }
            var codeType = "";
            var pUrl = "";
            var paramData = "";
            var value = document.getElementById("txtCellPhoneOrEmail").value;
            if (isCellPhone(value)) {
                pUrl = "/Handler/MemberHandler.ashx?action=SendVerifyCode";
                paramData = { Phone: value, needValidate: 1 };
                codeType = "phone";
            }
            if (isEmail(value)) {
                pUrl = "/Handler/MemberHandler.ashx?action=SendEmailVerifyCode";
                paramData = { Email: value };
                codeType = "email";
            }
            if (codeType == "") {
                alert_h('请输入正确的手机号码或邮箱');
                $("#message").text('请输入正确的手机号码或邮箱');
                return;
            }
            $.ajax({
                type: "POST",
                url: pUrl,
                data: paramData,
                success: function (result) {
                    if (result.success == "true") {
                        getCodeTimer();
                    }
                    else {
                        $("#message").text(result.msg);
                    }
                }
            });
        });
    });
    function getCodeTimer() {
        var time = 1000;
        var interval;
        var count = 0;
        function fun() {
            count++;
            if (count >= 60) {
                $("#phoneVerifyCode").attr("disabled", false);
                $("#phoneVerifyCode").attr("value", "重新发送");
                clearInterval(interval);
            }
            else {
                $("#phoneVerifyCode").attr("value", "发送成功（" + (60 - count) + ")");
            }
        }
        $("#phoneVerifyCode").attr("disabled", "true");
        interval = setInterval(fun, time);
    }
    function isCellPhone(cellPhone) {
        var reg = /^0?(13|15|18)[0-9]{9}$/g;
        return reg.test(cellPhone);
    }
    function isEmail(mail) {
        var reg = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
        return reg.test(mail);
    }
    //获取url参数的值
    function GetUrlValue(name) {
        url = window.document.location.href;
        var re = new RegExp("(\\\?|&)" + name + "=([^&]+)(&|$)", "i");
        var m = url.match(re);
        if (m)
            return m[2];
        else
            return '';
    }
</script>
<hi:common_wapfooter runat="server" />

