<div class="att-popup">
    <div class="att-popup-container">
        <div class="att-popup-header">
            <div class="thumb pull-left"><%<asp:image runat="server" ID="imgSKUSubmitOrderProduct" clientIdMode="static"></asp:image> %></div>
            <div class="info pull-left">
                <div class="p_price_1" style="display:none" id="prediv">定金:<i>￥<%<asp:label runat="server" text="" ID="lblSKUSubmitOrderPrePrice"></asp:label>%></i></div>
                <div class="p_price_1" ><i class="color_6">￥<%<asp:label runat="server" text="" ID="lblSKUSubmitOrderPrice"></asp:label>%></i></div>
                

                <div class="selected" id="divSkuShows">已选择：</div>
            </div>
            <a href="#" class="att-popup-close pop_close icon-icon_close_48"></a>
        </div>
        <div class="att-popup-body">
            <div class="item">
                <a name="specification" id="specification"></a>
                <hi:common_skuselector id="SKUSubmitOrderSelector" runat="server" />
                <div class="goods-num">
                    <a name="buyQuantity" id="buyQuantity"></a>
                    <div class="text-muted">数量：</div>
                    <div id="spSub" class="shopcart-add">
                       -
                    </div>
                    <input type="number" min="1" id="buyNum" size="10" value="1" />
                    <div id="spAdd" class="shopcart-minus">
                       +
                    </div>
                <div class="stock-control">库存：<%<asp:label runat="server" text="" ID="lblSKUSubmitOrderStockNow"></asp:label>%></div>
                    
                    <div class="item" id="divMaxCount">
                        (每人限购&nbsp;<span id="spMaxCount"><%<asp:literal runat="server" ID="litMaxCount"></asp:literal> %><asp:literal runat="server"
             id="litUnit" />)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="att-popup-footer operbtns">
            <button class="btn btn-warning btn-yes" id="buyButton" runat="server" clientidmode="Static" type="shoppingBtn">确 定</button>
        </div>
        <div class="att-popup-footer operbtns" style="display:none;">
            <button class="buy b_r_0 mg_0" id="btnSignBuy" style="width:50%">
                立即购买
            </button>
            <button id="btnAddCart" class="add_cart b_r_0 mg_0" style="width:50%">
                加入购物车
            </button>
        </div>
    </div>
</div>
<script src="/utility/vSKUSubmitOrder.js?v=3.30" type="application/javascript">
</script>


<input type="hidden" runat="server" id="hidden_SKUSubmitOrderProductId" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderCountDownId" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderFightGroupActivityId" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderFightGroupId" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderPreSaleId" clientidmode="Static" value="0" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderDepositPercent" clientidmode="Static" value="0"/>
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderMinSalePriceSkuId" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderSelectedSkuId" value="0" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderBusiness" value="0" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderFightGroupActivityMinPrice" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderFightGroupActivityStock" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderProductMinPrice" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderProductStock" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderCountDownMinPrice" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderCountDownStock" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderGroupBuyMinPrice" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderGroupBuyStock" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_SKUSubmitOrderGroupBuyId" clientidmode="Static" />