<hi:common_wapheader runat="server" />
<style>

</style>
<header class="orderlist_tab">
    <ul id="head_tab">
        <li><a  href="RequestBalanceDraw.aspx">申请提现</a></li>
        <li><a class="tab_active" href="#">提现记录</a></li>
    </ul>
</header>
<div id="divEmpty" class="kong" style="display: none;">
    <img src="/images/orderlist_null.png">
    <p>没有提现记录~</p>
</div>
<div class="main" style="border-bottom:0;">
    <hi:WapTemplatedRepeater id="rptDrawRecodes" templatefile="/Tags/skin-Common_RequestBalanceDrawRecords.ascx" runat="server" />    
</div>

<div id="pager">
</div>
<input type="hidden" value="" runat="server" clientidmode="static" id="txtTotal" />
<hi:Common_ContextMenu id="ContextMenu" runat="server" />
<script src="/Utility/pager.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        vshopPager('pager', $('#txtTotal').val(), 1, 10);

        if ($(".referral_1").length == 0) {
            $("#divEmpty").show();
        }

    });
</script>
