<hi:common_wapheader runat="server" />
<style>
    .orderlist_tab ul li {
        width: 20%;
        float: left;
    }
</style>
<div class="mdpeisongC" id="divPublicTip" style="display:none"><span></span></div>
<div class="att-popup" id="divChoosePayType">
    <div class="att-popup-container payment">
        <input type="hidden" id="hidPayOrderId" value="" />
        <input type="hidden" runat="server" id="hidHasProductCommentPoint" class="j_hidHasProductCommentPoint" />
        <input type="hidden" id="hidHasTradePassword" runat="server" value="false" ClientIdMode="static" /><!-- 是否有交易密码 -->
        <div class="pay_title">选择付款方式</div>
        <Hi:Common_WAPPaymentTypeSelect runat="server" id="paymenttypeselect" CssClass="pay_list" />
        <div class="pay_price">
            订单实付：<span id="spanPayTotal"></span>
            <span style="color:red;margin-left:30px;" id="spandemo" runat="server" visible="false">【演示站点，请勿真实购买】</span>
        </div>
        <a class="btn_submiit" id="btn_gotoPay">确定</a>
        <a href="#" class="att-popup-close pop_close" id="payment_close"></a>
    </div>
</div>
<div class="att-popup" id="divSetPassword">
    <div class="att-popup-container payment">
        <div class="pay_title" id="divSetPasswordTitle">请先设置交易密码</div>
        <div class="pay_price">
            <div><em>交易密码</em><input type="password" placeholder="请输入交易密码" id="txtTradePassword" /></div>
            <div><em>确认密码</em><input type="password" placeholder="确认交易密码" id="txtTradePasswordAgain" /></div>
        </div>
        <a class="btn_submiit" id="btnSetTradePassword">确定</a>
        <a href="#" class="att-popup-close pop_close icon-icon_close_48" id="tradePassword_close"></a>
    </div>
</div>
<header class="orderlist_tab">
    <ul id="head_tab">
        <li><asp:HyperLink id="hyAllOrder" runat="server" href="MemberOrders.aspx">全部订单</asp:HyperLink></li>
        <li><asp:HyperLink id="hyWaitpayOrder" runat="server" href="MemberOrders.aspx?status=1">待付款</asp:HyperLink></li>
        <li id="liWaiteSend" runat="server"><asp:HyperLink id="hyAlreadyPayOrder" runat="server" href="MemberOrders.aspx?status=2">待发货</asp:HyperLink></li>
        <li><asp:HyperLink id="hyWaitReceiveOrder" runat="server" href="MemberOrders.aspx?status=3">待收货</asp:HyperLink></li>
        <li id="liWaiteTakeOnStore" runat="server"><asp:HyperLink id="hyWaitTakeOnStore" runat="server" href="MemberOrders.aspx?status=999">自提/消费</asp:HyperLink></li>
        <li><asp:HyperLink id="hyFinishedOrder" runat="server" href="memberorders.aspx?status=21">待评价</asp:HyperLink></li>
    </ul>
</header>
<div id="divorderlist">
    <hi:common_membercenterorders runat="server" />
</div>

<div class="modal-backdrop in hide"></div>
<div class="sub_dialog">
    <div class="price" id="payamount"><b>支付金额：</b> <em></em></div>
    <div class="txt"><input type="password" placeholder="输入交易密码" id="textfieldpassword"></div>
    <div class="sub_btn"><a href="javascript:void(0)" class="cancle" id="canclepay">取消</a> <a href="javascript:void(0)" class="submit" id="advancepay">确定</a><a href="javascript:void(0)" class="submitloading" id="submitloading" style="display:none;"><img src="/images/icon/jiazai.gif" width="22px" alt="" /></a></div>
    <div class="txt" style="color:red;display:none" id="errormsg"></div>
</div>

<div class="att-popup2"></div>
<div id="divEmpty" class="kong">
    <img src="/images/orderlist_null.png" />
    <p>您还没有相关的订单~</p>
</div>
<script type="text/javascript">
    //头部筛选切换
    $(function () {
        $("#divPublicTip").hide();
        var paytypeListHtml = $(".pay_list").html();
        $("#btnSetTradePassword").bind("click", function () { setTradePassword() });
        $(".paylink").click(function (e) {
            var obj = this;
            var tipValue = $(this).attr("NeedNotInTimeTip");
            if (tipValue != null && tipValue != undefined && tipValue == "1") {
                myConfirmBox('操作提示', '当前为门店非营业时间，付款后门店可能无法及时处理您的订单，确定付款吗？', '确定', '取消', function () {
                    preOrderPay(obj);
                }, function () {
                    return false;
                });
            }
            else {
                preOrderPay(obj);
            }
        });
        $("#btn_gotoPay").bind("click", function () {
            gotoPay()
        });
        $("#tradePassword_close").click(function (e) {
            if ($(this).attr("id") != "tradePassword_close")
                return false;
            window.location.reload();
        });
    })

    function preOrderPay(obj) {
        var iscontinue = payOrderCheck(obj);
        if (!iscontinue)
            return;
        var isServiceOrder = $(obj).attr("IsServiceOrder");
        if (isServiceOrder == "true") {//如果是服务类订单则只显示微信支付
            $(".pay_list input").each(function (e) {
                if ($(this).val() != "-2") {
                    $(this).parent().parent().remove();
                }
            });
            if ($(".pay_list input").length == 0) {
                ShowMsg("服务类订单请在微信端使用微信支付付款。", false)
                return;
            }
        }
        $("input[name='chk_paymentlist']").checked = false;
        var orderTotal = parseFloat($(obj).attr("orderTotal"));
        var orderId = $(obj).attr("OrderId");
        var paymentTypeId = parseInt($(obj).attr("PaymentTypeId"));
        if (orderId == undefined || orderId == "" || isNaN(orderTotal) || orderTotal <= 0 || isNaN(paymentTypeId)) {
            var fightGroupId = parseInt($(obj).attr("FightGroupId"));
            if (!isNaN(fightGroupId) && fightGroupId > 0) {
                $("input[name='chk_paymentlist']").each(function () {
                    if ($(obj).val() != "-6" && $(obj).val() != "-8" && $(obj).val() != "-2" && $(obj).val() != "-10" && $(obj).val() != "-4") {
                        $(obj).parent().parent().remove();
                    }
                });
            }
            else {
                $(".pay_list").html(paytypeListHtml);
            }
            return false;
        }
        if ($("input[name='chk_paymentlist'][value='" + paymentTypeId + "']").length > 0) {
            $("input[name='chk_paymentlist'][value='" + paymentTypeId + "']").attr("checked", "checked");
        }
        $("#hidPayOrderId").val(orderId);
        $("#spanPayTotal").html("￥" + orderTotal);
        //$('.att-popup').addClass('is-visible');
        $("#divChoosePayType").addClass('is-visible');
    }
    function payOrderCheck(ctl) {
        var b = false;
        $.ajax({
            url: "../API/VshopProcess.ashx",
            type: 'post', dataType: 'json', timeout: 10000,
            data: {
                action: "PayCheckOrder",
                orderId: $(ctl).attr("OrderId")
            },
            async: false,
            success: function (resultData) {
                if (resultData.ErrorCode == "0") {
                    b = true;
                }
                else if (resultData.ErrorCode == "004" || resultData.ErrorCode == "005") {

                    if (resultData.ErrorCode == "004") {
                        alert_h("您来晚了，订单中有商品已删除或已下架。", function () { window.location.reload(); });
                        window.location.reload();

                    }
                    else {
                        alert_h("您来晚了，订单中有商品库存不足，请联系卖家处理。");
                    }
                }
                else { alert(resultData.msg); }
            }
        });

        return b;
    }


    function setTradePassword() {
        var password = $("#txtTradePassword").val().trim();
        var confirmPassword = $("#txtTradePasswordAgain").val().trim();
        if (password.length == 0) {
            $("#divSetPasswordTitle").html("请输入交易密码");
            return false;
        }
        if (password.length < 6 || password.length > 20) {
            $("#divSetPasswordTitle").html("交易密码限制为6-20个字符");
            return false;
        }
        if (confirmPassword.length == 0) {
            $("#divSetPasswordTitle").html("请确认交易密码");
            return false;
        }
        if (password != confirmPassword) {
            $("#divSetPasswordTitle").html("两次输入的交易密码不一致");
            return false;
        }
        var orderId = $("#hidPayOrderId").val();
        if (orderId == "") {
            alert_h("错误的订单信息");
            $("#payment_close").trigger("click");
            return false;
        }
        var data = {};
        data.password = password;
        data.confirmPassword = confirmPassword;
        $("#btnSetTradePassword").attr("disabled", "disabled");
        $.post("/api/VshopProcess.ashx?action=OpenBalance", data, function (json) {
            if (json.success || json.success == "true") {
                $("#btnSetTradePassword").text("支付中..");
                $.ajax({
                    url: "/API/VshopProcess.ashx",
                    type: "post",
                    dataType: "json",
                    timeout: 10000,
                    data: {
                        action: "AdvancePayPassVerify",
                        OrderId: orderId,
                        AdvancePayPass: password
                    },
                    async: false,
                    success: function (data) {
                        if (data.Status == undefined) {
                            $("#btnSetTradePassword").text("确定");
                            $("#btnSetTradePassword").removeAttr("disabled");
                            $("#divSetPassword").css('visibility', 'hidden');
                            $("#divPublicTip").find("span").html("参数错误");
                            $("#divPublicTip").show().delay(2000).fadeOut();
                        }
                        else if (data.Status == "OK") {
                            //$(".sub_dialog").hide();
                            $("#divSetPassword").css('visibility', 'hidden');
                            if (document.location.href.toLowerCase().indexOf("/vshop/") > -1) {
                                if (data.isFightGroup) {//火拼团并且是微信端
                                    location.href = "/vshop/FightGroupSuccess?orderId=" + data.orderId;
                                }
                                else {
                                    //处理红包
                                    $.ajax({
                                        url: "/API/VshopProcess.ashx",
                                        type: 'post', dataType: 'json',
                                        data: { action: "CheckSendRedEnvelope", OrderId: orderId },
                                        success: function (resultData) {
                                            if (resultData.success == "true") {
                                                //跳转到发红包页面
                                                location.href = "/vshop/SendRedEnvelope?OrderId=" + orderId;
                                            }
                                            else {
                                                window.location.reload();
                                            }
                                        }
                                    });
                                }
                            }
                            else {
                                window.location.reload();
                            }
                        } else {
                            if (data.Status == "001" || data.Status == "002") {
                                $("#divSetPassword").css('visibility', 'hidden');
                                if (data.Status == "001") {
                                    $("#divPublicTip").find("span").html("您来晚了，订单中有商品已删除或已下架。");
                                    $("#divPublicTip").show().delay(2000).fadeOut();
                                }
                                else {
                                    $("#divPublicTip").find("span").html("您来晚了，订单中有商品库存不足，请联系卖家处理。");
                                    $("#divPublicTip").show().delay(2000).fadeOut();
                                }
                            }
                            else {
                                $("#btnSetTradePassword").text("确定");
                                $("#btnSetTradePassword").removeAttr("disabled");
                                $("#divSetPassword").css('visibility', 'hidden');
                                $("#divPublicTip").find("span").html(data.Message);
                                $("#divPublicTip").show().delay(2000).fadeOut();
                            }
                        }
                    }
                });
            }
            else {
                //alert_h(json.msg);
                $("#divSetPasswordTitle").html(json.msg);
                return false;
            }
        });
    }

    function gotoPay() {
        var orderId = $("#hidPayOrderId").val();
        if (orderId == "") {
            alert_h("错误的订单信息");
            $("#payment_close").trigger("click");
            return false;
        }
        if ($("input[name='chk_paymentlist']:checked").length == 0) {
            alert_h("请选择支付方式");
            return false;
        }
        var paymentTypeId = $("input[name='chk_paymentlist']:checked").val();
        //var paymentTypeId = $("input[name='chk_paymentlist']:checked")

        if (paymentTypeId == "-6") {
            if ($("#hidHasTradePassword").val() != "1") {
                $("#divChoosePayType").css('visibility', 'hidden');
                $("#divSetPassword").addClass('is-visible');
            }
            else {
                $('.att-popup2').css('visibility', 'visible');
                //$('.att-popup').css('visibility', 'hidden');
                $("#divChoosePayType").css('visibility', 'hidden');
                $(".sub_dialog").show();
                var amount = $("#spanPayTotal").text();
                $("#payamount").html("<b>支付金额：</b><em>" + amount + "</em>");
                $("#advancepay").bind("click", function () {
                    $("#errormsg").hide();
                    $("#advancepay").hide();
                    $("#submitloading").show();
                    //$(this).attr("disabled", "disabled");
                    var AdvancePayPass = $("#textfieldpassword").val();
                    if (!AdvancePayPass) {
                        alert_h("请输入交易密码!", false);
                        $(this).text("确定");
                        $("#advancepay").show();
                        $("#submitloading").hide();
                        // $(this).removeAttr("disabled");
                        return;
                    }
                    if ($("#advancepay").text() == "支付中..") {
                        $("#advancepay").show();
                        $("#submitloading").hide();
                        return false;
                    }
                    else {
                        $("#advancepay").text("支付中..");
                    }
                    $.ajax({
                        url: "/API/VshopProcess.ashx",
                        type: "post",
                        dataType: "json",
                        timeout: 10000,
                        data: {
                            action: "AdvancePayPassVerify",
                            OrderId: orderId,
                            AdvancePayPass: AdvancePayPass
                        },
                        async: false,
                        success: function (data) {
                            if (data.Status == undefined) {
                                $("#errormsg").html("参数错误！");
                                $("#errormsg").show();
                                $("#advancepay").show();
                                $("#submitloading").hide();
                                $("#advancepay").text("确定");
                                $("#advancepay").removeAttr("disabled");
                            } else if (data.Status == "OK") {
                                $(".sub_dialog").hide();
                                $('.att-popup2').css('visibility', 'hidden');
                                if (document.location.href.toLowerCase().indexOf("/vshop/") > -1) {
                                    if (data.isFightGroup) {//火拼团并且是微信端
                                        location.href = "/vshop/FightGroupSuccess.aspx?orderId=" + data.orderId;
                                    } else {
                                        //处理红包
                                        $.ajax({
                                            url: "/API/VshopProcess.ashx",
                                            type: 'post', dataType: 'json',
                                            data: { action: "CheckSendRedEnvelope", OrderId: orderId },
                                            success: function (resultData) {
                                                if (resultData.success == "true") {
                                                    //跳转到发红包页面
                                                    location.href = "/vshop/SendRedEnvelope.aspx?OrderId=" + orderId;
                                                }
                                                else {
                                                    window.location.reload();
                                                }
                                            }
                                        });
                                    }
                                }
                                else {
                                    window.location.reload();
                                }
                            } else {
                                $("#advancepay").show();
                                $("#submitloading").hide();
                                if (data.Status == "001") {
                                    $("#errormsg").html("您来晚了，订单中有商品已删除或已下架。");
                                } else if (data.Status == "002") {
                                    $("#errormsg").html("您来晚了，订单中有商品库存不足，请联系卖家处理。");
                                } else if (data.Status == "003") {
                                    $("#errormsg").html("<a href=\"ForgotTradePassword?source=pay&orderId=" + orderId + "\" style=\"color:red;\">密码错误,<span style=\"color:#000\">忘记交易密码，</span><span style=\"color:blue\">点击去重置</span></a>");
                                }
                                else {
                                    $("#errormsg").html(data.Message);
                                }
                                $("#errormsg").show();
                                $("#advancepay").text("确定");
                                $("#advancepay").removeAttr("disabled");
                            }
                        }
                    });
                });
                $("#canclepay").bind("click", function () {
                    window.location.reload();
                });
            }
        }
        else {
            $.ajax({
                url: "/API/VshopProcess.ashx",
                type: 'post', dataType: 'json', timeout: 10000,
                data: { action: "UpdatePaymentType", paymentTypeId: paymentTypeId, orderId: orderId },
                success: function (resultData) {
                    if (resultData.Status == "OK") {
                        location.replace(resultData.ToUrl);
                    }
                    else if (resultData.Status == "NoLogined") {
                        alert_h(resultData.Message, function (e) {
                            location.replace("MemberCenter.aspx");
                        });
                    }
                    else {
                        alert_h(resultData.Message, function (e) {
                            $("#payment_close").trigger("click");
                        });
                    }
                }
            });
        }
    }

    //禁用右上角菜单
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });

    function FinishOrder(orderId, paymentType, lineItems) {
        var data = {};
        data.orderId = orderId;
        myConfirmBox('操作提示', '您确定已经收到货物了吗？', '确定收货', '取消', function () {
            $.post("/api/VshopProcess.ashx?action=FinishOrder", data, function (json) {
                if (json.success === true) {
                    if (parseInt(lineItems) > 0) {//如果是非礼品订单
                        //如果后台设置了商品积分有效值，则显示评价获得积分提示框
                        if (parseInt($(".j_hidHasProductCommentPoint").val()) == 1) {
                            //要先关闭之前的弹框
                            $("#myConfirm").remove();
                            myConfirmBox('操作提示', '写商品评价可获得积分奖励', '去评价', '取消', function () {
                                location.href = 'MemberSubmitProductReview.aspx?orderId=' + orderId;
                            }, function () {
                                location.reload();
                            });
                        } else {
                            location.reload();
                        }
                    } else {
                        location.reload();
                    }
                }
                else {
                    alert_h(json.msg);
                }
            });
        });
    }

    function closeOrder(orderId) {
        var data = {};
        data.orderId = orderId;
        myConfirmBox('操作提示', '您确定取消该订单吗？', '确定', '取消', function () {

            $.post("/api/VshopProcess.ashx?action=CloseOrder", data, function (json) {
                if (json.success === true) {
                    ShowMsg("取消订单成功！", true, location.reload());
                    //alert_h('取消订单成功！', function () {
                    //    location.reload();
                    //});
                }
                else {
                    alert_h(json.msg);
                }
            });
        });
    }

    //实名验证
    function Certification(obj) {
        var orderId = $(obj).attr("OrderId");
        window.location.href = "SubmitIDInfo.aspx?OrderId=" + orderId;
        return false;
    }

    $(function () {
        if ($("#divorderlist .order-list").length == 0 || !$.trim($("#divorderlist").html())) {
            $("#divEmpty").show();
        }
        else {
            $("#divEmpty").hide();
        }
    })
</script>

<hi:Common_ContextMenu id="ContextMenu" runat="server" />
