<hi:common_wapheader runat="server" />
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<link rel="stylesheet" href="/style/redenvelope.css">
<style>
    body {
        height: 100%;
        background: #fff5be;
    }
</style>
<img src="/images/hb_f.jpg" width="100%" />
<a href="/Vshop/"><img src="/images/hb_qgw.jpg" width="100%" /></a>
<img src="/images/hb_bcb.jpg" width="100%" />
<img style="position:fixed; bottom:0;" src="/images/hb_dd.jpg" width="100%" />
<form runat="server" style="text-align:center;position: absolute;text-align: center; width: 100%;top: 46%;font-size: 14px;">
    <asp:literal runat="server" id="ErrorInfo"></asp:literal>
</form>

