<hi:common_wapheader runat="server" />
<style>
    body{
        padding:0 0.75rem;
    }
    #SplittinRule_divRepeledReason{
        border:1px dashed #e7e5ea;
        background:#fff;
        padding:0.75rem;
        float:left;
        width:100%;
    }
    #SplittinRule_divRepeledReason font{
        width:100%;
        font-size:0.6rem;
        color:#000;
        display:inline-block;
    }
    #SplittinRule_divRepeledReason span{
        margin-top:0.25rem;
        color:#666;
        display:inline-block;
    }
    .t_1{
        float:left;
        font-size:0.6rem;
        margin-bottom:0.5rem;
    }
</style>
<div id="posterPanel" runat="server">
    <div class="share_yj1">
        <!--<div class="share_bg1"></div>
        <div class="info1">
            <span>邀请好友扫码关注，完成注册后即成为您的下级会员。</span>
            <b></b>
            <em>长按可保存为图片</em>
        </div>
        <div class="share_bg2"></div>
        <div class="info2">
            <span><em>1</em><b>分享二维码，邀请好友注册</b></span>
            <span><em>2</em><b>好友后续消费，坐享奖励</b></span>
            <span runat="server" id="secondDeduct">
                <em>3</em><b>
                    好友邀请来的以及好友的好友邀请来的，您也能坐享奖励
                </b>
            </span>

            <div class="btn1"><a href="SplittinRuleDetail.aspx">查看活动规则</a></div>

        </div>-->
        <%<asp:Image ID="userReferralQRCode" runat="server" ImageUrl="" width="100%" ClientIDMode="Static" /> %>
        <div class="zhezhao">
            <img src="../images/new/Splittin_pic.png" id="imghtmlfxvshop" runat="server">
            <img src="../images/new/SplittinWap_pic.png" id="imghtmlfxwapshop" runat="server">
        </div>
        <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript">
            function Hide(e) {
                if ($(e.target)[0].id == "btnshare")
                    return;
                $('.zhezhao').css('display', 'none');
            }
            $(function () {
                $('#btnshare').click(function () {
                    $('.zhezhao').css('display', 'block');
                })

                $('.zhezhao').click(function () {
                    $('.zhezhao').css('display', 'none');
                })

                $(document).bind('click', Hide);

                $("[name=description]").attr("content", $("#hidDescription").val())

                var appId = $("#hdAppId").val();
                var timestamp = $("#hdTimestamp").val();
                var nonceStr = $("#hdNonceStr").val();
                var signature = $("#hdSignature").val();

                var title = $("#hidExtendShareTitle").val();
                var desc = $("#hidExtendShareDetail").val();
                var imgUrl = $("#hidExtendSharePic").val();
                var link = $("#hidExtendShareUrl").val();


                wx.config({
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: appId, // 必填，公众号的唯一标识
                    timestamp: timestamp, // 必填，生成签名的时间戳
                    nonceStr: nonceStr, // 必填，生成签名的随机串
                    signature: signature,// 必填，签名，见附录1
                    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                });

                wx.ready(function () {
                    wx.checkJsApi({
                        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'],
                        success: function (res) {

                            if (res.checkResult.onMenuShareTimeline)   //朋友圈
                            {

                            }
                            if (res.checkResult.onMenuShareAppMessage)  //朋友
                            {
                            }
                        }
                    });

                    wx.onMenuShareTimeline({
                        title: title, // 分享标题
                        link: link, // 分享链接
                        imgUrl: imgUrl, // 分享图标
                        success: function () {
                            alert("分享成功");
                        },
                        cancel: function () {
                            // 用户取消分享后执行的回调函数
                            $('.zhezhao').css('display', 'none');
                        }
                    });

                    wx.onMenuShareAppMessage({
                        title: title, // 分享标题
                        desc: desc, // 分享描述
                        link: link, // 分享链接
                        imgUrl: imgUrl, // 分享图标
                        type: 'link', // 分享类型,music、video或link，不填默认为link
                        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                        success: function () {

                        },
                        cancel: function () {
                            // 用户取消分享后执行的回调函数
                        }
                    });


                });

                wx.error(function (res) {
                    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
                    alert(JSON.stringify(res));
                });

            });

        </script>

    </div>
    <div class="share_bottom"><div class="share_btn2"><a href="javascript:void(0)" id="btnshare">分享我的专属链接<i class="icon_yongjin_11 icon-icon_share2"></i></a></div></div>
</div>
<div id="noreferralPanel" runat="server" visible="false">
    <div class="notreferral">
        <div class="img"><img src="/Utility/pics/group-1.png" alt="" /></div>
        <div class="txt">您还不是本商城分销员噢~<br />申请成为分销员，分销有礼！</div>
        <div class="btns">
            <a href="ReferralRegisterAgreement" class="btn_login" style="margin-bottom:0;">了解分销员</a>
            <a href="default" class="btn-default">返回商城首页</a>
        </div>
    </div>
</div>
<div id="repeledPanel" runat="server" visible="false" clientidmode="static">
    <div style="float:left;width:100%;padding:2.5rem;text-align:center;">
        <img src="/images/clear_mob.png" style="width:4.2rem; margin:0 auto;" />
    </div>
    <div class="t_1">
        您于 <asp:Literal id="repeledTime" runat="server"></asp:Literal>  被商城取消分销员资格。
    </div>
    <div id="divRepeledReason" runat="server" visible="false">
        <font>商家解释：</font>
        <span>
            <asp:Literal id="repeledReason" runat="server"></asp:Literal>
        </span>
    </div>
</div>
<input type="hidden" id="hdAppId" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hdTimestamp" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hdNonceStr" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hdSignature" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hidExtendShareTitle" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hidExtendShareDetail" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hidExtendSharePic" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hidExtendShareUrl" runat="server" ClientIDMode="Static" />
<hi:Common_ContextMenu id="ContextMenu" runat="server" />
