<hi:common_wapheader runat="server" />
<style>
    body {
        background: url(/images/reg_bg.jpg) no-repeat;
        background-size: 100%;
        background-color:#d84315;
    }

    .reg_bg {
        width: 80%;
        margin: 40% 0 0 10%;
    }

    .reg_btn {
        margin-top: 5%;
        width:100%;
        display: inline-block;
        text-align:center;
    }

        .reg_btn img {
            width: 60%;
        }
</style>
<img class="reg_bg" src="/images/reg_end.png">
<a class="reg_btn" href="Default.aspx">
    <img src="/images/reg_end_btn.png">
</a>
