<hi:common_wapheader runat="server" />
<input type="hidden" runat="server" ClientIDMode="Static" id="hidErrorMsg" />
<form id="form" role="form" class="pbox clearfix form-horizontal" runat="server">
    <div class="tk_main">
        <div id="setpwdPanel" runat="server">
            <div class="tk_group password">
                <label>密码</label>
                <div class="input-group">
                    <input id="text_password" type="password" class="setinput" aria-describedby="sizing-addon1" placeholder="请输入您的密码">
                </div>
                </div>
            <div class="tk_group password">
                <label>确认密码</label>
                <div class="input-group">
                    <input id="text_password1" type="password" class="setinput" aria-describedby="sizing-addon1" placeholder="请确认您的密码">
                </div>
                </div>
        </div>

        <div  id="changepwdPanel" runat="server">
            <div class="tk_group password">
                <label>原密码</label>
                <div class="input-group">
                    <input id="text_oldPassword" type="password" class="setinput" aria-describedby="sizing-addon1" placeholder="请输入您的登录密码">
                </div>
                </div>
            <div class="tk_group password">
                <label>新密码</label>
                <div class="input-group">
                    <input id="text_password" type="password" class="setinput" aria-describedby="sizing-addon1" placeholder="请输入要设置的新密码">
                </div>
            </div>
                <div class="tk_group password">
                    <label>确认新密码</label>
                    <div class="input-group">
                        <input id="text_password1" type="password" class="setinput" aria-describedby="sizing-addon1" placeholder="请确认输入要设置的新密码">
                    </div>
                </div>
        </div>
    </div>
    <div class="btn_tk">
        <input type="button" id="btnSetPwd" value="设置密码" class="btn_login hide" />
        <input type="button" id="btnChangePwd" value="修改密码" class="btn_login hide" />
        <input type="button" id="btnCancel" onclick="window.history.go(-1);" value="取消" class="btn_qx" />
        <input type="hidden" id="hidHasPassword" value="0" runat="server" ClientIDMode="Static" />
    </div>
</form>
<script language="javascript" type="text/javascript">
    var emailReg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{1,4}$/;
    var cellPhoneReg = /^(0?(13|15|18|14|17)[0-9]{9})$/g;
    $(document).ready(function (e) {

        if ($("#hidHasPassword").val() == "0") {
            $("#btnSetPwd").removeClass("hide").show();
        }
        else {
            $("#btnChangePwd").removeClass("hide").show();
        }
        if ($("#hidErrorMsg").val() != "") {
            alert_h($("#hidErrorMsg").val(), function (e) {
                document.location.href = "AccountManagement.aspx";
            });

        }
        $("#btnSetPwd").click(function (e) {
            var password = $.trim($("#text_password").val());
            var password1 = $.trim($("#text_password1").val());
            if (!password || password.length < 6 || password.length > 20) {
                alert_h('密码不能为空，长度不少于6个字符且不超过20字符');
                return;
            }

            if (password != password1) {
                alert_h("两次输入不一致.");
                return;
            }
            $.ajax({
                url: "/API/VshopProcess.ashx",
                type: 'post', dataType: 'json', timeout: 10000,
                data: { action: "SetPassword", password: password },
                success: function (resultData) {

                    if (resultData.Status == "ok") {

                        alert_h("密码设置成功,请记住您的密码！", function () {
                            document.location.href = "AccountManagement.aspx"

                        });
                    }
                    else if (resultData.Status == "nologined") {
                        alert_h("请您先登录！");
                        document.location.href = "AccountManagement.aspx";
                    }
                    else {
                        alert_h(resultData.msg);
                    }

                }
            });
        })

        $("#btnChangePwd").click(function (e) {
            var oldPassword = $.trim($("#text_oldPassword").val());
            var password = $.trim($("#text_password").val());
            var password1 = $.trim($("#text_password1").val());

            if (!oldPassword || password.length < 6 || password.length > 20) {
                alert_h('原始登录密码不能为空，长度不少于6个字符且不超过20字符');
                return;
            }

            if (!password || password.length < 6 || password.length > 20) {
                alert_h('密码不能为空，长度不少于6个字符且不超过20字符');
                return;
            }

            if (password != password1) {
                alert_h("两次输入不一致.");
                return;
            }
            $.ajax({
                url: "/API/VshopProcess.ashx",
                type: 'post', dataType: 'json', timeout: 10000,
                data: { action: "ChangePassword", oldPassword: oldPassword, password: password },
                success: function (resultData) {

                    if (resultData.Status == "ok") {

                        alert_h("密码设置成功,请记住您的密码！", function () {
                            document.location.href = "MemberCenter.aspx"

                        });
                    }
                    else if (resultData.Status == "nologined") {
                        alert_h("请您先登录！");
                        document.location.href = "MemberCenter.aspx";
                    }
                    else {
                        alert_h(resultData.msg);
                    }

                }
            });
        })

    });
</script>
<hi:Common_ContextMenu id="ContextMenu" runat="server" />
