<hi:Common_WapHeader runat="server" />
<style>
.pbox{
    display:inline-block;
    background:#fff;
}
</style>
<div class="kong">
    <img src="/images/comment_null.png">
    <p>暂时还没有咨询哦~</p>
</div>
<div class="pbox">
    <div id="consulationsList">
        <hi:WapTemplatedRepeater id="rptProducts" templatefile="/Tags/skin-Common_MyConsultations.ascx"
            runat="server" />
    </div>    
</div>
<div id="pager">
</div>
<input type="hidden" clientidmode="Static" value="" runat="server" id="txtTotal" />
<script src="/Utility/pager.js" type="text/javascript"></script>
<script type="text/javascript">

    vshopPager('pager', $('#txtTotal').val(), 1, 10);
    $(function () {
        if ($.trim($('#consulationsList').html())!="") {
            $('.kong').hide();
        } else {
            $(".kong").show();
        }

        var answerDetails = $('.answerDetail');
        $.each(answerDetails, function (i, answerDetail) {
            if (!$.trim($(answerDetail).html()))
                $(answerDetail).parent().hide();
        });
    });

</script>
<script>
    //禁用右上角菜单
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
<hi:Common_ContextMenu id="ContextMenu" runat="server" />