<Hi:Common_WapHeader runat="server" />
<style>
    .main{
        background:none;
    }
</style>
<link rel="stylesheet" href="/Admin/Shop/PublicMob/css/dist/style.css">
<style>
    html {
        font-size: 20px;
        /*display:flex;*/
    }
    /*Note3*/
    @media only screen and (min-width: 360px) {
        html {
            font-size: 22px !important;
        }
    }

    /*iPhone6*/
    @media only screen and (min-width: 375px) {
        html {
            font-size: 23px !important;
        }
    }

    /*iPhone6 plus*/
    @media only screen and (min-width: 414px) {
        html {
            font-size: 25px !important;
        }
    }

    /*big Resolution*/
    @media only screen and (min-width: 641px) {
        html {
            font-size: 25px !important;
        }
    }

    .menuNav {
        display: inline-block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2.4rem;
        z-index: 102;
        background: rgba(255,255,255,.95);
        border-top: 0.05rem solid #ddd;
    }

    .fulltext p span {
        background: none;
        font-size: 0.6rem !important;
    }

    .menuNav ul li {
        height: 100%;
        float: left;
    }


    .navcontent img {
        height: 1rem !important;
        width: 1rem !important;
    }

    .navcontent a {
        font-size: 0.5rem;
        color: #333;
    }

    .navcontent img {
        display: block;
        margin: 0 auto 2px;
    }

    .navcontent {
        padding: 0.4rem;
        text-align: center;
    }
    body{ padding: 0px;}
</style>

<asp:Literal ID="litImageServerUrl" runat="server"></asp:Literal>
<div class="membersbox">
    <asp:Literal ID="littopicContent" runat="server"></asp:Literal>
    <script type="text/javascript" src="/Utility/jquery-1.11.0.min.js"></script>
    <Hi:Common_WapFooter runat="server" />
</div>
<script src="/Admin/Shop/PublicMob/plugins/swipe/swipe.js"></script>
<script src="/Utility/jquery.scrollLoading.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.j-swipe').each(function (index, el) {
            var me = $(this);
            me.attr('id', 'Swiper' + index); setScrollLoading();
            var id = me.attr('id');
            // alert(id)
            var elem = document.getElementById(id);
            window.mySwipe = Swipe(elem, {
                startSlide: 0,
                auto: 3000,
                callback: function (m) {
                    $(elem).find('.members_flash_time').children('span').eq(m).addClass('cur').siblings().removeClass('cur')
                },
            });
        });

        ////图片比例处理
        var imgw = $('body').width();
        $(".members_goodspic ul .b_mingoods a ").width(imgw / 2 - 20);
        $(".members_goodspic ul .b_mingoods a ").height(imgw / 2 - 20);
        setScrollLoading();

    });

    function setScrollLoading() {
        $("img").scrollLoading();
    }

</script>

<script type="text/javascript">
    // 商品列表高度
    $(document).ready(function () {
        $('.mingoods').width();
        var k = $('.mingoods').width();
        $('.mingoods').height(k * 1.1);
        $('.mingoods div a img').height(k * 1.1 - 45);
    })
</script>





