<hi:common_wapheader runat="server" />
<style>
    .tk_group label {
    width: 5rem;
    }
    .tk_group .input-group {
        padding-left: 2rem;
    }
</style>
<input type="hidden" runat="server" ClientIDMode="Static" id="hidErrorMsg" />
<form id="form" role="form" class="pbox clearfix form-horizontal" runat="server">
    <div class="tk_main">
            <div class="tk_group password">
                <label>旧交易密码</label>
                <div class="input-group">
                    <input id="text_oldPassword" type="password" class="setinput" aria-describedby="sizing-addon1" placeholder="请输入旧交易密码"/>
                </div>
            </div>
            <div class="tk_group password">
                <label>新交易密码</label>
                <div class="input-group">
                    <input id="text_password" type="password" class="setinput" aria-describedby="sizing-addon1" placeholder="请输入新交易密码"/>
                </div>
            </div>
            <div class="tk_group password">
                <label>确认交易密码</label>
                <div class="input-group">
                    <input id="text_password1" type="password" class="setinput" aria-describedby="sizing-addon1" placeholder="请输入确认交易密码"/>
                </div>
            </div>
    </div>
    <div class="btn_tk">
        <input type="button" id="btnSetPwd" value="保存" class="btn_login" />
    </div>
</form>
<script language="javascript" type="text/javascript">
    $(document).ready(function (e) {
        $("#btnSetPwd").click(function (e) {
            var oldPassword = $.trim($("#text_oldPassword").val());
            var password = $.trim($("#text_password").val());
            var password1 = $.trim($("#text_password1").val());

            if (!oldPassword || oldPassword.length < 6 || oldPassword.length > 20) {
                alert_h('原始交易密码不能为空，长度不少于6个字符且不超过20字符');
                return;
            }

            if (!password || password.length < 6 || password.length > 20) {
                alert_h('新交易密码不能为空，长度不少于6个字符且不超过20字符');
                return;
            }

            if (password != password1) {
                alert_h("两次输入不一致.");
                return;
            }
            $.ajax({
                url: "/API/VshopProcess.ashx",
                type: 'post', dataType: 'json', timeout: 10000,
                data: { action: "ChangeTranPassword", oldPassword: oldPassword, password: password },
                success: function (resultData) {
                    if (resultData.Status == "ok") {
                        alert_h("你已经成功的修改了交易密码！", function () {
                            document.location.href = "MemberCenter.aspx"
                        });
                    }
                    else if (resultData.Status == "nologined") {
                        alert_h("请您先登录！", function () {
                            document.location.href = "MemberCenter.aspx"
                        });
                    }
                    else {
                        alert_h(resultData.msg);
                    }
                }
            });
        })
    });
</script>
<hi:Common_ContextMenu id="ContextMenu" runat="server" />