<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no,email=no" />
		<title>用户中心</title>
		<link href="style/style.css" rel="stylesheet" />
		<script type="text/javascript" src="script/flexible.debug.js"></script>
		<script type="text/javascript" src="script/flexible_css.debug.js"></script>	
	</head>
	<body class="bg">
		<div class="header">
			<div class="sign_set pd24">
				<div class="sign fl">
					<div class="iconfont sign"></div>
					<span>签到</span>
				</div>
				<div class="set fr">
					<div class="iconfont set">设置</div>
				</div>
			</div>
			<div class="userInfoBox">
				<div class="Info">
					<div class="userImg"><img src="images/userhome/user.png"></div>
					<div class="userInfo">
						<h2>一起去乘凉</h2>
						<div class="pointsBox">
							<div class="member">普通会员</div>
							<div class="point">
								<span class="iconfont"></span>
								<em>15201分</em>
							</div>
						</div>
					</div>
					<div class="Distribution">分销中心</div>
				</div>
				<div class="Collection_Consultation">
					<div class="Collection fl">
						<span>20</span>
						<em>我的收藏</em>
					</div>
					<div class="Consultation fr">
						<span>2</span>
						<em>我的咨询</em>
					</div>
				</div>
				
			</div>
		</div>
	
		<!--我的订单-->
		<div class="user_order">
			<div class="hd">
				<span>我的订单</span>
				<a href="">查看全部<em class="iconfont icon_right"></em></a>
			</div>
			<ul class="order_num">
				<li>
					<a href="">
						<div class="iconfont pay"></div>
						<span>待付款</span>
						<em class="num">2</em>
					</a>
				</li>
				<li>
					<a href="">
						<div class="iconfont pay"></div>
						<span>待发货</span>
						<em class="num">2</em>
					</a>
				</li>
				<li>
					<a href="">
						<div class="iconfont pay"></div>
						<span>待收货</span>
						<em class="num">2</em>
					</a>
				</li>
				<li>
					<a href="">
						<div class="iconfont pay"></div>
						<span>待评论</span>
						<em class="num">2</em>
					</a>
				</li>
				<li>
					<a href="">
						<div class="iconfont pay"></div>
						<span>售后</span>
						<em class="num">2</em>
					</a>
				</li>
			</ul>
		</div>
		
		<!--常用功能-->
		<div class="commonBox">
			<div class="hd">常用功能</div>
			<div class="commonList">
				<ul>
					<li>
						<a href="#">
							<img src="images/userhome/icon_deposit.png">
							<span>预存款</span>
							<em class="fontstyle">充值享优惠</em>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/userhome/icon_point.png">
							<span>我的积分</span>
							<em>1000</em>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/userhome/icon_coupn.png">
							<span>优惠券</span>
							<em><b id="coupn_count">5</b>张</em>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="height36" src="images/userhome/icon_envelopes.png">
							<span>代金红包</span>
							<em></em>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="height36" src="images/userhome/icon_prize.png">
							<span>我的奖品</span>
							<em></em>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="height36" src="images/userhome/icon_extension.png">
							<span>我要推广</span>
							<em></em>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="height40" src="images/userhome/icon_fight.png">
							<span>火拼团</span>
							<em></em>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="height40" src="images/userhome/icon_address.png">
							<span>收货地址</span>
							<em></em>
						</a>
					</li>
					<li>
						<a href="#">
							<img class="height40" src="images/userhome/icon_about.png">
							<span>关于我们</span>
							<em></em>
						</a>
					</li>
				</ul>
			</div>
		</div>
	
	</body>
</html>













