<%<hi:common_header runat="server" />%>
<%<hi:common_rightlink runat="server" />%>
<style>body{background-color:#eee;}</style>

<div id="main1">
	<div class="w1200">
  	<div class="floor floor-first">
      <div class="bd">
        <ul class="floor-ads">
        	<li class="item1"><Hi:Common_CustomAd runat="server" AdId="56" isdelayedloading="true"/></li>
          <li class="item2"><Hi:Common_CustomAd runat="server" AdId="21" isdelayedloading="true"/></li>
          <li class="item3"><Hi:Common_CustomAd runat="server" AdId="22" isdelayedloading="true"/></li>
          <li class="item4"><Hi:Common_CustomAd runat="server" AdId="58" isdelayedloading="true"/></li>
          <li class="item5"><Hi:Common_CustomAd runat="server" AdId="24" isdelayedloading="true"/></li>
        </ul>
      </div>
      <div class="ft">
      	<ul class="floor-ads">
        	<li class="item1"><Hi:Common_CustomAd runat="server" AdId="57" isdelayedloading="true"/></li>
          <li class="item2"><Hi:Common_CustomAd runat="server" AdId="25" isdelayedloading="true"/></li>
          <li class="item3"><Hi:Common_CustomAd runat="server" AdId="26" isdelayedloading="true"/></li>
          <li class="item4"><Hi:Common_CustomAd runat="server" AdId="27" isdelayedloading="true"/></li>
          <li class="item5"><Hi:Common_CustomAd runat="server" AdId="28" isdelayedloading="true"/></li>
        </ul>
      </div>
    </div><!-- End Floor-first -->
    <div class="floor floor-1">
    	<div class="hd">
      	<h2><Hi:Common_SubjectTitle runat="server" CommentId="35" isdelayedloading="true"/></h2>
        <div class="floor-more"><i class="icon-plus"></i><Hi:Common_SubjectMoreLink runat="server" CommentId="21" isdelayedloading="true"/></div>
      </div>
      <div class="floor-l">
      	<div class="link"><Hi:Common_CustomAd runat="server" AdId="37" isdelayedloading="true"/></div>
      	<div class="brand"><Hi:Common_SubjectBrand runat="server" CommentId="20"  isdelayedloading="true"/></div>
      </div>
      <div class="floor-c"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="11" isdelayedloading="true"/></div>
      <div class="floor-r">
      	<ul class="floor-ads">
        	<li class="item1"><Hi:Common_CustomAd runat="server" AdId="35" isdelayedloading="true"/></li>
          <li class="item2"><Hi:Common_CustomAd runat="server" AdId="36" isdelayedloading="true"/></li>
          <li class="item3"><Hi:Common_CustomAd runat="server" AdId="34" isdelayedloading="true"/></li>
        </ul>
      </div>
    </div><!-- End Floor-1 -->
    <div class="floor floor-2">
    	<div class="hd">
      	<h2><Hi:Common_SubjectTitle runat="server" CommentId="31" isdelayedloading="true"/></h2>
        <div class="floor-more"><i class="icon-plus"></i><Hi:Common_SubjectMoreLink runat="server" CommentId="22" isdelayedloading="true"/></div>
      </div>
      <div class="floor-l">
      	<div class="link"><Hi:Common_CustomAd runat="server" AdId="38" isdelayedloading="true"/></div>
      	<div class="brand"><Hi:Common_SubjectBrand runat="server" CommentId="23" isdelayedloading="true" /></div>
      </div>
      <div class="floor-c"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="12" isdelayedloading="true"/></div>
      <div class="floor-r">
      	<ul class="floor-ads">
        	<li class="item1"><Hi:Common_CustomAd runat="server" AdId="40" isdelayedloading="true"/></li>
          <li class="item2"><Hi:Common_CustomAd runat="server" AdId="41" isdelayedloading="true"/></li>
          <li class="item3"><Hi:Common_CustomAd runat="server" AdId="39" isdelayedloading="true"/></li>
        </ul>
      </div>
    </div><!-- End Floor-2 -->
    <div class="floor floor-3">
    	<div class="hd">
      	<h2><Hi:Common_SubjectTitle runat="server" CommentId="32" isdelayedloading="true"/></h2>
        <div class="floor-more"><i class="icon-plus"></i><Hi:Common_SubjectMoreLink runat="server" CommentId="24" isdelayedloading="true"/></div>
      </div>
      <div class="floor-l">
      	<div class="link"><Hi:Common_CustomAd runat="server" AdId="42" isdelayedloading="true"/></div>
      	<div class="brand"><Hi:Common_SubjectBrand runat="server" CommentId="27"  isdelayedloading="true"/></div>
      </div>
      <div class="floor-c"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="13" isdelayedloading="true"/></div>
      <div class="floor-r">
      	<ul class="floor-ads">
        	<li class="item1"><Hi:Common_CustomAd runat="server" AdId="44" isdelayedloading="true"/></li>
          <li class="item2"><Hi:Common_CustomAd runat="server" AdId="45" isdelayedloading="true"/></li>
          <li class="item3"><Hi:Common_CustomAd runat="server" AdId="43" isdelayedloading="true"/></li>
        </ul>
      </div>
    </div><!-- End Floor-3 -->
    <div class="floor floor-4">
    	<div class="hd">
      	<h2><Hi:Common_SubjectTitle runat="server" CommentId="33" isdelayedloading="true"/></h2>
        <div class="floor-more"><i class="icon-plus"></i><Hi:Common_SubjectMoreLink runat="server" CommentId="25" isdelayedloading="true"/></div>
      </div>
      <div class="floor-l">
      	<div class="link"><Hi:Common_CustomAd runat="server" AdId="46" isdelayedloading="true"/></div>
      	<div class="brand"><Hi:Common_SubjectBrand runat="server" CommentId="28"  isdelayedloading="true"/></div>
      </div>
      <div class="floor-c"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="14" isdelayedloading="true"/></div>
      <div class="floor-r">
      	<ul class="floor-ads">
        	<li class="item1"><Hi:Common_CustomAd runat="server" AdId="48" isdelayedloading="true"/></li>
          <li class="item2"><Hi:Common_CustomAd runat="server" AdId="49" isdelayedloading="true"/></li>
          <li class="item3"><Hi:Common_CustomAd runat="server" AdId="47" isdelayedloading="true"/></li>
        </ul>
      </div>
    </div><!-- End Floor-4 -->
    <div class="floor floor-5">
    	<div class="hd">
      	<h2><Hi:Common_SubjectTitle runat="server" CommentId="34" isdelayedloading="true"/></h2>
        <div class="floor-more"><i class="icon-plus"></i><Hi:Common_SubjectMoreLink runat="server" CommentId="26" isdelayedloading="true"/></div>
      </div>
      <div class="floor-l">
      	<div class="link"><Hi:Common_CustomAd runat="server" AdId="50" isdelayedloading="true"/></div>
      	<div class="brand"><Hi:Common_SubjectBrand runat="server" CommentId="29"  isdelayedloading="true"/></div>
      </div>
      <div class="floor-c"><Hi:Common_SubjectProduct_Simple runat="server" SubjectId="15" isdelayedloading="true"/></div>
      <div class="floor-r">
      	<ul class="floor-ads">
        	<li class="item1"><Hi:Common_CustomAd runat="server" AdId="52" isdelayedloading="true"/></li>
          <li class="item2"><Hi:Common_CustomAd runat="server" AdId="53" isdelayedloading="true"/></li>
          <li class="item3"><Hi:Common_CustomAd runat="server" AdId="51" isdelayedloading="true"/></li>
        </ul>
      </div>
    </div><!-- End Floor-5 -->
    <div class="floor floor-last">
      <div class="bd">
        <ul class="floor-ads">
        	<li class="item1"><Hi:Common_CustomAd runat="server" AdId="55" isdelayedloading="true"/></li>
          <li class="item2"><Hi:Common_CustomAd runat="server" AdId="29" isdelayedloading="true"/></li>
          <li class="item3"><Hi:Common_CustomAd runat="server" AdId="30" isdelayedloading="true"/></li>
          <li class="item4"><Hi:Common_CustomAd runat="server" AdId="31" isdelayedloading="true"/></li>
          <li class="item5"><Hi:Common_CustomAd runat="server" AdId="32" isdelayedloading="true"/></li>
        </ul>
      </div>
      <div class="ft">
      	<ul class="clearfix">
        	<Hi:Common_CustomAd runat="server" AdId="33" isdelayedloading="true"/>
        </ul>
      </div>
    </div><!-- End Floor-last -->
  </div>
  
</div>




<!--main-content结束-->
<%<hi:common_footer runat="server" skinname="/hometags/Skin-Common_Footer.ascx" />%>