<?xml version="1.0" encoding="utf-8"?>
<Hishop>
  <!-- cachePolicy的值:memcached、aspnetcache -->
  <Core
		 smtpServerConnectionLimit="-1"
		 ssl = "Ignore"
     usernameMinLength="2"
     usernameMaxLength="20"
     usernameRegex="[\u4e00-\u9fa5a-zA-Z0-9]+[\u4e00-\u9fa5_a-zA-Z0-9]*"
     emailEncoding="utf-8"
     shippingAddressQuantity="5"
     passwordMaxLength="20"
     emailRegex="([a-zA-Z\.0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{1,4}){1,2})"
     adminFolder="admin"
     version="3.4"
     cachePolicy="aspnetcache"
     imageServerUrl=""
		   >
  </Core>

  <Extensions>
  </Extensions>

  <Jobs minutes = "1" singleThread = "true">
    <job name = "Emails" singleThread = "false" minutes = "1" type = "Hidistro.Jobs.EmailJob, Hidistro.Jobs" enabled = "true" enableShutDown = "false" failureInterval = "15" numberOfTries = "5" />
    <job name = "ShoppingCart" minutes = "10" singleThread = "true" type = "Hidistro.Jobs.CartJob, Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "Order" minutes = "5" singleThread = "true" type = "Hidistro.Jobs.OrderJob,Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "GroupBuy" minutes = "5" singleThread = "true" type = "Hidistro.Jobs.GroupBuyJob, Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "SiteMapJob" singleThread = "true" minutes = "40" type = "Hidistro.Jobs.SiteMapJob, Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "AppPushJob" singleThread = "true" minutes = "5" type = "Hidistro.Jobs.AppPushJob, Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "StoreAppPushJob" singleThread = "true" minutes = "360" type = "Hidistro.Jobs.StoreAppPushJob, Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "FightGroupJob" minutes = "1" singleThread = "true" type = "Hidistro.Jobs.FightGroupJob,Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "PreSaleJob" minutes = "20" singleThread = "true" type = "Hidistro.Jobs.PreSaleJob,Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "TrafficJob" minutes = "10" singleThread = "false" type = "Hidistro.Jobs.TrafficJob,Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "WXFansJob" minutes = "10" singleThread = "false" type = "Hidistro.Jobs.WXFansJob,Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "CouponJob" minutes = "40" singleThread = "false" type = "Hidistro.Jobs.CouponJob,Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "ServiceOrderJob" minutes = "5" singleThread = "false" type = "Hidistro.Jobs.ServiceOrderJob,Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
    <job name = "LogJob" minutes = "60" singleThread = "false" type = "Hidistro.Jobs.LogJobs,Hidistro.Jobs" enabled = "true" enableShutDown = "false" />
  </Jobs>
</Hishop>