<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="RouteConfiguration" type="Hidistro.Core.Urls.WebRouteConfigurationSection, Hidistro.Core, Version=2.1.5998.27921, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<RouteConfiguration>
		<map>
			<route name="Articles" url="Articles/{CategoryId}" dest="~/Articles.aspx">
				<parameters>
					<add name="CategoryId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route name="ArticleDetails" url="article/show/{articleId}" dest="~/ArticleDetails.aspx">
				<parameters>
					<add name="articleId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route name="AffichesDetails" url="affiche/show/{afficheId}" dest="~/AffichesDetails.aspx">
				<parameters>
					<add name="afficheId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route name="sendPayment" url="SendPayment/{orderId}" dest="~/SendPayment.aspx">
				<parameters>
					<add name="orderId" value="" constraint=".*" />
				</parameters>
			</route>
			<route name="VoteResults" url="VoteResult/{VoteId}" dest="~/VoteResult.aspx">
				<parameters>
					<add name="VoteId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route name="ProductConsultations" url="ProductConsultations/{ProductId}" dest="~/ProductConsultations.aspx">
				<parameters>
					<add name="ProductId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route name="branddetails" url="brand/brand_detail/{brandId}" dest="~/BrandDetails.aspx">
				<parameters>
					<add name="brandId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route name="branddetails_Rewrite" url="{rewrite}/brand_detail/{brandId}" dest="~/BrandDetails.aspx">
				<parameters>
					<add name="rewrite" value="" constraint=".*" />
					<add name="brandId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route name="addshoppingCart" url="ShoppingCart/{CartItemType}/{SKU}" dest="~/ShoppingCart.aspx">
				<parameters>
					<add name="CartItemType" value="" constraint="\d+" />
					<add name="SKU" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="FinishOrder" url="FinishOrder/{orderId}" dest="~/FinishOrder.aspx">
				<parameters>
					<add name="orderId" value=""  constraint=".*" />
				</parameters>
			</route>
			<route  name="cardOrderPayment" url="CardOrderPayment/{orderId}" dest="~/CardOrderPayment.aspx">
				<parameters>
					<add name="orderId" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="subCategory" url="browse/category/{categoryId}" dest="~/SubCategory.aspx">
				<parameters>
					<add name="categoryId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="subCategory_Rewrite" url="{rewrite}/category/{categoryId}" dest="~/SubCategory.aspx">
				<parameters>
					<add name="rewrite" value="" constraint=".*" />
					<add name="categoryId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="FavourableDetails" url="Favourable/show/{activityId}" dest="~/FavourableDetails.aspx">
				<parameters>
					<add name="activityId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="Helps" url="Helps/{CategoryId}" dest="~/Helps.aspx">
				<parameters>
					<add name="CategoryId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="HelpDetails" url="help/show/{helpId}" dest="~/HelpDetails.aspx">
				<parameters>
					<add name="helpId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="ProductImages" url="ProductImages/{ProductId}" dest="~/ProductImages.aspx">
				<parameters>
					<add name="ProductId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="ProductNotify" url="ProductNotify/{ProductId}" dest="~/ProductNotify.aspx">
				<parameters>
					<add name="ProductId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="productDetails" url="product_detail/{ProductId}" dest="~/ProductDetails.aspx">
				<parameters>
					<add name="ProductId" value="" constraint="\d+" />
				</parameters>
			</route>
      <!--兼容2.5以前的URL-->
      <route  name="productDetails1" url="product_detail-{ProductId}.aspx" dest="~/ProductDetails.aspx">
        <parameters>
          <add name="ProductId" value="" constraint="\d+" />
        </parameters>
      </route>
      <!--兼容2.5以前的URL-->
      <route  name="productDetails2" url="product_detail-{ProductId}" dest="~/ProductDetails.aspx">
        <parameters>
          <add name="ProductId" value="" constraint="\d+" />
        </parameters>
      </route>
			<route  name="unproductdetails" url="un_product_detail/{ProductId}" dest="~/UnProductDetails.aspx">
				<parameters>
					<add name="ProductId" value="" constraint="\d+" />
				</parameters>
			</route>
      			<route  name="unproductdetailsaudit" url="un_product_detail_audit/{ProductId}" dest="~/UnProductDetailsAudit.aspx">
				<parameters>
					<add name="ProductId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="groupBuyProductDetails" url="groupbuyproduct_detail/{ProductId}" dest="~/GroupBuyProductDetails.aspx">
				<parameters>
					<add name="ProductId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="countdownProductsDetails" url="countdownproduct_detail/{ProductId}" dest="~/CountDownProductsDetails.aspx">
				<parameters>
					<add name="countDownId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="PaymentReturn_url" url="pay/PaymentReturn_url/{HIGW}" dest="~/pay/PaymentReturn_url.aspx">
				<parameters>
					<add name="HIGW" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="PaymentNotify_url" url="pay/PaymentNotify_url/{HIGW}" dest="~/pay/PaymentNotify_url.aspx">
				<parameters>
					<add name="HIGW" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="InpourNotify_url" url="pay/inpourNotify_url/{HIGW}" dest="~/pay/inpourNotify_url.aspx">
				<parameters>
					<add name="HIGW" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="InpourReturn_url" url="pay/inpourReturn_url/{HIGW}" dest="~/pay/inpourReturn_url.aspx">
				<parameters>
					<add name="HIGW" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="WapInpourNotify" url="pay/WapInpourNotify/{HIGW}" dest="~/pay/WapInpourNotify.aspx">
				<parameters>
					<add name="HIGW" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="WapInpourReturn" url="pay/WapInpourReturn/{HIGW}" dest="~/pay/WapInpourReturn.aspx">
				<parameters>
					<add name="HIGW" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="OpenIdEntry_url" url="openid/OpenIdEntry/{HIGW}" dest="~/openid/OpenIdEntry.aspx">
				<parameters>
					<add name="HIGW" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="OpenIdEntry_url_Wap" url="WapShop/Login/{HIGW}" dest="~/WapShop/Login.aspx">
				<parameters>
					<add name="HIGW" value="" constraint=".*" />
				</parameters>
			</route>
      			<route  name="OpenIdEntry_url_Alioh" url="AliOH/Login/{HIGW}" dest="~/AliOH/Login.aspx">
				<parameters>
					<add name="HIGW" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="user_OrderDetails" url="user/OrderDetails/{OrderId}" dest="~/user/OrderDetails.aspx">
				<parameters>
					<add name="OrderId" value="" constraint=".*" />
				</parameters>
			</route>
      <route  name="user_OrderList" url="user/UserOrders/{ParentOrderId}" dest="~/user/UserOrders.aspx">
        <parameters>
          <add name="ParentOrderId" value="" constraint=".*" />
        </parameters>
      </route>
			<route  name="user_OrderReviews" url="user/OrderReviews/{OrderId}" dest="~/user/OrderReviews.aspx">
				<parameters>
					<add name="OrderId" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="user_RechargeConfirm" url="user/RechargeConfirm/{modeId}/{blance}" dest="~/user/RechargeConfirm.aspx">
				<parameters>
					<add name="modeId" value="" constraint="\d+" />
					<add name="blance" value="" constraint="[-+]?\d+(\.\d+)?" />
				</parameters>
			</route>
			<route  name="user_RequestBalanceDrawConfirm" url="user/RequestBalanceDrawConfirm/{bankName}/{accountName}/{merchantCode}/{amount}/{remark}/{isalipay}/{isweixin}/{alipaycode}/{alipayrealname}" dest="~/user/RequestBalanceDrawConfirm.aspx">
				<parameters>
					<add name="bankName" value="" constraint=".*" />
					<add name="accountName" value="" constraint=".*" />
					<add name="merchantCode" value="" constraint=".*" />
					<add name="amount" value="" constraint=".*" />
					<add name="remark" value="" constraint=".*" />
					<add name="isalipay" value="" constraint=".*" />
					<add name="isweixin" value="" constraint=".*" />
					<add name="alipaycode" value="" constraint=".*" />
					<add name="alipayrealname" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="advance_pay" url="user/pay/{OrderId}" dest="~/user/pay.aspx">
				<parameters>
					<add name="OrderId" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="bank_pay" url="user/bank/{OrderId}" dest="~/user/bank.aspx">
				<parameters>
					<add name="OrderId" value="" constraint=".*" />
				</parameters>
			</route>
			<route  name="user_UserRefundApplyDetails" url="user/UserRefundApplyDetails/{RefundId}" dest="~/user/UserRefundApplyDetails.aspx">
				<parameters>
					<add name="RefundId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="user_UserReturnsApplyDetails" url="user/UserReturnsApplyDetails/{ReturnsId}" dest="~/user/UserReturnsApplyDetails.aspx">
				<parameters>
					<add name="ReturnsId" value="" constraint="\d+" />
				</parameters>
			</route>
			<route  name="user_UserReplaceApplyDetails" url="user/UserReplaceApplyDetails/{ReplaceId}" dest="~/user/UserReplaceApplyDetails.aspx">
				<parameters>
					<add name="ReplaceId" value="" constraint="\d+" />
				</parameters>
			</route>
      <route  name="GiftDetails" url="GiftDetails/{giftId}" dest="~/GiftDetails.aspx">
        <parameters>
          <add name="giftId" value="" constraint="\d+" />
        </parameters>
      </route>
      <route  name="SupplierAbout" url="SupplierAbout/{supplierId}" dest="~/SupplierAbout.aspx">
        <parameters>
          <add name="supplierId" value="" constraint="\d+" />
        </parameters>
      </route>
		</map>
	</RouteConfiguration>

</configuration>