<hi:common_appheader runat="server" />
<div class="att-popup popFindMethod">
    <div class="att-popup-container deliveryed">
        <ul id="findMethod">
            <asp:Literal id="litFindMethod" runat="server"></asp:Literal>
        </ul>
        <span class="close_pop">取消</span>
    </div>
</div>
<form class="form-horizontal" runat="server">
    <input type="hidden" id="hidFindMethod" value="" runat="server" clientidmode="static">
    <input type="hidden" id="hidCodeSendTo" value="" runat="server" clientidmode="static">
    <div id="firstpanel" class="tk_main" runat="server" clientidmode="static">
        <div class="tk_group">
            <label for="phone">重置方式</label>
            <div class="input-group  boxFindMethod"></div>

        </div>
        <div class="btn_tk">
            <button id="btnNext" type="button" class="btn_login">下一步</button>
        </div>

    </div>
    <div id="nextpanel" class="tk_main" runat="server" clientidmode="static">
        <div class="input-group input-group-lg password" style="line-height:2.5rem;">
            <samp id="spanUserName"><asp:literal runat="server" id="lblUserName"></asp:literal></samp>
        </div>
        <div class="input-group input-group-lg password">
            <span class="input-group-addon">验证码</span>
            <input clientidmode="Static" id="txtNumber" type="text" placeholder="请输入验证码" style="width:5rem" runat="server" maxlength="6">

            <input id="phoneVerifyCode" type="button" value="获取验证码" class=" btn btn-default" style="border:1px solid #ebebeb !important;background: #fff !important;color: #333;float:right;" />

        </div>
        <div class="input-group input-group-lg password">
            <span class="input-group-addon">密码</span>
            <input clientidmode="Static" type="password" id="txtPassword" class="setinput" placeholder="请输入新密码" aria-describedby="sizing-addon1" runat="server">
        </div>
        <div class="input-group input-group-lg password">
            <span class="input-group-addon">确认密码</span>
            <input clientidmode="Static" id="txtPassword2" type="password" placeholder="请重复一遍新密码" runat="server">
        </div>
        <div style="color:red;" id="message">
            <h3><span><asp:literal runat="server" id="message"></asp:literal></span></h3>
        </div>
        <div class="btn_tk">
            <button id="btnFinish" type="button" class="btn_login">完成</button>
        </div>
    </div>

</form>
<script type="text/javascript">
    var source = getParam("Source");
    var orderId = getParam("OrderId");
    function getCodeTimer() {
        var time = 1000;
        var interval;
        var count = 0;
        function fun() {
            count++;
            if (count >= 60) {
                $("#phoneVerifyCode").attr("disabled", false);
                $("#phoneVerifyCode").attr("value", "重新发送");
                clearInterval(interval);
            }
            else {
                $("#phoneVerifyCode").attr("value", "发送成功（" + (60 - count) + ")");
            }
        }
        $("#phoneVerifyCode").attr("disabled", "true");
        interval = setInterval(fun, time);
    }
    $(document).ready(function (e) {

        var action = getParam("action");
        if (action == "next") {
            getCodeTimer();
            var user = $("#hidCodeSendTo").val();
            $("#spanUserName").text("验证码已发送到：" + user);
            $("#phoneVerifyCode").click(function () {
                if ($("#phoneVerifyCode").attr("value") != "获取验证码") {
                    return;
                }
                var codeType = $("#hidFindMethod").val();
                var pUrl = "/Handler/MemberHandler.ashx?action=SendFindTradePasswordCode&imgCode=0";
                var paramData = paramData = { CodeType: codeType }
                $.ajax({
                    type: "POST",
                    url: pUrl,
                    dataType: "json",
                    data: paramData,
                    success: function (result) {
                        if (result.success == "true") {
                            getCodeTimer();
                        }
                        else {
                            if (result.success == "NoLogin") {
                                location.href = "MemberCenter";
                            }
                            else {
                                $("#message").text(result.msg);
                                return false;
                            }
                        }
                    }
                });
            });
        }
        else {
            if ($("#findMethod li").length > 0) {
                $(".boxFindMethod").html($("#findMethod li").eq(0).html());
                $("#hidFindMethod").val($("#findMethod li").eq(0).attr("data"));
            }
            else {
                alert_h("您现在还不能找回交易密码,请先设置密保问题答案或者绑定手机和邮箱", function (e) {
                    goUserCenterPage();
                })
            }
            $('.boxFindMethod').on('click', function () {
                $('.popFindMethod').addClass('is-visible');
            });
            $("#btnNext").click(function (e) {
                var codeType = $("#hidFindMethod").val();
                if (codeType != 1 && codeType != 2) {
                    alert_h("错误的重置方式");
                    return;
                }
                var pUrl = "/Handler/MemberHandler.ashx?action=SendFindTradePasswordCode&imgCode=0";
                var paramData = paramData = { CodeType: codeType }
                $.ajax({
                    type: "POST",
                    url: pUrl,
                    dataType: "json",
                    data: paramData,
                    success: function (result) {
                        if (result.success == "true") {
                            //return true;
                            window.location.href = "ForgotTradePassword.aspx?action=next&codetype=" + codeType + "&Source=" + source + "&OrderId=" + orderId;
                        }
                        else {
                            if (result.success == "NoLogin") {
                                alert_h(resul.msg, function (e) {
                                    goUserCenterPage();
                                })
                            }
                            else {
                                //$("#message").text(result.msg);
                                alert_h(result.msg);
                                return false;
                            }
                        }
                    }
                });
                return false;
            })
        }

        $("#findMethod li").each(function () {
            $(this).click(function () {
                $(".boxFindMethod").html($(this).html());
                $("#hidFindMethod").val($(this).attr("data"));
                $('.popFindMethod').removeClass('is-visible');
            });
        });

        $("#btnFinish").click(function (e) {
            var codeType = $("#hidFindMethod").val();
            $(this).attr({ "disabled": "disabled" });
            var verifyCode = $("#txtNumber").val();
            var tPassword = $("#txtPassword").val();
            var retPassword = $("#txtPassword2").val();
            if (verifyCode == "") {
                $(this).removeAttr("disabled");
                alert_h("请输入验证码"); return false;
            }
            if (tPassword == "" || tPassword.length < 6) {
                $(this).removeAttr("disabled");
                alert_h("请输入新的交易密码"); return false;
            }
            if (retPassword != tPassword) {
                $(this).removeAttr("disabled");
                alert_h("两次输入的密码不一致"); return false;
            }

            var pUrl = "/API/VshopProcess.ashx?action=ResetTradePassword";
            var paramData = paramData = { CodeType: codeType, password: tPassword, repassword: retPassword, verifycode: verifyCode }
            $.ajax({
                type: "POST",
                url: pUrl,
                dataType: "json",
                data: paramData,
                success: function (result) {
                    if (result.Status == "true") {
                        var toUrl = "MemberOrders?status=1";
                        if (source.toLowerCase() == "pay") {
                            if (orderId != "") {
                                toUrl = "MemberOrderDetails?OrderId=" + orderId;
                            }
                        }
                        else if (source.toLowerCase() == "sdraw") {
                            toUrl = "RequestBalanceDraw";
                        }
                        else if (source.toLowerCase() == "bdraw") {
                            toUrl = "SplittinDraws";
                        }
                        alert_h(result.msg, function (e) {
                            window.location.replace = toUrl;
                        })
                        
                    }
                    else {
                        if (result.Status == "NoLogin") {
                            alert_h(result.msg, function (e) {
                                goUserCenterPage();
                            })
                            
                        }
                        else {
                            alert_h(result.msg, function (e) {
                                $("#btnFinish").removeAttr("disabled");
                            });
                            return false;
                        }
                    }
                }
            });
        })

    })

</script>
