<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script src="/Utility/artTemplate.js" type="text/javascript"></script>
<script src="/Utility/jquery.cookie.js" type="text/javascript"></script>

<hi:common_appheader runat="server" skinname="/tags/skin-Common_NoLoginHeader.html" />
<div id="slides">
    <asp:literal runat="server" id="litPdImgSlides" />
</div>
<script>
    document.addEventListener('plusready', function () {
        //i没有获取到定位信息
        if ($("#hidLanLng").val() == "") {
            var ms = plus.webview.currentWebview();
            var url = ms.url;
            var siteinfostr = plus.storage.getItem('wapsiteinfo') || "{}";
            var siteInfo = JSON.parse(siteinfostr);
            if (siteInfo.Location != undefined && siteInfo.Location) {
                var lat = siteInfo.Location.lat;
                var lng = siteInfo.Location.lng;
                if (lat != undefined && lat != "" && lng != undefined && lng != "") {
                    var url = document.location.href;
                    if (url.indexOf("?") > -1) {
                        url = url + "&lat=" + lat + "&lng=" + lng;
                    }
                    else {
                        url = url + "?lat=" + lat + "&lng=" + lng;
                    }
                    document.location.href = url;
                }
            }
        }

    });
    $(function () {
        var imgsurl = [];
        var nowurl = '';
        var imgObj = $(".cd_pro_info img");
        for (var i = 0; i < imgObj.length; i++) {
            imgsurl[i] = getFullPath(imgObj.eq(i).attr("data-url"));
            imgObj[i].onclick = function () {
                nowurl = this.src;
                wx.previewImage({
                    current: nowurl,
                    urls: imgsurl
                });
            }
        }
    });

    //单门店首页
    function goStoreHomePage() {
        var storeId = $("#hidden_StoreId").val();
        OpenUrl("storehome1", "{'storeid':" + storeId + "}");
    }

    //地图导航
    function goMap(latLng, storeName, address) {

        var longitude = latLng.split(',')[0];
        var latitude = latLng.split(',')[1];
        var siteinfo = plus.storage.getItem("wapsiteinfo");
        if (siteinfo) {
            var tempsiteinfo = JSON.parse(siteinfo);
            if (tempsiteinfo.QQKey) {
                var requesturl = "https://apis.map.qq.com/tools/routeplan/eword=" + address + "&epointx=" + longitude + "&epointy=" + latitude + "?referer=myapp&key=" + tempsiteinfo.QQKey;
                location.href = requesturl;
            }
        }
    }
</script>
<div class="cd_xs">
    <div class="cd_info">
        <div class="cd_title">
            <asp:literal runat="server" id="litProdcutName" />
        </div>

        <div class="cd_price">
            抢购价：¥<b><asp:literal runat="server" id="price" /></b>
            <del id="delOldSalePrice">
                原价：¥<asp:literal runat="server" id="salePrice" />
            </del>

        </div>
        <div class="maxCount" id="maxCount">
            每人限购<asp:literal runat="server"
                             id="litMaxCount" /><asp:literal runat="server"
             id="litUnit" />
        </div>
    </div>

    <div class="cd_time">
        <i class="icon_cdtime icon-icon_time"></i>
        <span id="tuan_time"></span><span id="t_d"></span><span id="t_h"></span></span><span id="t_m"></span><span id="t_s"></span>
    </div>
</div>
<div class="proDetailStore1" id="proDetailStore1">
    <a id="aGoStore" onclick="goStoreHomePage()">
        <h3><asp:literal id="ltlStoreName" runat="server"></asp:literal></h3>
        <div class="locat"><span id="locat"><asp:literal id="ltlStoreAddress" runat="server"></asp:literal></span>&nbsp;|&nbsp;<asp:literal id="ltlDistance" runat="server"></asp:literal></div>
        <div class="pdStorelist1"><ul> <asp:literal id="ltlDelivery" runat="server"></asp:literal> <span><asp:literal id="ltlDeliveryDetail" runat="server"></asp:literal></span></ul></div>
    </a>
    <span onclick="onMapClick()"><a><button type="button" value="" class="sbutton"></button><div>地图</div></a></span>
</div>
<div class="proDetailStore2" id="proDetailStore2" style="display:none;">
    <h2>以下门店也有货</h2>
    <div class="pdStorelist" id="storeRecommond"></div>
    <script type="text/html" id="storeRecommondTemp">
        <ul>
            {{each list as item index}}
            <li><a class="storeN" href="CountDownStoreProductsDetails.aspx?StoreId={{item.StoreId}}&countDownId={{item.CountDownId}}">{{item.StoreName}}</a><div>{{item.Distance}}</div></li>
            {{/each}}
        </ul>
    </script>
</div>
<div class="cd_single mt_30" id="divspecification">
    选择规格
    <i class="icon_angle_right"></i>
</div>
<div class="cd_single mt_30" onclick="javascript:location.href='ProductReview.aspx?ProductId='+$('#txtProductId').val();">
    商品评价&nbsp;<i class="icon_badge1">(<asp:literal runat="server" id="litReviewsCount" />)</i>
    <i class="icon_angle_right"></i>
</div>
<div class="mt_30 cd_pro_info">
    <asp:literal runat="server" id="litDescription" />
</div>
<div class="cd_btn btn_1">
    <a id="buyButtonNew">立即抢购</a>
</div>
<input type="hidden" runat="server" id="hidden_IsOver" clientidmode="Static" />
<input type="hidden" runat="server" id="hidden_pdEx" clientidmode="Static" />
<input type="text" style="display: none;" runat="server" id="txtProductId" clientidmode="Static" />
<input type="hidden" runat="server" clientidmode="Static" id="litGroupbuyId" />
<input type="hidden" runat="server" clientidmode="Static" id="hiddenIsLogin" />
<input type="hidden" value="2014/04/23 9:27:46" id="startTime" runat="server" clientidmode="Static">
<input type="hidden" value="2014/04/23 9:28:56" id="endTime" runat="server" clientidmode="Static">
<input type="hidden" id="groupBuySoldCount" runat="server" clientidmode="Static">
<input type="hidden" id="groupBuyMaxCount" runat="server" clientidmode="Static">
<input type="hidden" id="groupBuyMinCount" runat="server" clientidmode="Static">
<input type="hidden" id="nowTime" runat="server" clientidmode="Static">
<input type="hidden" id="skuStock" value="0" runat="server" clientidmode="Static" />
<input type="hidden" id="hdId" runat="server" ClientIDMode="Static">
<input type="hidden" id="hdCountDownId" runat="server" ClientIDMode="Static">
<input type="hidden" id="hdAppId" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hdTimestamp" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hdNonceStr" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hdSignature" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hdTitle" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hdDesc" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hdImgUrl" runat="server" ClientIDMode="Static" />
<input type="hidden" id="hdLink" runat="server" ClientIDMode="Static" />
<input type="hidden" runat="server" id="hidLngLat" clientidmode="Static" />

<input type="hidden" runat="server" id="hidRecommend" clientidmode="Static" />
<input type="hidden" runat="server" id="hidNoData" clientidmode="Static" />
<input type="hidden" runat="server" id="hidStoreType" value="0" clientidmode="Static" />
<input type="hidden" runat="server" clientidmode="Static" id="hidStoreId" />
<input type="hidden" runat="server" id="hidStoreName" clientidmode="Static" />
<input type="hidden" runat="server" id="hidQQMapKey" clientidmode="Static" />
<input type="hidden" runat="server" id="hidLanLng" clientidmode="Static" />
<!--<div class="map_popup">
    <div class="att-popup-container" style="height:100%;">
        <div class="map_title">
            查看地图
            <a href="javascript:closeMap();" class="pop_close icon-icon_close_48"></a>
        </div>
    </div>
</div>-->
<script src="/script/carousel.js"></script>
<script src="/utility/vcountdown.helper.js?v=3.0" type="application/javascript"> </script>
<script type="text/javascript" src="/Utility/jquery.scrollLoading.min.js"></script>
<script src="/script/swipe.js"></script>
<script type="text/javascript">


    $(function () {

        setTimeout('yanci()', 1000);

        //推荐门店
        var sulw = $(".pdStorelist ul li").length;
        var sliw = $(".pdStorelist ul li").width();
        $(".pdStorelist ul").width(sulw * (sliw + 41));





        var soldCount = parseInt($('#groupBuySoldCount').val());
        var minCount = parseInt($('#groupBuyMinCount').val());
        if (soldCount < minCount)
            $('#maxCount').hide();
        else
            $('#minCount').hide();

        if (!$.trim($('#gbContent').html())) {
            $('#gbContentContainer').hide();
        }

        $('#divspecification,#buyButtonNew').on('click', function (event) {
            event.preventDefault();
            $('.att-popup').addClass('is-visible');
            getDefaultCountDownPrice();
            processBottomMenu();
        });

        //轮播图

        $(function () {
            var h = $('p img');
            h.css("height", "auto");

            var slidesImg = $('#slides img');
            slidesImg.css({ "width": "100%", "height": "auto" });
            var width = 650, height = 650;
            if (slidesImg.length > 1) {
                $('#slides').slidesjs({
                    width: width,
                    height: height,
                    play: {
                        active: true,
                        auto: true,
                        interval: 6000,
                        swap: true
                    }
                });
                $(".slidesjs-play, .slidesjs-stop, .slidesjs-previous, .slidesjs-next").remove();
                $(slidesImg[0]).scrollLoading();

            } else {
                $('#slides').css('display', 'block').html('<div style="width:100%;"><a href="javascript:;"></a></div>');
                $('#slides div a').append(slidesImg);
                $('#slides img').scrollLoading();

            }
        });

        if ($("#hidNoData").val() == "1") {
            console.log("要推荐");
            $("#proDetailStore1").hide();
            if ($("#hidRecommend").val() == "1") {//下架了
                //$(".btns-fixed .goumai").hide();//根据开关判断是否需要推荐
                $("#proDetailStore2").show();
                getRecommendShop();
            }
        }
    });

    $(".slidesjs-play, .slidesjs-stop, .slidesjs-previous, .slidesjs-next").remove();
    vGroupBuyIntervalId = setInterval(GetRTime, 1000);
    if ($("#attrtable tr").length <= 0) {
        $("#attrtable").parent().hide();
    }

    $(window).scroll(function () {
        setScrollLoading();
    });
    function setScrollLoading() {
        $("img").scrollLoading();
        $("iframe").each(function () {
            if (!$(this).attr("src")) {
                $(this).attr("src", $(this).attr("data-url"));
            }
        });
    }


    ///获取推荐门店
    function getRecommendShop() {
        $.ajax({
            url: "/API/DepotHandler.ashx",
            data: { action: "GetRecomStoreByCountdownProductId", storeId: getQueryString("StoreId"), productId: $('#txtProductId').val(), activityId: getQueryString("countDownId"), tagId: $("#hidStoreType").val(), positionJson: $("#hidLanLng").val() },
            dataType: "json",
            success: function (data) {
                var databox = $("#storeRecommond");
                if (data) {
                    if (data && data.length > 0) {
                        databox.html(template("storeRecommondTemp", { list: data }));
                        if (callback)
                            callback();
                    } else {
                        databox.append("周边无合适推荐门店");
                        $("#proDetailStore2").hide();
                    }
                }
            },
            error: function () {
                ShowMsg(actionName + "获取数据异常", false);
            }
        });
    }
    //门店地图信息
    function closeMap() {
        $('.map_popup').removeClass('is-visible');
    }
    function onMapClick() {
        var longitude = parseFloat($("#hidLngLat").val().split(',')[0]);
        var latitude = parseFloat($("#hidLngLat").val().split(',')[1]);
        var storeName = $("#hidStoreName").val();
        goMap($("#hidLngLat").val(), storeName, $("#locat").text())
    }

    function yanci() {
        var sulw = $(".pdStorelist ul li").length;
        var sliw = $(".pdStorelist ul li").width();
        $(".pdStorelist ul").width(sulw * (sliw + 41));


    }
</script>
<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&libraries=convertor"></script>
<hi:Common_SKUSubmitStoreOrder id="skuSubmitOrder" runat="server" />


