<hi:common_appheader runat="server" />
<style type="text/css">
    .address-box-c { margin: 1rem 0px; float: left; width: 100%; }

        .address-box-c ul { margin: 0px; padding: 0px; }

            .address-box-c ul li { padding: 0.5rem 0; width: 100%; clear: both; height: auto; float: left; border-top: 1px solid #e7e5ea; position:relative;}
                .address-box-c ul li:last-child { border-bottom: 1px solid #e7e5ea; }

                .address-box-c ul li span { width: 10%; text-align: center; display: block; float: left; vertical-align: middle; }

                .address-box-c ul li samp { width: 85%; text-align: left; display: block; float: left; }
                    .address-box-c ul li samp strong { font-weight: normal; }
</style>
<div class="main">
    <div class="address-box-c">
        <ul>
            <hi:AppshopTemplatedRepeater id="rptvShipping" templatefile="/Tags/skin-Common_ChoiceShippingAddress.ascx" runat="server" />
        </ul>
    </div>
</div>
<div class="tk_btn pd_30">
    <input type="button" id="btnAdd" onclick="onAddressAdd()" value="新增地址" class="btn_login" />
    <input type="button" id="btnSubmit" value="确定选择" class="btn btn-success btn-block" style="display:none;" />
</div>
<input type="hidden" id="hidIsMultiStore" runat="server" value="" clientidmode="static" /><!--是否开启多门店-->
<script>
    //禁用右上角菜单
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });

    $(document).ready(function (e) {
        if ($("#hidIsMultiStore").val() != "1") {
            //$("#divUpdateAddress").hide();
            $("#iUpdateAddress").hide();
            $("#spanTagAddress").show();
        }
        $("#btnAdd").click(function (e) {
            var returnUrl = getParam("returnUrl");
            if (returnUrl == null || returnUrl == undefined || returnUrl == "")
                returnUrl = document.referrer;
            document.location.replace("AddShippingAddress.aspx?action=submitorder&returnUrl=" + returnUrl);
        });

        //$("#divUpdateAddress").click(function (e) {
        //    var returnUrl = getParam("returnUrl");
        //    document.location.replace("EditShippingAddress.aspx?action=submitorder&returnUrl=" + returnUrl);
        //});

        $('input[name="ShippingId"]').on('ifChecked', function (event) {
            var shippingId = parseInt($(this).val());
            if (isNaN(shippingId)) {
                alert_h("请选择一个收货地址.");
                return false;
            }
            else {
                returnUrl = getParam("returnUrl");
                if (returnUrl == null || returnUrl == undefined || returnUrl == "")
                    returnUrl = document.referrer;
                //  returnUrl = returnUrl.toLowerCase();
                if (returnUrl != "") {
                    returnUrl = replaceParam(returnUrl, "ShipAddressId", shippingId);
                    returnUrl = replaceParam(returnUrl, "shippingmodeid", 0);
                    returnUrl = replaceParam(returnUrl, "ChooseStoreId", 0);
                    returnUrl = replaceParam(returnUrl, "paymentmodeid", 0);
                    document.location.replace(returnUrl);
                }
                //alert(returnUrl);
            }
        });

        $("#btnSubmit").click(function (e) {
            var shippingId = parseInt($('input[name="ShippingId"]:checked ').val());
            if (isNaN(shippingId)) {
                alert_h("请选择一个收货地址.");
                return false;
            }
            else {
                returnUrl = getParam("returnUrl");
                if (returnUrl == null || returnUrl == undefined || returnUrl == "")
                    returnUrl = document.referrer;
                //  returnUrl = returnUrl.toLowerCase();
                if (returnUrl != "") {
                    returnUrl = replaceParam(returnUrl, "ShipAddressId", shippingId);
                    returnUrl = replaceParam(returnUrl, "shippingmodeid", 0);
                    returnUrl = replaceParam(returnUrl, "ChooseStoreId", 0);
                    returnUrl = replaceParam(returnUrl, "paymentmodeid", 0);
                    document.location.replace(returnUrl);
                }
                //alert(returnUrl);
            }
        });
    });
    $(document).ready(function (e) {
        if ($(".address-box-c ul li").length >= 20) {
            $("#btnAdd").hide();
        }
    })
    function gotoEdit(shippingId) {
        var returnUrl = getParam("returnUrl");
        document.location.replace("EditShippingAddress.aspx?ShippingId=" + shippingId + "&action=submitorder&returnUrl=" + returnUrl);
    }
    function onAddressChoose() {
        var shippingId = parseInt($('input[name="ShippingId"]:checked ').val());
        if (isNaN(shippingId)) {
            alert_h("请选择一个收货地址.");
            return false;
        }
        else {
            returnUrl = getParam("returnUrl");
            if (returnUrl == null || returnUrl == undefined || returnUrl == "")
                returnUrl = document.referrer;
            //  returnUrl = returnUrl.toLowerCase();
            if (returnUrl != "") {
                returnUrl = replaceParam(returnUrl, "ShipAddressId", shippingId);
                returnUrl = replaceParam(returnUrl, "shippingmodeid", 0);
                returnUrl = replaceParam(returnUrl, "ChooseStoreId", 0);
                returnUrl = replaceParam(returnUrl, "paymentmodeid", 0);
                document.location.replace(returnUrl);
            }
            //alert(returnUrl);
        }
    }
</script>

<hi:common_appfooter runat="server" />