<hi:common_appheader runat="server" skinname="/tags/skin-Common_NoLoginHeader.html" />
<style>
    .brand {
        display: inline-block;
        padding: 0.75rem;
    }

        .brand .well {
            width: 100%;
            margin-bottom: 0.75rem;
            /*padding:0.5rem 0.5rem 0 0.5rem;*/
        }

            .brand .well .name {
                margin-top: 0;
                line-height: 3;
            }
</style>
<div class="brand">
    <Hi:AppshopTemplatedRepeater ID="rptBrands" TemplateFile="/Tags/skin-Common_Brands.ascx" runat="server" />
</div>


<hi:Common_AppFooter runat="server" />