<hi:common_appheader runat="server" />
<style>
    body {
        background: #fff;
    }
</style>
<div class="integralinfo_body">
    <form runat="server">
        <input id="hidGiftId" type="hidden" runat="server" ClientIDMode="Static" />
        <input id="hidIsExemptionPostage" runat="server" type="hidden" ClientIDMode="Static" />
        <input id="hidReturnUrl" runat="server" type="hidden" ClientIDMode="Static" />
        <div class="integralinfo_top">
            <Hi:HiImage ID="imgGift" runat="server" runat="server" />
        </div>
        <div style="padding:0.75rem;">
            <h2><asp:literal runat="server" id="litName" /></h2>
            <div class="parameter">
                <em>市场价：￥<asp:literal runat="server" id="litMarketPrice" /></em>
                <!--<em>剩余数量：<asp:literal runat="server" id="litLastAmount" /></em>-->
                <span>兑换积分：<b><asp:literal runat="server" id="litNeedPoints" /></b>分</span>
                <asp:HiddenField ID="hidNeedPoints" runat="server" ClientIDMode="Static" />
                <i>可用积分：<asp:literal runat="server" id="litHasPoints" />分</i>
                <asp:HiddenField ID="hidHasPoints" runat="server" ClientIDMode="Static" />
            </div>
            <h4 class="point_info_title"><span>礼品详情</span></h4>
            <asp:literal runat="server" id="litMeta_Description" />
            <div class="btns-fixed">
                <Hi:ImageLinkButton ID="btnClearCart" IsShow="false" Width="100%" CssClass="btn_fixe" runat="server" Text="立即兑换" onClientClick="exchangegifts(); return false;" />
            </div>
        </div>
        <!--<a href="#" id="btnChage" runat="server" class="btn btn-danger" onclick="myConfirm1('提示', '您确定要兑换该礼品吗？')">立即兑换</a>-->
    </form>
</div>
<script type="text/javascript" src="/Utility/jquery.scrollLoading.min.js"></script>
<script type="text/javascript">
    function exchangegifts() {
        if (parseFloat($("#hidHasPoints").val()) < parseFloat($("#hidNeedPoints").val()))
        {
            return;
        }
        $.ajax({
            url: "/API/VshopProcess.ashx",
            type: 'post', dataType: 'json', timeout: 10000,
            data: { action: "ExChangeGifts", needPoints: $("#hidNeedPoints").val(), hasPoints: $("#hidHasPoints").val(), giftId: $("#hidGiftId").val() },
            success: function (resultData) {
                if (resultData.Status == "success") {
                    goToShoppingCart();
                } else if (resultData.Status == "unlogin") {
                    ToLogin();
                } else if (resultData.Status == "hasexists") {
                    alert_h("购物车中已存在该礼品，请删除购物车中已有的礼品或者下次兑换！");
                } else if (resultData.Status == "notexists") {
                    alert_h("该礼品不存在或已被删除！");
                }
                else {
                    alert_h(resultData.msg);
                }
            },
            complete: function () {
                RefreshUpdateUser();
            }
        });
    }
</script>
<hi:common_appfooter runat="server" />
