<%<Hi:Common_Header runat="server" />%>
  <%<hi:common_rightlink runat="server" />%>

<div class="index_main" id="main1">
 
<div class="banner_picall" style="position:relative; width:1200px; height:2px;  margin:0 auto;">
<div class="banner_pic"><Hi:Common_ImageAd runat="server" AdId="10" /></div>
</div>
     <div class="banner">

        <div><hi:common_slidead runat="server" adid="2" isdelayedloading="true" isfullscreen="true"></hi:common_slidead></div>
  
        	

     </div>
     <script src="/utility/Tags/MogFocus.js" type="text/javascript"></script>
     <script type="text/javascript">
        $(function () {
            var Width = $(window).width();
            $("#ads_2").mogFocus({ scrollWidth: Width });
        });
    </script>
     
   <!--首页中间-->

	
          
    <div class="w1200 o-hidden "><!--tangou-->
<script type="text/javascript">
	function nTabs(thisObj,Num){
	if(thisObj.className == "active")return;
	var tabObj = thisObj.parentNode.id;
	var tabList = document.getElementById(tabObj).getElementsByTagName("li");
	for(i=0; i <tabList.length; i++)
	{
	  if (i == Num)
	  {
	   thisObj.className = "active"; 
		  document.getElementById(tabObj+"_Content"+i).style.display = "block";
	  }else{
	   tabList[i].className = "normal"; 
	   document.getElementById(tabObj+"_Content"+i).style.display = "none";
	  }
	} 
	}
</script>
    	<div class="ppzq">
        	<div class="ppzq_title"><Hi:Common_SubjectTitle runat="server" CommentId="20" /></div>
            <div class="ppzq_con">
            	<div class="ppzq_top">
                	<div class="ppzq_top1"><Hi:Common_ImageAd runat="server" AdId="11" /></div>
                    <div class="ppzq_top2">
                    	<Hi:Common_SubjectBrand runat="server" CommentId="7" />
                    </div>
                    <div class="ppzq_top3"><Hi:Common_ImageAd runat="server" AdId="12" /></div>
                </div>
                <div class="ppzq_bot"><Hi:Common_ImageAd runat="server" AdId="13" /></div>
            </div>
        </div>
        
        <div class="moudle">
       	  <div class="moudle_left fl">
           	<div class="moudle_ll fl">
           	  <div class="lc1"><Hi:Common_SubjectTitle runat="server" CommentId="21" /></div>
              <div class="adv"><Hi:Common_ImageAd runat="server" AdId="14" /></div>
              <div class="classify">
                    	<ul>
                        	 <Hi:Common_SubjectKeyword runat="server" CommentId="22" />
                        </ul>
                    </div>
              <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="23" /></div>
            </div>
            <div class="moudle_lr fl"><Hi:Common_ImageAd runat="server" AdId="15" /></div>
          </div>
            <div class="moudle_right fr">
            <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="13" /> 
            </div>
            <div style="clear:both;"></div>
      </div>
      
      <div class="moudle">
       	  <div class="moudle_left fl">
           	<div class="moudle_ll fl">
           	  <div class="lc2"><Hi:Common_SubjectTitle runat="server" CommentId="24" /></div>
              <div class="adv"><Hi:Common_ImageAd runat="server" AdId="16" /></div>
              <div class="classify">
                    	<ul>
                        	<Hi:Common_SubjectKeyword runat="server" CommentId="33" />
                        </ul>
                    </div>
              <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="42" /></div>
            </div>
            <div class="moudle_lr fl"><Hi:Common_ImageAd runat="server" AdId="17" /></div>
          </div>
            <div class="moudle_right fr">
            	<Hi:Common_SubjectProduct_Simple runat="server" SubjectId="14" />
            </div>
            <div style="clear:both;"></div>
      </div>
      
      <div class="moudle">
       	  <div class="moudle_left fl">
           	<div class="moudle_ll fl">
           	  <div class="lc3"><Hi:Common_SubjectTitle runat="server" CommentId="25" /></div>
              <div class="adv"><Hi:Common_ImageAd runat="server" AdId="18" /></div>
              <div class="classify">
                    	<ul>
                        	<Hi:Common_SubjectKeyword runat="server" CommentId="34" />
                        </ul>
                    </div>
              <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="43" /></div>
            </div>
            <div class="moudle_lr fl"><Hi:Common_ImageAd runat="server" AdId="19" /></div>
          </div>
            <div class="moudle_right fr">
            	<Hi:Common_SubjectProduct_Simple runat="server" SubjectId="15" />
            </div>
            <div style="clear:both;"></div>
      </div>
      
      <div class="moudle">
       	  <div class="moudle_left fl">
           	<div class="moudle_ll fl">
           	  <div class="lc4"><Hi:Common_SubjectTitle runat="server" CommentId="26" /></div>
              <div class="adv"><Hi:Common_ImageAd runat="server" AdId="20" /></div>
              <div class="classify">
                    	<ul>
                        	<Hi:Common_SubjectKeyword runat="server" CommentId="35" />
                        </ul>
                    </div>
              <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="44" /></div>
            </div>
            <div class="moudle_lr fl"><Hi:Common_ImageAd runat="server" AdId="21" /></div>
          </div>
            <div class="moudle_right fr">
            	<Hi:Common_SubjectProduct_Simple runat="server" SubjectId="16" />
            </div>
            <div style="clear:both;"></div>
      </div>
      
      <div class="moudle">
       	  <div class="moudle_left fl">
           	<div class="moudle_ll fl">
           	  <div class="lc5"><Hi:Common_SubjectTitle runat="server" CommentId="27" /></div>
              <div class="adv"><Hi:Common_ImageAd runat="server" AdId="22" /></div>
              <div class="classify">
                    	<ul>
                        	<Hi:Common_SubjectKeyword runat="server" CommentId="36" />
                        </ul>
                    </div>
              <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="45" /></div>
            </div>
            <div class="moudle_lr fl"><Hi:Common_ImageAd runat="server" AdId="230" /></div>
          </div>
            <div class="moudle_right fr">
            	<Hi:Common_SubjectProduct_Simple runat="server" SubjectId="17" />
            </div>
            <div style="clear:both;"></div>
      </div>
      
      <div class="moudle">
       	  <div class="moudle_left fl">
           	<div class="moudle_ll fl">
           	  <div class="lc6"><Hi:Common_SubjectTitle runat="server" CommentId="28" /></div>
              <div class="adv"><Hi:Common_ImageAd runat="server" AdId="24" /></div>
              <div class="classify">
                    	<ul>
                        	<Hi:Common_SubjectKeyword runat="server" CommentId="37" />
                        </ul>
                    </div>
              <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="46" /></div>
            </div>
            <div class="moudle_lr fl"><Hi:Common_ImageAd runat="server" AdId="25" /></div>
          </div>
            <div class="moudle_right fr">
            	<Hi:Common_SubjectProduct_Simple runat="server" SubjectId="18" />
            </div>
            <div style="clear:both;"></div>
      </div>
      
      <div class="moudle">
       	  <div class="moudle_left fl">
           	<div class="moudle_ll fl">
           	  <div class="lc7"><Hi:Common_SubjectTitle runat="server" CommentId="29" /></div>
              <div class="adv"><Hi:Common_ImageAd runat="server" AdId="26" /></div>
              <div class="classify">
                    	<ul>
                        	<Hi:Common_SubjectKeyword runat="server" CommentId="38" />
                        </ul>
                    </div>
              <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="47" /></div>
            </div>
            <div class="moudle_lr fl"><Hi:Common_ImageAd runat="server" AdId="27" /></div>
          </div>
            <div class="moudle_right fr">
            	<Hi:Common_SubjectProduct_Simple runat="server" SubjectId="19" />
            </div>
            <div style="clear:both;"></div>
      </div>
      
      <div class="moudle">
       	  <div class="moudle_left fl">
           	<div class="moudle_ll fl">
           	  <div class="lc8"><Hi:Common_SubjectTitle runat="server" CommentId="53" /></div>
              <div class="adv"><Hi:Common_ImageAd runat="server" AdId="28" /></div>
              <div class="classify">
                    	<ul>
                        	<Hi:Common_SubjectKeyword runat="server" CommentId="39" />
                        </ul>
                    </div>
              <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="48" /></div>
            </div>
            <div class="moudle_lr fl"><Hi:Common_ImageAd runat="server" AdId="29" /></div>
          </div>
            <div class="moudle_right fr">
            	<Hi:Common_SubjectProduct_Simple runat="server" SubjectId="20" />
            </div>
            <div style="clear:both;"></div>
      </div>
      
      <div class="moudle">
       	  <div class="moudle_left fl">
           	<div class="moudle_ll fl">
           	  <div class="lc9"><Hi:Common_SubjectTitle runat="server" CommentId="31" /></div>
              <div class="adv"><Hi:Common_ImageAd runat="server" AdId="30" /></div>
              <div class="classify">
                    	<ul>
                        <Hi:Common_SubjectKeyword runat="server" CommentId="40" />
                        </ul>
                    </div>
              <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="49" /></div>
            </div>
            <div class="moudle_lr fl"><Hi:Common_ImageAd runat="server" AdId="31" /></div>
          </div>
            <div class="moudle_right fr">
            	<Hi:Common_SubjectProduct_Simple runat="server" SubjectId="21" />
            </div>
            <div style="clear:both;"></div>
      </div>
      
      <div class="moudle">
       	  <div class="moudle_left fl">
           	<div class="moudle_ll fl">
           	  <div class="lc10"><Hi:Common_SubjectTitle runat="server" CommentId="32" /></div>
              <div class="adv"><Hi:Common_ImageAd runat="server" AdId="32" /></div>
              <div class="classify">
                    	<ul>
                        <Hi:Common_SubjectKeyword runat="server" CommentId="41" />
                        </ul>
                    </div>
              <div class="more"><Hi:Common_SubjectMoreLink runat="server" CommentId="50" /></div>
            </div>
            <div class="moudle_lr fl"><Hi:Common_ImageAd runat="server" AdId="33" /></div>
          </div>
            <div class="moudle_right fr">
            	<Hi:Common_SubjectProduct_Simple runat="server" SubjectId="22" />
            </div>
            <div style="clear:both;"></div>
		</div>

		<div class="main_bot w1200 m0"><Hi:Common_ImageAd runat="server" AdId="34" /></div>
    </div>
  
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     

        
</div>








<!--OrderList-->
<script>
function startmarquee(lh,speed,delay,id) {
	var t;
	var p=true;
	var o=document.getElementById(id);
	o.innerHTML+=o.innerHTML;
	o.onmouseover=function () {p=true;}
	o.onmouseout=function () {p=false;}
	o.scrollTop=0;
	function start() {
		t=setInterval(scrolling,speed);
		if(!p)o.scrollTop+=2;
	}
	function scrolling() {
		if(o.scrollTop%lh!=0) {
			o.scrollTop+=2;
			if(o.scrollTop>=o.scrollHeight/2)o.scrollTop=0;
		}else {
			clearInterval(t);
			setTimeout(start,delay);
		}
	}
	setTimeout(start,delay);
}

startmarquee(146,30,3000,'div4');

</script>
<script type="text/javascript">
/*
 * power by jquery  选项卡切换效果
 * update by celian
 */
var setTab;
   $(document).ready(function(){ 
     $(".noticet li").each(function(index){   
    $(this).click(function(){
    var now=$(this);
    setTab=setTimeout(function(){
    $("div.display").removeClass("display");
    $(".noticet li.on").removeClass("on");
    $(now).addClass("on");
    $(".set_info div").eq(index).addClass("display"); 
  },10);
  })
  .mouseout(function(){
       clearTimeout(setTab);
  }); 
 });
    });
</script>

  


 <%<Hi:Common_Footer runat="server"/>%>

