<%<hi:common_header runat="server" />%>
<%<hi:common_rightlink runat="server" />%>
<div class="main2" id="main1">
<style>
.main{ width:100%;}
.tab_img div{ height:499px;}
.pic img{ transition:transform 0.2s linear 0s;}
.contentmainad1 img:hover{transform:scale(1.02);transition:0.3s linear}
.pic img:hover{ transform:translateX(-5px)}
</style>
  <script src="/utility/Tags/MogFocus.js" type="text/javascript"></script>
<div class="mainad">  <hi:common_slidead runat="server" adid="28" isdelayedloading="true" isfullscreen="true"></hi:common_slidead></div>
<script type="text/javascript">
        $(function () {
            var Width = $(window).width();
            $("#ads_28").mogFocus({ scrollWidth: Width });
        });
    </script>
    <div class="w1200 o-hidden margin10">
      
            <script src="/utility/Tags/TagsHelper.js" type="text/javascript"></script>
   <div class="xxka"> <Hi:Common_SubjectProduct_Tab runat="server" SubjectId="22" isdelayedloading="true"/>
 </div>
        <div class="favor-right float-r">
            <div class="not">
                <div class="hd font-yh font14">商城公告</div>
                <div class="bd">
                    <ul>
                       <%<Hi:Common_AfficheList runat="server" TemplateFile="/ascx/tags/Common_Comment/Skin-Common_AfficheList.ascx" MaxNum="7" />%>
                    </ul>
                </div>
            </div> 
            
            <div class="nTab o-hidden pt10"> 
               <Hi:Common_ImageAd runat="server" AdId="4" isdelayedloading="true"/>
            </div>
        </div>

    </div>
  <div class="contentmain">
    <div class="contentmaintop"><b> <Hi:Common_SubjectTitle runat="server" CommentId="3" isdelayedloading="true"/></b>
    <em><Hi:Common_SubjectMoreLink runat="server" CommentId="5" isdelayedloading="true"/></em></div>  
    <div class="contentmainad"><Hi:Common_CustomAd runat="server" AdId="8" isdelayedloading="true"/>
</div>  
        <div class="contentmainc">  <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="7" isdelayedloading="true"/></div>  
  </div>  
 
    
 <div><Hi:Common_ImageAd runat="server" AdId="22" isdelayedloading="true"/></div>
<!--floor1-->
  <div class="contentmain">
    <div class="contentmaintop"><b> <Hi:Common_SubjectTitle runat="server" CommentId="33" isdelayedloading="true"/></b>
    <em><Hi:Common_SubjectMoreLink runat="server" CommentId="31" isdelayedloading="true"/></em></div>  
  <div class="contentmainc">  <div class="contentmainad1"><Hi:Common_ImageAd runat="server" AdId="19" isdelayedloading="true"/>
</div>  
        <div class="contentmainc1">  <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="8" isdelayedloading="true"/></div></div>
  </div>  
<div><Hi:Common_ImageAd runat="server" AdId="32" isdelayedloading="true"/></div>
<!--floor2-->
<div class="contentmain">
    <div class="contentmaintop"><b> <Hi:Common_SubjectTitle runat="server" CommentId="19" isdelayedloading="true"/></b>
    <em><Hi:Common_SubjectMoreLink runat="server" CommentId="20" isdelayedloading="true"/></em></div>  
  <div class="contentmainc">  <div class="contentmainad1"><Hi:Common_ImageAd runat="server" AdId="20" isdelayedloading="true"/>
</div>  
        <div class="contentmainc1">  <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="9" isdelayedloading="true"/></div></div>
  </div>
  <div><Hi:Common_ImageAd runat="server" AdId="24" isdelayedloading="true"/></div>
  <!--floor3-->
<div class="contentmain">
    <div class="contentmaintop"><b> <Hi:Common_SubjectTitle runat="server" CommentId="21" isdelayedloading="true"/></b>
    <em><Hi:Common_SubjectMoreLink runat="server" CommentId="22" isdelayedloading="true"/></em></div>  
  <div class="contentmainc">  <div class="contentmainad1"><Hi:Common_ImageAd runat="server" AdId="21" isdelayedloading="true" />
</div>  
        <div class="contentmainc1">  <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="10" isdelayedloading="true"/></div></div>
  </div>
<div><Hi:Common_ImageAd runat="server" AdId="25" isdelayedloading="true"/></div>
<!--floor4-->
<div class="contentmain">
    <div class="contentmaintop"><b> <Hi:Common_SubjectTitle runat="server" CommentId="23" isdelayedloading="true"/></b>
    <em><Hi:Common_SubjectMoreLink runat="server" CommentId="24" isdelayedloading="true"/></em></div>  
  <div class="contentmainc">  <div class="contentmainad1"><Hi:Common_ImageAd runat="server" AdId="27" isdelayedloading="true"/>
</div>  
        <div class="contentmainc1">  <Hi:Common_SubjectProduct_Simple runat="server" SubjectId="11" isdelayedloading="true"/></div>  </div>
  </div>
<div><Hi:Common_CustomAd runat="server" AdId="26" isdelayedloading="true"/></div>
  
</div>




<!--main-content结束-->
<%<hi:common_footer runat="server" skinname="/hometags/Skin-Common_Footer.ascx" />%>