<%<hi:common_header runat="server" skinname="/hometags/Skin-Common_Header.ascx" />%>
<style>
.footer{ margin-top:0px;}
</style>
<%<hi:common_rightlink runat="server" />%>

<div class="morepicbg" id="main_p1"><div class="morepic">
<span class="span1"><div><hi:common_imagead runat="server" adid="10" isdelayedloading="true"></hi:common_imagead></div>
<div class="circle"><hi:common_customad adid="29" runat="server" isdelayedloading="true"></hi:common_customad></div></span>
<span class="span2"><div><hi:common_imagead runat="server" adid="24" isdelayedloading="true"></hi:common_imagead></div>
<div class="circle"><hi:common_customad adid="30" runat="server" isdelayedloading="true"></hi:common_customad></div></span>
<span class="span3"><div><hi:common_imagead runat="server" adid="25" isdelayedloading="true"></hi:common_imagead></div>
<div class="circle"><hi:common_customad adid="31" runat="server" isdelayedloading="true"></hi:common_customad></div></span>
<span class="span4"><div><hi:common_imagead runat="server" adid="26" isdelayedloading="true"></hi:common_imagead></div>
<div class="circle"><hi:common_customad adid="32" runat="server" isdelayedloading="true"></hi:common_customad></div></span>
<span class="span5"><div><hi:common_imagead runat="server" adid="27" isdelayedloading="true"></hi:common_imagead></div>
<div class="circle"><hi:common_customad adid="33" runat="server" isdelayedloading="true"></hi:common_customad></div></span>
<span class="span6"><div><hi:common_imagead runat="server" adid="28" isdelayedloading="true"></hi:common_imagead></div>
<div class="circle"><hi:common_customad adid="34" runat="server" isdelayedloading="true"></hi:common_customad></div></span></div></div>

<div class="recomm" id="main_p2"><h2>
      <div class="h1pic"><hi:common_imagead runat="server" adid="5" isdelayedloading="true"></hi:common_imagead></div>
      <div class="more"><hi:common_subjectmorelink runat="server" commentid="9" isdelayedloading="true"></hi:common_subjectmorelink></div></h2>
      <div class="pptdiv"><div class="ppt"><hi:common_customad adid="17" runat="server" isdelayedloading="true"></hi:common_customad>  </div></div>
      
      </div>
      
<div class="mainprobg" id="main_p3">
        <div class="mainpro"><h1><hi:common_imagead runat="server" adid="6" isdelayedloading="true"></hi:common_imagead></h1>
        <div class="detail"><hi:common_customad adid="7" runat="server" isdelayedloading="true"></hi:common_customad></div>
        
  
        <div class="detailpic">
         <script type="text/javascript" src="/Templates/master/chunnuanrg/js/jquery.zoomImgRollover.js"></script>
<script type="text/javascript">

$(document).ready(function() {
var n = new Image();
n.onload = function(){
$(".detailpic img").zoomImgRollover();

}
n.src = $(".detailpic .pic3 img").attr("src");
});
</script>
<div class="pic1"><div><hi:common_imagead runat="server" adid="2" ></hi:common_imagead></div>
<div class="tape1"></div><div class="tape2"></div></div>
<div class="pic2"><hi:common_imagead runat="server" adid="3" ></hi:common_imagead></div>
<div class="pic3"><div><hi:common_imagead runat="server" adid="4"></hi:common_imagead></div>
<div class="tape5"></div><div class="tape6"></div></div></div>





<div class="button"><hi:common_imagead runat="server" adid="21" isdelayedloading="true"></hi:common_imagead></div>
        </div></div>
        
<div class="product" id="main_p4"><ul>
  <hi:common_subjectproduct_simple runat="server" subjectid="11" isdelayedloading="true"></hi:common_subjectproduct_simple>      
        
      
          </ul></div>

        
<script type="text/javascript">
$(document).ready(function() {
var n = new Image();
n.onload = function(){
 $(".article_ad img").zoomImgRollover2();

}
n.src = $("#comments_22 .article_bd img").attr("src");
});
 
</script>
<div class="articlebg" id="main_p5"><div class="articlediv"><div style=" overflow:hidden"><ul>
<li><div><hi:common_subjectarticle commentid="1" runat="server" isdelayedloading="true"></hi:common_subjectarticle></div>
<div class="more"><hi:common_customad adid="22" runat="server" isdelayedloading="true"></hi:common_customad></div></li>
<li><div><hi:common_subjectarticle commentid="20" runat="server" isdelayedloading="true"></hi:common_subjectarticle></div>
<div class="more"><hi:common_customad adid="35" runat="server" isdelayedloading="true"></hi:common_customad></div></li>
<li><div><hi:common_subjectarticle commentid="21" runat="server" isdelayedloading="true"></hi:common_subjectarticle></div>
<div class="more"><hi:common_customad adid="36" runat="server" isdelayedloading="true"></hi:common_customad></div></li>
<li><div><hi:common_subjectarticle commentid="22" runat="server" isdelayedloading="true"></hi:common_subjectarticle></div>
<div class="more"><hi:common_customad adid="37" runat="server" isdelayedloading="true"></hi:common_customad></div></li>
  
  </ul></div></div></div>








<!-- 团购 & 小轮播 -->

<script type="text/javascript">
$(function() {
	var sWidth = $("#focus").width(); //获取焦点图的宽度（显示面积）
	var len = $("#focus ul li").length; //获取焦点图个数
	var index = 0;
	var picTimer;
	
	//以下代码添加数字按钮和按钮后的半透明条，还有上一页、下一页两个按钮
	var btn = "<div class='btnBg'></div><div class='btn'>";
	for(var i=0; i < len; i++) {
		btn += "<span></span>";
	}
	btn += "</div><div class='preNext pre'></div><div class='preNext next'></div>";
	$("#focus").append(btn);
	$("#focus .btnBg").css("opacity",0);

	//为小按钮添加鼠标滑入事件，以显示相应的内容
	$("#focus .btn span").css("opacity",0.4).mouseover(function() {
		index = $("#focus .btn span").index(this);
		showPics(index);
	}).eq(0).trigger("mouseover");

	//上一页、下一页按钮透明度处理
	$("#focus .preNext").css("opacity",1).hover(function() {
		$(this).stop(true,false).animate({"opacity":"1"},300);
	},function() {
		$(this).stop(true,false).animate({"opacity":"1"},300);
	});

	//上一页按钮
	$("#focus .pre").click(function() {
		index -= 1;
		if(index == -1) {index = len - 1;}
		showPics(index);
	});

	//下一页按钮
	$("#focus .next").click(function() {
		index += 1;
		if(index == len) {index = 0;}
		showPics(index);
	});

	//本例为左右滚动，即所有li元素都是在同一排向左浮动，所以这里需要计算出外围ul元素的宽度
	$("#focus ul").css("width",sWidth * (len));
	
	//鼠标滑上焦点图时停止自动播放，滑出时开始自动播放
	$("#focus").hover(function() {
		clearInterval(picTimer);
	},function() {
		picTimer = setInterval(function() {
			showPics(index);
			index++;
			if(index == len) {index = 0;}
		},4000); //此4000代表自动播放的间隔，单位：毫秒
	}).trigger("mouseleave");
	
	//显示图片函数，根据接收的index值显示相应的内容
	function showPics(index) { //普通切换
		var nowLeft = -index*sWidth; //根据index值计算ul元素的left值
		$("#focus ul").stop(true,false).animate({"left":nowLeft},300); //通过animate()调整ul元素滚动到计算出的position
		//$("#focus .btn span").removeClass("on").eq(index).addClass("on"); //为当前的按钮切换到选中的效果
		$("#focus .btn span").stop(true,false).animate({"opacity":"0.4"},300).eq(index).stop(true,false).animate({"opacity":"1"},300); //为当前的按钮切换到选中的效果
	}
});

</script>




<script>
    function startmarquee(lh, speed, delay, id) {
        var t;
        var p = false;
        var o = document.getElementById(id);
        o.innerHTML += o.innerHTML;
        o.onmouseover = function () { p = true; }
        o.onmouseout = function () { p = false; }
        o.scrollTop = 0;
        function start() {
            t = setInterval(scrolling, speed);
            if (!p) o.scrollTop += 2;
        }
        function scrolling() {
            if (o.scrollTop % lh != 0) {
                o.scrollTop += 2;
                if (o.scrollTop >= o.scrollHeight / 2) o.scrollTop = 0;
            } else {
                clearInterval(t);
                setTimeout(start, delay);
            }
        }
        setTimeout(start, delay);
    }

    startmarquee(68, 30, 3000, 'div4');

</script>



<!--main-content结束-->
<%<hi:common_footer runat="server" skinname="/hometags/Skin-Common_Footer.ascx" />%>