@charset "utf-8";
/*==========================*/
.my_left_category{
position:absolute; 
top:64px; 
left:-72px; 
width:206px; 
border:2px solid #fc4d00;
border-top:1px solid #000;
font-size:12px; 
font-family:"微软雅黑";
height:598px;
z-index:96;
display:none;
background:#fafafa;
}

.my_left_category .my_left_cat_list{
width:206px;
line-height:13.5pt;
position: relative;
}

.my_left_category .h2_cat{
width:206px;
height:30px;
line-height:30px;
font-weight:normal;
color:#333;
z-index: 4;
}

.my_left_category a{
font:12px;
text-decoration:none;
color:#333;
}

.my_left_category a:hover{
color:#f33;
}

.my_left_category h3{
margin:0px; 
padding:0px;
height:30px; 
font-size:12px; 
font-weight:normal;
display:block; 
padding-left:10px;
border-bottom:1px solid #fff;
clear:both; 
overflow:hidden; line-height:40px;
z-index:2;
}

.my_left_category h3 em{float:left;
width:0px; 
overflow:hidden; 
padding-top:8px;
}

.my_left_category h3 a{
line-height:30px;color:#323431;
width:185px;
font-size:14px;
font-weight:normal;
float:left;
display:block;
background:url(../images/sub/righti.png) no-repeat center right;
}

.my_left_category .h3_cat{
display:none;
width:596px;
position:absolute; 
left:206px;
height:380px;
top:0px; 
cursor:auto;
z-index:3;
}

.my_left_category .h3_cat a,
.my_left_category .h3_cat{ color:#333;}

.my_left_category .shadow{
position:inherit;
/*background:url(../images/shadow_04.gif) left top;*/
width:596px;
}

.my_left_category .shadow_border{
position:inherit; 
width:596px; 
border:1px solid #ddd; 
box-shadow:0 0 8px #ddd;
background-color:#ffffff; 
margin-bottom:3px;
z-index:5;
}
.my_left_category .shadow_border h4{ clear:both; }
.my_left_category .shadow_border ul{margin:0; padding:0;}
.my_left_category .shadow_border ul li {
list-style:none;
padding-left:10px;
background-image:url(../images/my_cat_sub_menu_dot.gif);
background-repeat:no-repeat;
background-position:0px 8px;
float:left;
width:95px;
height:27px;
overflow:hidden;
letter-spacing:0px;
} 

.my_left_category .active_cat{ cursor:pointer;}
.my_left_category .active_cat h3 { font-weight:bold; 
background:#fff; 
z-index:4;
width:196px;
overflow:hidden;
height:28px; 
line-height:28px;
border:1px solid #ddd; 
box-shadow:0 0 8px #ddd;
border-right:0px;
}
.my_left_category .active_cat h3 span{ display:none;} 

.my_left_category .shadow_border .category {
background: #fff;
float: left;
line-height: 22px;
margin: 0;
overflow: hidden;
padding: 10px;
width: 330px;
}
.my_left_category .shadow_border .category h4 { 
font-weight:bold; 
font-size:12px; 
line-height:22px; 
width:90px; 
overflow:hidden;
float:left;
margin-right:10px;
vertical-align:top; 
}
.my_left_category .shadow_border .category h4 a{ color:#cc0000;}
.my_left_category .shadow_border .category ul{ float:left; width:400px;}
.my_left_category .active_cat h4 span{ display:none;} 
.my_left_category .active_cat div{display:block;} 
.my_left_category .active_cat h3 a{ color:#cc0000; font-weight:bold}
.my_left_category .active_cat h3 a:hover{ color:#cc0000;}

.my_left_category .shadow_border .brand{
float:right;
width:220px; 
padding:10px;
overflow:hidden; 
margin:0px;  
line-height:22px;}
.my_left_category .shadow_border .brand h5{ display:none;}

.my_left_category .shadow_border .brand img{ 
width:100px;
height:40px; 
float:left; 
overflow:hidden; 
margin-left:10px; 
margin-bottom:20px;
}

.allclassmenu {width:210px;
height:27px;
z-index:999;
position:relative;
}
.classlist {left:1px;
position:absolute;
top:27px;
z-index:1;
display:none;
width:210px; 
background:#fff;
}
.classcase{
padding:16px 0;
padding-top:5px;
width:168px;
background:url(../images/allclass_bg.gif) #f8eeda no-repeat -1px bottom;
border:1px solid #d1c39a;
border-top:none;
border-bottom:none;
}
.fenlei_jianduan{
padding:5px 0px; 
width:345px; 
border-bottom:1px solid #e4e4e4; 
overflow:hidden;
}
.fthree{width:240px;float:left;}
.fthree span{
margin:0px 5px;
float:left;
height:25px;
line-height:25px;
width:70px; 
overflow:hidden;
}

